<%= form_for(@bin) do |f| %>
  <% if @bin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bin.errors.count, "error") %> prohibited this bin from being saved:</h2>

      <ul>
      <% @bin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-4">
    <form role="form">
      <h3 class="block-title">Configuration</h3>
      <br>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.number_field :name, class: "form-control col-lg-3", placeholder: "Enter the bin cards number" %>
      </div>
      <div class="field">
        <%= f.label :fiid %><br>
        <%= f.text_field :fiid, class: "form-control col-lg-3", placeholder: "Enter the FIID name" %>
      </div>
      <h3 class="block-title">Stand in</h3>
      <br>
      <div class="field">
        <%= f.label :count %><br>
        <%= f.number_field :count, class: "form-control col-lg-3", placeholder: "Enter the number transacction per day" %>
      </div>
      <div class="field">
        <%= f.label :amount %><br>
        <%= f.number_field :amount, class: "input-sm form-control mask-money", placeholder: "Enter the amount per day", maxlength: "22", autocomplete: "off"%>
      </div>
      <div class="actions">

        <%= f.submit :class => "btn btn-sm m-t-10" %>
        <%= link_to 'Back', bins_path , :class => "btn btn-sm m-t-10"%>
        <%= link_to 'Show', @bin , :class => "btn btn-sm m-t-10"%>


      </div>
    </form>
  </div>
<% end %>
