<div class="block-area" id="responsiveTable">

<h1>Listing Bins</h1>

  <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
    <table class="tile table table-bordered table-striped">
      <thead>
      <tr>
        <th>Number</th>
        <th>Fiid</th>
        <th>Count</th>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @bins.each do |bin| %>
          <tr>
            <td><%= bin.number %></td>
            <td><%= bin.fiid %></td>
            <td><%= bin.count %></td>
            <td><%= bin.amount %></td>
            <td><%= link_to 'Show', bin %></td>
            <td><%= link_to 'Edit', edit_bin_path(bin) %></td>
            <td><%= link_to 'Destroy', bin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <%= link_to 'New Bin', new_bin_path , :class => "btn btn-sm m-t-10"%>

</div>