  <p>
    <strong>Number:</strong>
    <%= @bin.number %>
  </p>

  <p>
    <strong>Fiid:</strong>
    <%= @bin.fiid %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= @bin.count %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= @bin.amount %>
  </p>

  <%= link_to 'Edit', edit_bin_path(@bin),:class => "btn btn-sm m-t-10" %> |
  <%= link_to 'Back', bins_path, :class => "btn btn-sm m-t-10" %>
