<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <% if @upload_files.count == 1 %>
          <%= page_entries_info @upload_files, entry_name: t('views.files_index.archivo') %>
        <% else %>
          <%= page_entries_info @upload_files, entry_name: t('views.files_index.archivo').pluralize %>
        <% end %>
      </div>
      <div class="detall_left">
        <%= paginate @upload_files, params: {controller: 'upload_files', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
    </div>
  </div>
</div>
<table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
  <thead>
  <tr>
    <th data-sort-ignore="true" data-visible="true" class="text-center"><%= t('views.files_index.user') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center"><%= t('views.files_index.file') %></th>
    <th data-sort-ignore="true" data-hide="phone" class="text-center"><%= t('views.files_index.date_C') %></th>
    <th data-sort-ignore="true" class="text-center"><%= t('views.files_index.destroy') %></th>
  </tr>
  </thead>
  <tbody>
  <% @upload_files.each do |upload_file| %>
    <tr>
      <td class="text-center">
        <% if upload_file.user.present? %>
          <% if upload_file.user.name.present? || upload_file.user.last_name.present? %>
            <%= upload_file.user.name %> <%= upload_file.user.last_name %>
          <% else %>
            N/A
          <% end %>
        <% else %>
          N/A
        <% end %>
      </td>
      <% if upload_file.file.present? %>
        <td class="text-center">
          <% if upload_file.file_file_name.present? %>
            <%= upload_file.file_file_name %>
          <% else %>
            N/A
          <% end %>
        </td>
      <% end %>
      <td class="text-center"><%= upload_file.created_at.strftime("%d/%m/%Y") %></td>
      <td class="text-center">
        <% if @eliminarArchive == 1 %>
          <input type="hidden" value="<%= upload_file.file_file_name %>" id="upload_file<%= upload_file.id %>">
          <button class="btn btn-danger btn-xs  eliminar blue-tooltip toldelete" data-toggle='tooltip' id="<%= upload_file.id %>">
            <i class="fa fa-trash-o"></i>
          </button>
        <% end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <%= paginate @upload_files, params: {controller: 'upload_files', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
      <div class="detall_left">
        <% if @upload_files.count == 1 %>
          <%= page_entries_info @upload_files, entry_name: t('views.files_index.archivo') %>
        <% else %>
          <%= page_entries_info @upload_files, entry_name: t('views.files_index.archivo').pluralize %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $('table').footable({});
    $('table').footable({});
    $('.toldelete').attr('title', '<%= t('views.files_index.eliminar') %>');
    $('[data-toggle="tooltip"]').tooltip();
</script>