<div id="message_true" style="display: none">
  <div class="alert alert-success alert-dismissable">
    <p>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </p>
    <div id="excel"></div>
  </div>
</div>

<div id="message_false" style="display: none">
  <div class="alert alert-danger alert-dismissable">
    <p>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div id="error"></div>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= link_to "<i class='fa fa-folder'></i> ".html_safe + t('views.files_form.btn_back'), upload_files_path, :class => "btn btn-xs btn-danger" %>
  </div>
</div>
<br>
<br>
<%= form_for @upload_file, html: {multipart: true, class: "dropzone"} do |f| %>
  <% if @upload_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload_file.errors.count, "error") %> prohibited this upload_file from being
        saved:</h2>
      <ul>
        <% @upload_file.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <div class="fallback">
        <%= f.file_field :file, :required => true, :autocomplete => :off %>
        <%= f.submit %>
      </div>
    </div>
  </div>

<% end %>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <%= link_to "<i class='fa fa-folder'></i> ".html_safe + t('views.files_form.btn_back'), upload_files_path, :class => "btn btn-xs btn-danger" %>
  </div>
</div>

<script>
    $(document).ready(function () {
        Dropzone.autoDiscover = false;
        var dropzone = new Dropzone(".dropzone", {
            dictDefaultMessage: "<%= t('views.files_form.dictDefaultMessage') %>",
            dictFallbackMessage: "<%= t('views.files_form.dictFallbackMessage') %>",
            dictFallbackText: "<%= t('views.files_form.dictFallbackText') %>",
            dictFileTooBig: "<%= t('views.files_form.dictFileTooBig') %>",
            dictInvalidFileType: "<%= t('views.files_form.dictInvalidFileType') %>",
            dictResponseError: "<%= t('views.files_form.dictResponseError') %>",
            dictCancelUpload: "<%= t('views.files_form.dictCancelUpload') %>",
            dictCancelUploadConfirmation: "<%= t('views.files_form.dictCancelUploadConfirmation') %>",
            dictRemoveFile: "<%= t('views.files_form.dictRemoveFile') %>",
            dictMaxFilesExceeded: "<%= t('views.files_form.dictMaxFilesExceeded') %>",
            maxFilesize: 256, // Set the maximum file size to 256 MB
            paramName: "upload_file[file]", // Rails expects the file upload to be something like model[field_name]
            addRemoveLinks: true, // Don't show remove links on dropzone itself.
            success: function (data, txt, file) {
                $('#message_true').css('display', 'block');
                $('#message_false').css('display', 'none');
                $('#excel').text("<%= t('views.files_index.procces') %>")
            },
            error: function (xhr, textStatus, error) {
                $('#message_true').css('display', 'none');
                $('#message_false').css('display', 'block');
                $('#error').text("<%= t('views.files_form.error') %>")
            }
        });
    });

</script>