<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.files_index.title') %></h1>
          <div class="ibox-content">
            <br>
            <br>
            <div class="row">
              <div class="col-md-4">
                <% if @crearArchive == 8 %>
                  <%= link_to "<i class='fa fa-folder'></i> ".html_safe + t('views.files_index.btn_new'), new_upload_file_path, :data => {:no_turbolink => true}, :class => "btn btn-xs btn-primary" %>
                <% end %>
              </div>
            </div>
            <br>
            <br>
            <div class="table footable" id="ta_archivos">
              <%= render :partial => "archivo" %>
            </div>
            <div class="row">
              <div class="col-md-4">
                <% if @crearArchive == 8 %>
                  <%= link_to "<i class='fa fa-folder'></i> ".html_safe + t('views.files_index.btn_new'), new_upload_file_path, :data => {:no_turbolink => true}, :class => "btn btn-xs btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        $('table').footable({});
        $('.toldelete').attr('title', '<%= t('views.files_index.eliminar') %>');
        $('[data-toggle="tooltip"]').tooltip();
        function recargar() {
            window.location.reload(true);
        }

        $(document).on("click", ".eliminar", function () {
            var id = this.id;
            var upload_file = $("#upload_file" + id).val();
            swal({
                    title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.files_index.archivo')%> ' + upload_file + '?',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                    cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                            },
                            url: "/upload_files/" + id,
                            data: {"_method": "delete"},
                        });
                        swal(
                            {
                                title: '<%= t('views.files_form.destroy')%>',
                                type: "success",
                                confirmButtonText: "OK",
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    recargar();
                                }
                            })
                    } else {
                        swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                    }
                });
        })
    });
</script>