<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.files_new.title') %>
            <span class="badge badge-secondary blue-tooltip" id="help" data-toggle="tooltip" title="<%= t('views.files_form.help') %>">?</span>
          </h1>
        </div>
        <div class="ibox-content">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $('[data-toggle="tooltip"]').tooltip();
</script>
<style>
  .blue-tooltip + .tooltip > .tooltip-inner {
    background-color: #003057;
  }
</style>