<div class="block-area" id="Panel" xmlns="http://www.w3.org/1999/html">

  <p id="notice"><%= notice %></p>

  <div class="panel panel-default tile">

    <div class="panel-heading">
      <h3 class="panel-title">Show</h3>
    </div>
    <div class="panel-body">

      <div class="block-area" id="tableBordered">
        <div class="table-responsive overflow">

          <table class="table table-bordered tile">
            <thead>
            <tr>
              <th>File:</th>
            </tr>
            </thead>
          </table>
          <tbody>
          <td><%= @upload_file.file %></td>
          </tbody>
          </table>
<%#= link_to 'Edit', edit_upload_file_path(@upload_file) %>
          <%= link_to 'Back', upload_files_path, :class => "btn btn-sm m-t-10" %>
        </div>
      </div>
    </div>
  </div>
</div>