<%= javascript_include_tag "perfiles" %>
<%= form_for @profile, :html => {:id => 'regi'} do |f| %>
  <div class="container">
<%# <%******************************* Nombre *********************************%>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" align="center">
        <label class="requerido"><%= t('activerecord.atributes.name') %></label>
        <%= f.text_field :name, :class => 'form-control', autocomplete: "off", maxlength: '255', :id => "name", placeholder: t('activerecord.atributes.name') %>
        <small id="namelab" style="display: none;">.</small>
      </div>
    </div>
<%# <%************************** Select Area *********************************%>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4 form-group" align="center">
        <%= f.label t('activerecord.atributes.area'), {:id => 'labelArea', class: "requerido"} %>
        <select class="form-control" id="area" name="profile[area_id]">
          <option value=0> <%= t('views.users_change.placeh_area_u_change') %> </option>
          <% @areas.each do |ar| %>
            <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
          <% end %>
        </select>
        <small id="arealab" style="display: none;">.</small>
      </div>
    </div>
<%# <%************************** Select Profile *********************************%>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4 form-group" align="center">
        <% if @crear %>
          <%= f.label t('views.permisos_edit.below'), {:style => 'display: none;', :id => 'labelProfile'} %>
          <select id="prof" name="profile[profile_id]" class="form-control" style="display: none;">
            <option value=0><%= t('views.users_change.placeh_profile_u_change') %></option>
          </select>
        <% else %>
          <%= f.label t('views.permisos_edit.below'), {:id => 'labelProfile'} %>
          <select id="prof" name="profile[profile_id]" class="form-control">
            <option value=0><%= t('views.users_change.placeh_profile_u_change') %></option>
            <% @allprofiles.each do |ar| %>
              <% a = 0 %>
              <% if ar.flag != a && ar.flag != 2 && ar.flag != @profile.flag %>
                <optgroup class="option_dynamic" label="<%= t('views.permisos_edit.level') %>
                  <% if ar.flag >= 2 %><%= ar.flag - 1 %>
                  <% else %><%= ar.flag %>
                  <% end %>">
                  <% if ar.flag != 2 %>
                    <option value="<%= ar[:id] %>" class="option_dynamic"><%= ar[:name] %> </option>
                  <% end %>
                </optgroup>
              <% else %>
                <% if ar.flag != 2 %>
                  <option value="<%= ar[:id] %>" class="option_dynamic"><%= ar[:name] %> </option>
                <% end %>
              <% end %>
              <% a = ar.flag %>
            <% end %>
          </select>
        <% end %>
        <small id="proflab" style="display: none;">.</small>
      </div>
    </div>
<%# <%************************** BTN Select All *********************************%>
    <div class="row">
      <div class="col-xs-12 col-md-2 col-lg-2 col-md-offset-7 col-lg-offset-10">
        <button type="button" class="btn btn-block btn-primary" id="check_all">
          <label> <%= t('views.permisos_edit.select') %> </label>
        </button>
      </div>
    </div>
<%# <%****************************** Tabla *************************************%>
    <div class="table-responsive">
      <table class="table table-striped table-hover" style="text-align: center;">
        <thead>
        <tr>
          <th class="text-center"><label><%= t('views.permisos_edit.attribute') %></label></th>
          <th class="text-center"><label><%= t('views.new_view.create') %></label></th>
          <th class="text-center"><label><%= t('views.new_view.edit') %></label></th>
          <th class="text-center"><label><%= t('views.new_view.read') %></label></th>
          <th class="text-center"><label><%= t('views.new_view.delete') %></label></th>
          <th class="text-center"><label><%= t('views.profiles_new.start_hour') %></label></th>
          <th class="text-center"><label><%= t('views.profiles_new.final_hour') %></label></th>
        </tr>
        </thead>
        <tbody>
        <% c = 1;f = @fs.father %>
        <% @permis.each do |p| %>
          <% if f != p.view.father %>
            <% f = p.view.father; c = 1 %>
          <% end %>
          <% if c == 1 %>
            <tr>
              <td colspan="7" bgcolor="#003057" style="color:white;"><%= t("views.profiles_show.#{View.find_by_id(p.view.father).name}") %></td>
            </tr>
            <% c += 1 %>
          <% end %>
          <tr>
            <td><%= t("views.profiles_show.#{p.view_name}") %></td>
            <td>
              <% if p.view.crear == 1 %>
                <div class="checkbox checkbox-primary">
                  <input name="<%= p.view_name %>_crear" class="chk" type="checkbox" value="8"
                         <% if p.crear == 8 %> checked
                         <% end %>><label/></div>
              <% else %>--
              <% end %></td>
            <td>
              <% if p.view.editar == 1 %>
                <div class="checkbox checkbox-primary">
                  <input name="<%= p.view_name %>_editar" class="chk" type="checkbox" value="4"
                         <% if p.editar == 4 %> checked
                         <% end %>><label/></div>
              <% else %>--
              <% end %></td>
            <td>
              <% if p.view.leer == 1 %>
                <div class="checkbox checkbox-primary">
                  <input name="<%= p.view_name %>_leer" class="chk" type="checkbox" value="2"
                         <% if p.leer == 2 %> checked
                         <% end %>><label/></div>
              <% else %>--
              <% end %></td>
            <td>
              <% if p.view.eliminar == 1 %>
                <div class="checkbox checkbox-primary">
                  <input name="<%= p.view_name %>_eliminar" class="chk" type="checkbox" value="1"
                         <% if p.eliminar == 1 %> checked
                         <% end %>><label/></div>
              <% else %>--
              <% end %></td>
            <td align="center">
              <input type="text" id="inicial_<%= p.view_name %>" class="form-control clockpicker<%= p.view_name %>" value="<%= p.horainicial.strftime("%H:%M") %>" name="<%= p.view_name %>_start" style="text-align: center; width: auto;">
            </td>
            <td align="center">
              <input type="text" id="final_<%= p.view_name %>" class="form-control clockpicker<%= p.view_name %>" value="<%= p.horafinal.strftime("%H:%M") %>" name="<%= p.view_name %>_end" style="text-align: center; width: auto;">
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


<%# <%****************************** Tabla *************************************%>
    <div class="col-md-12">
      <button type="submit" , class="btn btn-xs btn-primary" , value="<%= t('all.save') %>" , name="btnSave">
        <i class="fa fa-floppy-o"></i>  <%= t('all.save') %>
      </button>
      <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('all.cancelar'), profiles_path, :class => 'btn btn-xs btn-danger dim' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
    <% @permis.each do |p| %>
    let ini<%=p.view_name%> = document.getElementById('inicial_<%=p.view_name%>');
    let fin<%=p.view_name%> = document.getElementById('final_<%=p.view_name%>');
    $('.clockpicker<%=p.view_name%>').clockpicker({
        autoclose: true,
        'default': 'now',
        afterDone: function () {
            if (ini<%=p.view_name%>.value > fin<%=p.view_name%>.value) {
                fin<%=p.view_name%>.value = "00:00"
            }
        }
    });
    <% end%>
</script>
<script type="text/javascript">

    let sel = document.getElementById('area')
    sel.value = '<%=@profile.area_id%>'
    let selp = document.getElementById('prof')
    selp.value = '<%=@profile.id%>'

    //*************************** Select All *************************************

    var x = document.getElementsByClassName('chk'),
        y = $('.chk:checked'),
        c = true;
    let btn = document.getElementById('check_all');

    y.length == x.length ? (c = false, btn.innerHTML = '<%=t('views.permisos_edit.unselect')%>') : (c = true)
    btn.addEventListener('click', function () {
        for (var i = 0; i < x.length; i++) {
            x[i].checked = c
        }
        c == true ? (btn.innerHTML = '<%=t('views.permisos_edit.unselect')%>') : (btn.innerHTML = '<%=t('views.permisos_edit.select')%>')
        c = !c;
    });
    //********************************* Ajax ************************************

    $("#area").change(function () {
        let id_area = this.value;
        let s = 0;
        $('.option_dynamic').remove();
        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: '/profiles/consult_profiles',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                area_id: id_area
            }),
            success: function (data) {
                let label_perfil = document.getElementById('labelProfile');
                let select_perfil = document.getElementById('prof');
                if (data.length > 0) {
                    for (const d of data) {
                        if (d.flag != 2) {
                            if (d.flag != s) {
                                let goption = document.createElement("OPTGROUP");
                                let option = document.createElement("OPTION");
                                goption.setAttribute('label', "<%=t('views.permisos_edit.level')%> " + d.flag);
                                goption.setAttribute('class', 'option_dynamic');
                                option.setAttribute('value', `${d.id}`);
                                option.setAttribute('class', 'option_dynamic')
                                option.innerHTML = `${d.name}`;
                                select_perfil.appendChild(goption)
                                goption.appendChild(option)
                                s = d.flag
                            } else {
                                let option = document.createElement("OPTION");
                                option.setAttribute('value', `${d.id}`);
                                option.setAttribute('class', 'option_dynamic')
                                option.innerHTML = `${d.name}`;
                                select_perfil.appendChild(option)
                            }
                        }
                    }
                    select_perfil.style.display = 'block';
                    label_perfil.style.display = 'block';
                } else {
                    select_perfil.style.display = 'none';
                    label_perfil.style.display = 'none';
                }
            }

        });
    });

</script>
