<%# <%********************* Sweetalert No Results *************************** %>
<% if @error.present? %>
  <script>
      swal({ title: "<%= t('all.no_filter')%>", type: "error" });
  </script>
<% end %>
<%# <%*********************** Mostrar Busqueda actual *******************************%>
<% if @busqueda.present? %>
  <div class="row">
    <div class="col-md-3">
      <h3><%= t('all.query') %>: <%= @busqueda %></h3>
    </div>
  </div>
<% end %>
<%# <%********************** Paginacion & Boton Crear *******************************%>
<div class="row">
  <div class="col-xs-4 col-md-4">
    <% if @permisos[0] == 8 %>
        <%= link_to '<span class="fa fa-user"></span> '.html_safe + t('views.perfils_index.new'), new_profile_path, :class => 'btn btn-primary btn-xs' %>
    <% end %>
  </div>
  <div class="col-xs-8 col-md-8 form-group" align="right">
      <div class="detall_right">
        <%= page_entries_info @profiles, entry_name: t('views.perfils') %>
      </div>
      <div class="pag_right">
        <%= paginate @profiles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
      </div>
  </div>
</div>
<%# <%********************** Tabla Perfiles *******************************%>
<div id="tabla_usuarios" style="overflow: auto;">
  <table class="table footable no-paging">
    <thead>
    <tr>
      <th class="text-left" data-sort-ignore="true"><%= t('activerecord.atributes.name') %></th>
      <th class="text-center" data-sort-ignore="true"><%= t('activerecord.atributes.area') %></th>
      <% if @permisos[2] == 2 %><th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.show') %></th><% end %>
      <% if @permisos[1] == 4 %><th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.edit') %></th><% end %>
      <% if @permisos[3] == 1 %><th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.delete') %></th><% end %>
    </tr>
    </thead>
    <tbody>
    <% @profiles.each do |perfil| %>
    <tr>
      <td class="text-left"><%= perfil.name %></td>
      <td class="text-center"><%= perfil.area.name %></td>
      <td class="text-center">
        <% if @permisos[2] == 2 && current_user.profile.flag <= perfil.flag %><%= link_to '<i class="fa fa-file-text"></i>'.html_safe, perfil, class:"btn btn-xs btn-primary", :data =>{toggle:"tooltip"}, title: t('views.profiles_show.title_p_show') %><%end%>
      </td>
      <td class="text-center">
        <% if @permisos[1] == 4 && current_user.profile.flag <= perfil.flag && perfil.id != current_user.profile_id %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_profile_path(perfil), class:"btn btn-xs btn-warning", :data =>{toggle:"tooltip"}, title: t('views.profiles_edit.title_p_edit')%><%end%>
      </td>
      <td class="text-center">
        <% if @permisos[3] == 1 && current_user.profile.flag <= perfil.flag && perfil.id != current_user.profile_id %>
        <input type="hidden" value="<%= perfil.name %>" id="profile<%= perfil.id %>">
        <button class="btn btn-xs btn-danger eliminar" type="button" id="<%= perfil.id %>" data-toggle ="tooltip" title="<%=t('views.profiles_delete.tooltip')%>" >
          <i class="fa fa-trash-o"></i>
        </button>
        <%end%>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%# <%********************** Paginacion & Boton Crear *******************************%>
<div class="row">
  <div class="col-xs-4 col-md-4">
    <% if @permisos[0] == 8 %>
        <%= link_to '<span class="fa fa-user"></span> '.html_safe + t('views.perfils_index.new'), new_profile_path, :class => 'btn btn-primary btn-xs' %>
    <% end %>
  </div>
  <div class="col-xs-8 col-md-8 form-group" align="right">
      <div class="detall_right">
        <%= page_entries_info @profiles, entry_name: t('views.perfils') %>
      </div>
      <div class="pag_right">
        <%= paginate @profiles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
      </div>
  </div>
</div>

<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>
<script>
      $('table').footable({paginate: false});
</script>
