<div class="row">
  <div class="animated fadeInRight col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.title_perfil') %></h1>
        <div class="panel ibox-content">
<%# <%****************************** Body *********************************** %>
<%# <%*********************** Barra de busqueda *******************************%>
          <%= form_tag({:controller => "profiles", :action => "index"}, :method => "get", id: "perfilsearch") do %>
            <div class="row">
              <div class="col-xs-10 col-md-4 form-group">
                <div class="input-group">
                  <input type="search" class="form-control" name="search" autocomplete="off" id="user_serach" placeholder="<%= t('all.placehol_search') %>">
                  <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: 'btn btn-primary', id: "btnrt") do %>
                <i class="fa fa-search"></i> <%= t('all.btn_search') %>
                <% end %>
              </span>
                </div>
              </div>
              <div class="col-md-2 col-xs-2" style="padding-left: 0px;">
                <span class="badge badge-secondary red-tooltip" id="help" data-toggle="tooltip" title="<%= t('all.help') %>">? </span>
                <span class="badge" id="alebus" style="display: none">
              <%= t('all.help') %>
            </span>
              </div>
            </div>
          <% end %>

          <div id="perfiltabla"><%= render 'perfiltabla' %></div>
<%# <%****************************** Body *********************************** %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnrt").click(function () {
            $.get($("#perfilsearch").attr("action"), $("#perfilsearch").serialize(), null, "script");
            return false;
        });
    });

    $('#user_serach').on('input', function () {
        if ($('#user_serach').val().trim() == "") {
            $("#btnrt").click();
        }
    });

    $(document).on("click", ".eliminar", function () {
        var id = this.id;
        var perf = $("#profile" + id).val();
        swal({
                title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.perfil')%>  ' + perf + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    swal({
                            title: '<%= t('views.mess_apli_title2_p')%>',
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                            cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: "POST",
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                    },
                                    url: "/profiles/" + id,
                                    data: {"_method": "delete"},
                                })
                                swal(
                                    {
                                        title: '<%= t('views.mess_apli_swall')%>',
                                        type: "success",
                                        confirmButtonText: "OK",
                                    }, function (isConfirm) {
                                        if (isConfirm) {
                                            window.location.reload(true);
                                        }
                                    })
                            } else {
                                swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                            }
                        })
                } else {
                    swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                }
            });
    })
</script>
