<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.profiles_new.title_p_new') %></h1>
        <div class="panel ibox-content">
          <%= render 'form', name_profile: @name_profile %>
        </div>
      </div>
    </div>
  </div>
</div>
