<div class="row" id="Panel">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.profiles_show.title_p_show') %></h1>
        <div class="panel ibox-content">
<%# <%****************************** Body *********************************** %>
          <div class="container">
            <div class="form-group" align="center">
              <strong><%= t('activerecord.atributes.name') %>:</strong>
              <%= @profile.name %>
              <br/>
              <strong><%= t('activerecord.atributes.area') %>:</strong>
              <% if @profile.area.present? || @profile.area.name.present? %>
                <%= @profile.area.name %>
              <% else %>N/A
              <% end %>
            </div>
            <table class="table table-striped table-hover" style="text-align: center;">
              <thead>
              <tr>
                <th colspan="1"></th>
                <th class="text-center"><label><%= t('views.new_view.create') %></label></th>
                <th class="text-center"><label><%= t('views.new_view.edit') %></label></th>
                <th class="text-center"><label><%= t('views.new_view.read') %></label></th>
                <th class="text-center"><label><%= t('views.new_view.delete') %></label></th>
                <th class="text-center"><label><%= t('views.profiles_new.start_hour') %></label></th>
                <th class="text-center"><label><%= t('views.profiles_new.final_hour') %></label></th>
              </tr>
              </thead>
              <tbody>
              <% c = 1;f = @fs.father %>
              <% @total_profile.each do |p| %>
                <% if f != p.view.father %>
                  <% f = p.view.father; c = 1 %>
                <% end %>
                <% if c == 1 %>
                  <tr>
                    <td colspan="7" bgcolor="#003057" style="color:white;"><%= t("views.profiles_show.#{View.find_by_id(p.view.father).name}") %></td>
                  </tr>
                  <% c += 1 %>
                <% end %>
                <tr>
                  <td><%= t("views.profiles_show.#{p.view_name}") %></td>
                  <td>
                    <% if p.view.crear == 1 %>
                      <% if p.crear == 8 %> <span class="fa fa-check"></span>
                      <% else %><span class="fa fa-times"></span>
                      <% end %>
                    <% else %>--
                    <% end %></td>
                  <td>
                    <% if p.view.editar == 1 %>
                      <% if p.editar == 4 %><span class="fa fa-check"></span>
                      <% else %><span class="fa fa-times"></span>
                      <% end %>
                    <% else %>--
                    <% end %></td>
                  <td>
                    <% if p.view.leer == 1 %>
                      <% if p.leer == 2 %> <span class="fa fa-check"></span>
                      <% else %><span class="fa fa-times"></span>
                      <% end %>
                    <% else %>--
                    <% end %></td>
                  <td>
                    <% if p.view.eliminar == 1 %>
                      <% if p.eliminar == 1 %> <span class="fa fa-check"></span>
                      <% else %><span class="fa fa-times"></span>
                      <% end %>
                    <% else %>--
                    <% end %></td>
                  <td align="center">
                    <input type="text" id="inicial_<%= p.view_name %>" class="form-control" value="<%= p.horainicial.strftime("%H:%M") %>" name="<%= p.view_name %>_start" style="text-align: center; width: auto; cursor: default;" disabled>
                  </td>
                  <td align="center">
                    <input type="text" id="final_<%= p.view_name %>" class="form-control" value="<%= p.horafinal.strftime("%H:%M") %>" name="<%= p.view_name %>_end" style="text-align: center; width: auto; cursor: default;" disabled>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <% if @permisos[1] == 4 %>
            <% if current_user.profile.flag == 0 && current_user.profile_id != @profile.id %>
              <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.profiles_show.edit_p_show'), edit_profile_path(@profile), :class => 'btn btn-xs btn-primary dim' %>
            <% else %>
              <% if @profile.flag > current_user.profile.flag && @consulta_areas.includes?(@profile.area_id) %>
                <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.profiles_show.edit_p_show'), edit_profile_path(@profile), :class => 'btn btn-xs btn-primary dim' %>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('all.back'), profiles_path, :class => 'btn btn-xs btn-warning dim' %>
<%# <%****************************** Body *********************************** %>
        </div>
      </div>
    </div>
  </div>
</div>
