<% if @filtro.present? %>
  <div class="row">
    <div class="col-md-3">
      <h4><%= t('all.query') %>: <%= @filtro %></h4>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <%= link_to '<i class = "fa fa-eraser"></i> '.html_safe + t('all.clean'), ptlfs_filtro_path, :class => 'btn btn-xs btn-primary', :data => {:no_turbolink => true} %>
      </div>
    </div>
  </div>
<% end %>
<% if @ptlfs.present? %>
  <!-- Paginacion -->
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3"></div>
    <div class="col-md-5 text-right">
      <div style="margin-bottom: 2em;">
        <div class="pag_right">
          <% if @ptlfs.count == 1 %>
            <%= page_entries_info @ptlfs, entry_name: t('views.ptlfs_filtro.reporte') %>
          <% else %>
            <%= page_entries_info @ptlfs, entry_name: t('views.ptlfs_filtro.reporte').pluralize %>
          <% end %>
        </div>
        <div class="detall_left">
          <%= paginate @ptlfs %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
  <table id="export" class="table footable" data-show-toggle="false" data-expand-first="true" data-page-size="20">
    <thead>
    <tr>
      <th data-visible="true" class="text-center"><%= t('views.ptlfs_index.region') %></th>
      <th data-hide="phone,tablet" class="text-center"><%= t('views.ptlfs_index.district') %></th>
      <th data-hide="phone,tablet" class="text-center"><%= t('views.ptlfs_index.store') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.created_at') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.register_id') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.tran_num') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.service_num') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.tran_id') %></th>
      <th data-hide="phone,tablet" class="text-center"><%= t('views.ptlfs_index.account') %></th>
      <th data-hide="phone,tablet" class="text-center"><%= t('views.ptlfs_index.account_type') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.check_number') %></th>
      <th data-hide="phone,tablet" class="text-center"><%= t('views.ptlfs_index.client') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.tran_type') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.tran_results') %></th>
      <th data-hide="phone,tablet" class="text-center"><%= t('views.ptlfs_index.response_code') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.contract') %></th>
      <th data-hide="phone,tablet" class="text-center"><%= t('views.ptlfs_index.amount') %></th>
      <th data-hide="phone,tablet" class="text-center"><%= t('views.ptlfs_index.approval') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.dev_status') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.check_status') %></th>
      <th class="text-center" data-hide="phone,tablet" data-sort-ignore="true"><%= t('views.ptlfs_index.recovery_status') %></th>
      <th class="text-center"><%= t('views.ptlfs_index.edit') %></th>
    </tr>
    </thead>
    <tbody>
    <%= @notice %>
    <% if @ptlfs.present? %>
      <% @ptlfs.each do |ptlf| %>
        <% @dato_store = Affiliation.find_by_affiliation_id(ptlf.affiliation_id) %>
        <tr>
          <!--Region-->
          <td class="text-center">
            <% if @dato_store.present? %>
              <% if @dato_store.region.present? %>
                <% if @dato_store.region.name.present? %>
                  <%= @dato_store.region.name %>
                <% else %>
                  N/A
                <% end %>
              <% else %>
                N/A
              <% end %>
            <% else %>
              N/A
            <% end %>
          </td>
          <!--Distrito-->
          <td class="text-center">
            <% if @dato_store.present? %>
              <% if @dato_store.district.present? %>
                <% if @dato_store.district.name.present? %>
                  <%= @dato_store.district.name %>
                <% else %>
                  N/A
                <% end %>
              <% else %>
                N/A
              <% end %>
            <% else %>
              N/A
            <% end %>
          </td>
          <!--Tienda-->
          <td class="text-center">
            <% if @dato_store.present? %>
              <% if @dato_store.name.present? %>
                <%= @dato_store.name %>
              <% else %>
                N/A
              <% end %>
            <% else %>
              N/A
            <% end %>
          </td>
          <!--Fecha-->
          <td class="text-center">
            <%= ptlf.created_at.strftime("%d/%m/%Y  %H:%M:%S") %>
          </td>
          <!--ID Registro -->
          <td class="text-center">
            <% if ptlf.registration_id.present? %>
              <%= ptlf.registration_id %>
            <% else %>
              N/A
            <% end %>
          </td>
          <!-- Numero de Transacción -->
          <td class="text-center">
            <% if ptlf.transaction_number.present? %>
              <%= ptlf.transaction_number %>
            <% else %>
              N/A
            <% end %>
          </td>
          <!-- Numero de Servicio -->
          <td class="text-center">
            <% if ptlf.service_number.present? %>
              <%= ptlf.service_number %>
            <% else %>
              N/A
            <% end %>
          </td>
          <!-- ID Transaccion -->
          <td class="text-center"><%= ptlf.id %></td>
          <!-- Numero de Cuenta -->
          <td class="text-center">
            <% if ptlf.card.present? %>
              <%= ptlf.card.number_card %>
            <% else %>
              N/A
            <% end %>

          </td>
          <!-- Tipo de Cuenta -->
          <td class="text-center">
            <% if ptlf.card.present? %>
              <% if ptlf.card.cardType.present? %>
                <%= ptlf.card.cardType.name %>
              <% end %>
            <% else %>
              N/A
            <% end %>
          </td>
          <!-- Numero de Cheque -->
          <td class="text-center">
            <% if ptlf.check_number.present? %>
              <%= ptlf.check_number %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td class="text-center">
            <% if ptlf.card.present? %>
              <% if ptlf.card.client.name.present? %>
                <%= ptlf.card.client.name %>
              <% end %>
              <% if ptlf.card.client.last_name.present? %>
                <%= ptlf.card.client.last_name %>
              <% end %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td class="text-center">
            <% if ptlf.transacctionType.present? %>
              <% if ptlf.transacctionType.name.present? %>
                <%= ptlf.transacctionType.name %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center">
            <% if ptlf.response_code.present? %>
              <% if ptlf.response_code == '02' %>
                <%= t('views.ptlfs_index.authorized') %>
              <% elsif ptlf.response_code == '13' %>
                <%= t('views.ptlfs_index.rejected') %>
              <% elsif ptlf.response_code == '14' %>
                NA
              <% elsif ptlf.response_code == '12' %>
                NA
              <% elsif ptlf.response_code == '51' %>
                <%= t('views.ptlfs_index.no_edit') %>
              <% elsif ptlf.response_code == '53' %>
                <%= t('views.ptlfs_index.no_edit') %>
              <% elsif ptlf.response_code == '61' %>
                <%= t('views.ptlfs_index.no_edit') %>
              <% elsif ptlf.response_code == '76' %>
                <%= t('views.ptlfs_index.no_edit') %>
              <% elsif ptlf.response_code == '93' %>
                <%= t('views.ptlfs_index.no_edit') %>
              <% else %>
                <%= t('views.ptlfs_index.code_no') %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center">
            <% if ptlf.response_code.present? %>
              <% if ptlf.response_code == '02' %>
                <%= t('views.ptlfs_filtro.approval') %>
              <% elsif ptlf.response_code == '13' %>
                <%= t('views.ptlfs_filtro.invalid_amount') %>
              <% elsif ptlf.response_code == '14' %>
                <%= t('views.ptlfs_filtro.invalid_account') %>
              <% elsif ptlf.response_code == '12' %>
                <%= t('views.ptlfs_filtro.invalid_transaction') %>
              <% elsif ptlf.response_code == '51' %>
                <%= t('views.ptlfs_filtro.insuf_balance') %>
              <% elsif ptlf.response_code == '53' %>
                <%= t('views.ptlfs_filtro.none_account') %>
              <% elsif ptlf.response_code == '61' %>
                <%= t('views.ptlfs_filtro.exceeds_floor') %>
              <% elsif ptlf.response_code == '76' %>
                <%= t('views.ptlfs_filtro.blocked_account') %>
              <% elsif ptlf.response_code == '93' %>
                <%= t('views.ptlfs_filtro.operation_uni') %>
              <% else %>
                <%= t('views.ptlfs_index.code_no') %>
              <% end %>
            <% end %>
          </td>
          <td class="text-center"><%= ptlf.affiliation_id %></td>
          <!--                      <td class="text-center">$<%#= number_with_delimiter(number_with_precision (ptlf.amount.to_f) / 100, precision: 2) %></td>-->
          <td class="text-center"><%= number_to_currency((ptlf.amount.to_f) / 100, locale: :en) %></td>
          <td class="text-center"><%= ptlf.approval %></td>
          <td class="text-center">
            <% if ptlf.devolution == true %>
              <%= t('views.ptlfs_filtro.returned') %>
            <% elsif ptlf.devolution == false %>
              <%= t('views.ptlfs_filtro.no_returned') %>
            <% end %>
          </td>
          <td class="text-center">
            <% if ptlf.returned_balance == true %>
              <%= t('views.ptlfs_filtro.cashed') %>
            <% elsif ptlf.returned_balance == false %>
              <%= t('views.ptlfs_filtro.in_proccess') %>
            <% end %>
          </td>
          <td class="text-center">
            <% if ptlf.recovered == true %>
              <%= t('views.ptlfs_form.recovered') %>
            <% elsif ptlf.recovered == false %>
              <%= t('views.ptlfs_show.unrecovered') %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td class="text-center">
            <% if @editarPtlf == 4 %>
              <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_ptlf_path(:id => ptlf, :id_card => ptlf.card_id), :data => {:no_turbolink => true}, title: "Edit satuss" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<% if @ptlfs.present? %>
  <!-- Paginacion -->
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3"></div>
    <div class="col-md-5 text-right">
      <div style="margin-bottom: 2em;">
        <div class="pag_right">
          <%= paginate @ptlfs %>
        </div>
        <div class="detall_left">
          <% if @ptlfs.count == 1 %>
            <%= page_entries_info @ptlfs, entry_name: t('views.ptlfs_filtro.reporte') %>
          <% else %>
            <%= page_entries_info @ptlfs, entry_name: t('views.ptlfs_filtro.reporte').pluralize %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>