<%= form_for @ptlf, :html => {:id => "form1"} do |f| %>

  <% if @ptlf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ptlf.errors.count, "error") %> prohibited this router from being saved:</h2>
      <ul>
        <% @ptlf.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @error.present? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">x</button>
      <p><%= @error %></p>
    </div>
  <% end %>

  <% if @ptlf.card.present? %>
    <% if @ptlf.card.id.present? %>
      <input type="hidden" name="id_card" value="<%= @ptlf.card.id %>" class="form-control input-sn">
    <% end %>

    <div class="row">
      <div class="col-md-12 form-group text-center">
        <h4><%= t('views.ptlfs_form.initial') %></h4>
        <%= number_to_currency((@ptlf.card.initial_balance.to_f) / 100, locale: :en) %>
<!--        $ <%#= number_with_delimiter(number_with_precision (@ptlf.card.initial_balance.to_f)/100, precision: 2) %>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group text-center">
        <h4><%= t('views.ptlfs_form.actual') %></h4>
        <%= number_to_currency((@ptlf.card.actual_balance.to_f) / 100, locale: :en) %>
<!--        $ <%#= number_with_delimiter(number_with_precision (@ptlf.card.actual_balance.to_f)/100, precision: 2) %>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group text-center">
        <h4><%= t('views.ptlfs_form.amount') %></h4>
        <%= number_to_currency((@ptlf.amount.to_f) / 100, locale: :en) %>
<!--        $ <%#= number_with_delimiter(number_with_precision (@ptlf.amount.to_f)/100, precision: 2) %>-->
      </div>
    </div>

  <% end %>

  <div class="row">
    <div class="col-md-12 form-group text-center">
      <label for="dev">
        <%= t('views.ptlfs_form.devolution') %>
      </label>
      <div class="checkbox checkbox-primary">
        <%= f.check_box :devolution, :id => "dev" %>
        <label for="dev"></label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-group text-center">
      <label id="labelreco" for="rec" style="display: none">
        <%= t('views.ptlfs_form.recovered') %>
      </label>
      <div class="checkbox checkbox-primary" id="recovered">
        <%= f.check_box :recovered, :id => "rec" %>
        <label for="rec"></label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 form-group text-center">
      <label><%= t('views.ptlfs_form.paid_balan') %></label>
      <% if (@ptlf.returned_balance == true) %>
        : <%= t('views.ptlfs_form.paid') %>
      <% elsif (@ptlf.returned_balance == false) && (@ptlf.response_code == '02') && (@ptlf.devolution == false) %>
        <div class="checkbox checkbox-primary">
          <%= f.check_box :returned_balance %>
          <label for="ptlf_returned_balance"></label>
        </div>
      <% else %>
        : <%= t('views.ptlfs_form.status') %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: 'submit', name: 'commit', :class => 'btn btn-xs btn-primary', :data => {:no_turbolink => true}) do %>
        <i class="fa fa-upload"></i> <%= t('views.ptlfs_form.btn_save') %>
      <% end %>

      <%= link_to ('<i class="fa fa-money"></i> ').html_safe + t('views.client_form.btn_back'), ptlf_path, :data => {:no_turbolink => true}, :class => 'btn btn-xs btn-primary' %>
    </div>
  </div>
<% end %>
<script>
    $(document).ready(function () {
        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {color: '#003057'});
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('#form1').ready(function () {

            var valor = $("#dev").prop('checked')
            if (valor == false) {
                $("#recovered").css("display", "none")
            }

        })

        $('#dev').click(function () {

            var n = $('#dev').prop("checked")

            if (n == true) {
                $("#recovered").css("display", "block")
                $("#labelreco").css("display", "block")
                $("#rec").attr("disabled", false)
            }
            else if (n == false) {
                $("#recovered").css("display", "none")
                $("#labelreco").css("display", "none")
                $("#rec").attr("disabled", true)

            }


        })
    })
</script>