<%= stylesheet_link_tag 'footable/footable.core' %>
<%= javascript_include_tag 'footable/footable.js' %>
<%= yield :javascript %>
<script>
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        // var today = now.getFullYear() + "/" + (month) + "/" + (day);
        var today = (day) + "/" + (month) + "/" + now.getFullYear();
        $('#today').val(today);
        var first = new Date();
        var dayF = ("0" + (first.getDate() - first.getDate() + 1)).slice(-2);
        var monthF = ("0" + (first.getMonth() + 1)).slice(-2);
        // var firstT = first.getFullYear() + "/" + (monthF) + "/" + (dayF);
        var firstT = (dayF) + "/" + (monthF) + "/" + first.getFullYear();
        $('#firstdate').val(firstT);
    });
    $(document).ready(function () {
        $("#enabled").click(function (evento) {
                var fechaChe = $("#enabled").prop('checked');
                if (fechaChe != false) {
                    $("#firstdate").attr("disabled", false);
                    $("#today").attr("disabled", false);
                } else {
                    $("#firstdate").attr("disabled", true);
                    $("#today").attr("disabled", true);
                }
            }
        );
    });
</script>
<div class="row block-area wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.ptlfs_filtro.title') %></h1>
          <div class="ibox-content">
            <div class="block-area" id="responsiveTable">
              <%= form_tag({:controller => "ptlfs", :action => "filtro"}, :id => 'form', :method => "get") do %>
                <!--              <section class="container ">-->
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <select name="Region" class="form-control input-md">
                        <option value="" selected="selected"><b><%= t('views.ptlfs_index.region') %></b></option>
                        <% Region.all.each do |datos| %>
                          <option value="<%= datos.id %>"><%= datos.name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select name="District" class="form-control input-md">
                        <option value="" selected="selected"><b><%= t('views.ptlfs_index.district') %></b></option>
                        <% District.all.each do |datos| %>
                          <option value="<%= datos.id %>"><%= datos.name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select name="Store" class="form-control input-md">
                        <option value="" selected="selected"><b><%= t('views.ptlfs_index.store') %></b></option>
                        <% Affiliation.all.each do |datos| %>
                          <option value="<%= datos.id %>"><%= datos.name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select name="Tran_Res" class="form-control input-md">
                        <option value="" selected="selected"><b><%= t('views.ptlfs_index.tran_results') %></b>
                        </option>
                        <option value="1"><%= t('views.ptlfs_index.authorized') %></option>
                        <option value="2"><%= t('views.ptlfs_index.rejected') %></option>
                        <option value="3">N/A</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <%= text_field_tag "Name", "", id: 'name', :size => 40, :maxlenght => 40, :class => 'form-control input-md', :autocomplete => :off, :placeholder => t('views.ptlfs_index.client') %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <%= text_field_tag "Account", "", id: 'account', :size => 40, :maxlenght => 40, :class => 'form-control input-md', :autocomplete => :off, :placeholder => t('views.ptlfs_index.account') %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <%= text_field_tag "Contract", "", id: 'contract', :size => 40, :maxlenght => 40, :class => 'form-control input-md', :autocomplete => :off, :placeholder => t('views.ptlfs_index.contract_number') %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <%= select_tag "Card_Type", options_from_collection_for_select(CardType.all, "id", "name"), include_blank: t('views.ptlfs_index.select_card'), :class => 'form-control input-md' %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <select name="Response" class="form-control input-md">
                        <option value="" selected="selected"><b><%= t('views.ptlfs_index.response_code') %></b></option>
                        <option value="02"><%= t('views.ptlfs_filtro.approval') %></option>
                        <option value="13"><%= t('views.ptlfs_filtro.invalid_amount') %></option>
                        <option value="14"><%= t('views.ptlfs_filtro.invalid_account') %></option>
                        <option value="12"><%= t('views.ptlfs_filtro.invalid_transaction') %></option>
                        <option value="51"><%= t('views.ptlfs_filtro.insuf_balance') %></option>
                        <option value="53"><%= t('views.ptlfs_filtro.none_account') %></option>
                        <option value="61"><%= t('views.ptlfs_filtro.exceeds_floor') %></option>
                        <option value="76"><%= t('views.ptlfs_filtro.blocked_account') %></option>
                        <option value="93"><%= t('views.ptlfs_filtro.operation_uni') %></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select name="Transaction" class="form-control input-md">
                        <option value="" selected="selected"><b><%= t('views.ptlfs_index.tran_type') %></b></option>
                        <% TransacctionType.all.each do |datos| %>
                          <option value="<%= datos.id %>"><%= datos.name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select name="Devolution" class="form-control input-md">
                        <option value="" selected="selected"><b><%= t('views.ptlfs_index.dev_status') %></b></option>
                        <option value="true"><%= t('views.ptlfs_filtro.returned') %></option>
                        <option value="false"><%= t('views.ptlfs_filtro.no_returned') %></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select name="Check" class="form-control input-md">
                        <option value="" selected="selected"><b><%= t('views.ptlfs_index.check_status') %></b>
                        </option>
                        <option value="true"><%= t('views.ptlfs_filtro.cashed') %></option>
                        <option value="false"><%= t('views.ptlfs_filtro.in_proccess') %></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="form-group">
                      <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="enabled" checked>
                        <label>
                          <%= t('views.ptlfs_filtro.enabled_disabled') %>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label><%= t('views.ptlfs_filtro.start_date') %></label>
                      <div class="input-group datepicker" data-autoclose="true" data-placement="left">
                        <span class="input-group-addon icono"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="DateIni" size="40" maxlength="40" class="form-control input-md entrada" id="firstdate" autocomplete="off" placeholder="<%= t('views.ptlfs_filtro.start_date') %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label><%= t('views.ptlfs_filtro.end_date') %></label>
                      <div class="input-group datepicker" data-autoclose="true" data-placement="left">
                        <span class="input-group-addon icono"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="DateFin" size="40" maxlength="40" class="form-control input-md salida" id="today" autocomplete="off" placeholder="<%= t('views.ptlfs_filtro.end_date') %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <%= button_tag(type: 'submit', class: 'btn btn-primary', name: "Search", id: 'Search', value: 'Buscar' ) do %>
                      <i class="fa fa-search"></i> <%= t('all.btn_search') %>
                    <% end %>

                  </div>
                </div>
                <% if @ptlfs.present? %>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <button type="button" class="btn btn-primary btn-xs xls_g" id="txtD">
                        <i class="fa fa-download"></i> <%= t('views.cards_index.btn_Field') %>
                      </button>
                      <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
                    </div>
                  </div>
                <% end %>
                <br>
                <br>
                <div class="table footable" id="ta_filtro">
                  <%= render :partial => 'filter' %>
                </div>
                <br>
                <br>
                <% if @ptlfs.present? %>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <button type="button" class="btn btn-primary btn-xs xls_g" id="txtD">
                        <i class="fa fa-download"></i> <%= t('views.cards_index.btn_Field') %>
                      </button>
                      <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .toast-success {
    background-color: #1f7043;
  }

  #toast-container > .toast {
    background-image: none !important;
  }

  #toast-container > .toast-success:before {
    content: "\f1c3";
  }
</style>

<script type="text/javascript" language="javascript" class="init">
    <% if @error == true  %>
    swal({
            title: '<%= t('all.no_filter') %>.',
            type: 'error',
            confirm: 'OK'
        }
    );
    <% end %>

    $(document).ready(function () {
        $('table').footable({});

        $(".xls_g").click(function () {
            var idioma = $("#idioma").val();
            var params = '&Region=<%= @Region %>&District=<%= @District %>&Store=<%= @Store %>&Tran_Res=<%= @Tran_Res %>&Name=<%= @Name %>&Account=<%= @Account %>&Contract=<%= @Contract %>&Card_Type=<%= @Card_Type %>&Response=<%= @Response %>&Transaction=<%= @Transaction %>&Devolution=<%= @Devolution %>&Check=<%= @Check %>&DateIni=<%= @DateIni %>&DateFin=<%= @DateFin %>';
            $.ajax({
                type: 'GET',
                beforesend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                url: "/ptlfs/filtro/?xls_g=true" + "&user_id=<%= current_user.id %>" + "&idioma=" + idioma + params,
                data: {"_method": "filtro"},
            });
            toastr.options = {
                closeButton: true,
                progressBar: false,
                showMethod: 'slideDown',
                timeOut: 50000
            };
            toastr.success("Recibirá un Correo Cuando el Proceso Termine", "Su Archivo Excel se esta Generando.")
        });


        //Script para los datepicker//
        $('#rule_initial_date, #rule_end_date').on('input', function () {
            valor = $(this).val()
            patron = /^[0-9/]*$/
            remp = /[^ 0-9/]+/gi

            if (!patron.test(valor)) {
                this.value = valor.replace(remp, "");
            }
        });
        var getDate = function (input) {
            return new Date(input.date.valueOf());
        }

        let idioma_app = $('#idioma_app').val();

        $('.entrada, .salida').datepicker({
            // format: "yyyy-mm-dd",
            format: "dd/mm/yyyy",
            language: `${idioma_app}`,
            todayBtn: "linked",
            autoclose: true,
            endDate: '+0d'
        });

        $('.salida').datepicker({
            startDate: '+6d',
            endDate: '+0d',
        });
        $('.entrada').datepicker({
            startDate: '+5d',
            endDate: '+0d',
        }).on('changeDate',
            function (selected) {
                $('.salida').datepicker('clearDates');
                $('.salida').datepicker('setStartDate', getDate(selected));
            });
        //Script para los datepicker//

        //Validacin para que los inputs no acepten NÚMEROS
        $('#name').on('input', function () {
            valor = $(this).val();
            patron = /^[ a-zA-Záéíóúüñ]*$/;
            remp = /[^ a-zA-Záéíóúüñ]/gi;
            if (!patron.test(valor)) {
                this.value = valor.replace(remp, "");
            }
        });

        // Validacin para que los inputs no acepten Letras
        $('#account, #contract').on('input', function () {
            valor = $(this).val();
            patron = /^[0-9]*$/;
            remp = /[^0-9]/gi;
            if (!patron.test(valor)) {
                this.value = valor.replace(remp, "");
            }
        });

    });
</script>