<div class="row block-area wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.ptlfs_index.title') %></h1>
          <div class="ibox-content">

            <div class="row">
              <div class="col-md-12">
                <%= form_tag({controller:"ptlfs", action:"index"}, id:"form", method:"get") do %>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" id="name" name="name" class="form-control input-md main-search" placeholder="<%= t('views.ptlfs_index.client') %>" autocomplete="off" maxlength="250">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" id="account" name="account" class="form-control input-md main-search" placeholder="<%= t('views.ptlfs_index.account') %>" autocomplete="off" maxlength="16">
                      </div>
                    </div>
                    <div class="col-sm-1 col-md-1">
                      <div class="form-group">
                        <%= button_tag(type: "submit", class: "btn btn-ws btn-primary", name: "commit", id:'btnrt') do %>
                          <i class="fa fa-search"></i>
                          <%= t('views.ptlfs_index.btn_Search') %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                      <span class="badge badge-secondary blue-tooltip" id="help" data-toggle="tooltip" title="<%= t('all.help2') %>">?</span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <br>
            <br>
            <div class="table footable" id="ta_ptlfs">
              <%= render :partial => "transaction" %>
            </div>
            <% if params[:id].present? %>
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-cc-mastercard"></i> '.html_safe + t('views.ptlfs_index.btn_back'), {:controller => 'cards', :action => 'index', :id => params[:id]}, :data => {:no_turbolink => true}, :class => "btn btn-xs btn-warning" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>