<div class="row block-area wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.ptlfs_new.title') %></h1>
        </div>
        <div class="ibox-content">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>