<div class="passwordBox animated fadeInDown">
  <div class="row">

    <div class="col-md-12">
      <div class="ibox-content">

        <h2 class="font-bold"><%= t('views.confirmation_new.title_c_new')%></h2>

        <p>

          <%= t('views.confirmation_new.message_c_new')%>
        </p>


        <div class="row">

          <div class="col-lg-12">
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post, id: "form1"}) do |f| %>
                <%= devise_error_messages! %>
                <br>

                <div class="form-group">

                  <%= f.email_field :email, class: "form-control", placeholder: t('views.confirmation_new.placeh_email_c_new'), autofocus: true, autocomplete: "off" ,  id: "mail", :maxlength => '255' %>
                  <small id="maillab" style="display: none;">.</small>
                </div>
                <br/>
                <div class="actions">
                  <button type="submit" , class="btn btn-primary block full-width m-b" , value="<%= t('all.save') %>" , name="btnSave"> <%= t('views.confirmation_new.resend_c_new') %></button>
                  <%= link_to t('all.back'), new_session_path(resource_name), :class => 'btn btn-warning block full-width m-b' %>
                </div>
            <% end %>

            <p>
              <small><center>
                <%= render "devise/shared/links" %>
              </center></small>
            </p>

            <div class="form-group" align="center">
              <%= link_to image_tag("mexico.png", border: 0, :height => 14, width: 26), locale: :es , locale: :new %>
              <%= link_to image_tag("eua.png", border: 0, :height => 14, width: 26), locale: :en , locale: :new %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="m-t" align="center">
    KS Soluciones S.A. de C.V. &copy; 1998-<%= Time.now.year %> <%= APP_CONFIG[:version] %>
  </p>
</div>


<script>
  window.onload = function(){


    let newTraDan = document.getElementById('dan'),
        newTraWar = document.getElementById('war');
    //**************** Declaracion DOM ***************************
    let newForReg = document.getElementById('form1'),
        newTexMai = document.getElementById('mail'),
        newLabMai = document.getElementById('maillab');

    //**************** Expresiones Regulares **********************

    var rexMail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    //*********************** Estilos ****************************

    var dan = ['red','mistyrose',newTraDan.value,'danger'],
        war = ['orange','moccasin',newTraWar.value,'warning'];

  //>>>>>>>>>>>>>>>>>>>>>>> Validaciones de Campos >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

    newTexMai.addEventListener('focusout', function() {
      if(!rexMail.test(this.value)){ this.value = ""; }
    });

    //****************************** Validacion Sumbit *****************************
    newForReg.addEventListener('submit', function(e){
      newTexMai.value.trim()=='' && (e.preventDefault(),messagex(newTexMai,newLabMai,dan[0],dan[1],dan[2],dan[3]));
    });


    }

</script>
