<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.users_edit.title_u_edit_devise') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">


        <div class="middle-box text-center loginscreen   animated fadeInDown">
          <div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, :id => 'form1'}) do |f| %>
              <%= devise_error_messages! %>

              <div align="left" class="form-group">
                <label><%= t('activerecord.atributes.username') %></label>
                <%= f.text_field :user_name, autofocus: true, class: "form-control", placeholder: 'User Name', :id => "usr", :unique => true, autocomplete: "off", :maxlength => '255' %>
                <small id="usrlab" style="display: none;">.</small>
              </div>

              <div align="left" class="form-group">
                <label><%= t('activerecord.atributes.name') %></label>
                <%= f.text_field :name, class: "form-control", placeholder: 'Name', :id => "name", autocomplete: "off", :readonly => true, :maxlength => '255' %>
                <small id="namelab" style="display: none;">.</small>
              </div>

              <div align="left" class="form-group">
                <label><%= t('activerecord.atributes.last_name') %></label>
                <%= f.text_field :last_name, class: "form-control", placeholder: 'Last Name', :id => "last", autocomplete: "off", :readonly => true, :maxlength => '255' %>
                <small id="lastlab" style="display: none;">.</small>
              </div>

              <div align="left" class="form-group">
                <label><%= t('activerecord.atributes.email') %></label>
                <%= f.email_field :email, autofocus: true, :autocomplete => :off, autofocus: true, placeholder: "E-mail registration", :class => 'form-control input-sm', :id => "mail", :readonly => true, :maxlength => '255' %>
                <small id="maillab" style="display: none;">.</small>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div align="left" class="form-group">
                    <label><%= t('activerecord.atributes.phone') %></label>
                    <!--<input type="text" class="form-control" >-->
                    <%= f.text_field :phone, class: "form-control", placeholder: '(55) 99-99-99-99', :id => "phon", autocomplete: "off", :data_mask => "(55) 99-99-99-99" %>
                    <small id="phonlab" style="display: none;">.</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div align="left" class="form-group">
                    <label><%= t('activerecord.atributes.ext') %></label>
                    <%= f.text_field :ext, :class => 'form-control', :placeholder => 'Ext.', :autocomplete => "off", :data_mask => "999", :data_mask => "9999"%>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div align="left" class="form-group">
                    <label><%= t('activerecord.atributes.employment') %></label>
                    <%= f.text_field :employment, :class => 'form-control', :placeholder => t('views.registration_new.placeh_employment'), :autocomplete => "off", :id => "empl", :readonly => true, :maxlength => '255'  %>
                    <small id="empllab" style="display: none;">.</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div align="left" class="form-group">
                    <label><%= t('activerecord.atributes.boss_name') %></label>
                    <%= f.text_field :boss_name, :class => 'form-control', :placeholder => t('views.registration_new.placeh_boss_name'), :autocomplete => "off", :id => "boss", :readonly => true, :maxlength => '255' %>
                    <small id="bosslab" style="display: none;">.</small>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <p><%= t('views.registration_edit.need')%></p>
                <div class="input-group">
                  <%= f.password_field :current_password, id: 'pwd3', autocomplete: "off", :class => 'form-control', :maxlength => '255' %>
                  <span class="input-group-btn"><button class="btn btn-primary" type="button" id="b3"><i class="fa fa-eye"></i></button></span>
                </div>
                <small id="passlab" style="display: none;">.</small>
              </div>

              </br>

              <button type="submit" , class="btn btn-primary full-width m-b " , value="<%= t('all.save') %>" , name="btnSave"><%= t('all.save') %></button>
              <% if (current_user.profile.flag != 0 && current_user.profile.flag != 1 && current_user.profile.flag != 2)%>
                <h3><%= t('views.registration_edit.cancel')%></h3>

                <p><%= t('views.registration_edit.unhappy')%> <%= button_to t('views.registration_edit.cancel'), registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: 'btn btn-danger full-width m-b' %></p>
              <% end %>
            <% end %>

            <%= link_to t('all.back'), home_index_path, class: 'btn btn-warning full-width m-b' %>

          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
</div>

<script type)="text/javascript">
    //$(".reveal").on('click',function() {
    $("#b3").mouseover(function () {
        var $pwd = $("#pwd3");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    })

    $("#b3  ").mouseout(function () {
        var $pwd = $("#pwd3");
        if ($pwd.attr('type') === 'text') {
            $pwd.attr('type', 'password');
        } else {
            $pwd.attr('type', 'text');
        }
    });



</script>

<script type="text/javascript">

  //>>>>>>>>>>>>>>>>>>>>>>> JQuery <<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  $(document).ready(function(){
  //********************** Data Mask ***************************
  $("#phon").mask("(99) 9999-9999");
  $("#exts").mask("9999");
  });

  window.onload = function(){
    let newTraDan = document.getElementById('dan'),
        newTraWar = document.getElementById('war');
    //**************** Declaracion DOM ***************************
    let newForEdi = document.getElementById('form1'),
        newTexUsr = document.getElementById('usr'),
        newTexNam = document.getElementById('name'),
        newTexApe = document.getElementById('last'),
        newTexMai = document.getElementById('mail'),
        newTexJef = document.getElementById('boss'),
        newTexPue = document.getElementById('empl'),
        newTexPho = document.getElementById('phon'),
        newTexPas = document.getElementById('pwd3'),
    //**************** Labels ***********************************
        newLabUsr = document.getElementById('usrlab'),
        newLabNam = document.getElementById('namelab'),
        newLabApe = document.getElementById('lastlab'),
        newLabJef = document.getElementById('bosslab'),
        newLabPue = document.getElementById('empllab'),
        newLabPho = document.getElementById('phonlab'),
        newLabPro = document.getElementById('proflab'),
        newLabMai = document.getElementById('maillab'),
        newLabPas = document.getElementById('passlab');

    var rexLett = /[^a-zA-Z]/g,
        rexNumb = /[^0-9]/g;

    //*********************** Estilos ****************************

    var dan = ['red','mistyrose',newTraDan.value,'danger'],
        war = ['orange','moccasin',newTraWar.value,'warning'];

    //>>>>>>>>>>>>>>>>>>>>>>> Validaciones de Campos >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

    //********************* Telefono **************************
    newTexPho.addEventListener('input', function() {
      this.value = this.value.replace (rexNumb,'');
    });
    newTexPho.addEventListener('focusout', function() {
      let vr = this.value.replace (rexNumb,'');
      vr.length < 10 && (this.value = "");
    });

    newTexPho.addEventListener('focusin',function(){
      newTexPho.removeAttribute('style');
      newLabPho.style.display="none";
    });

    //********** Usuario, Nombre & Apellido *****************
    newTexNam.addEventListener('input',function(){valRange(newTexNam,newLabNam,0,255,1);this.value = this.value.replace (rexLett,'');});
    newTexApe.addEventListener('input',function(){valRange(newTexApe,newLabApe,0,255,1);this.value = this.value.replace (rexLett,'');});

    //******************* Jefe & Puesto  ********************
    newTexJef.addEventListener('input',function(){valRange(newTexJef,newLabJef,0,255,1);this.value = this.value.replace (rexLett,'');});
    newTexPue.addEventListener('input',function(){valRange(newTexPue,newLabPue,0,255,1);this.value = this.value.replace (rexLett,'');});

    //<<<<<<<<<<<<<<<<<<<<<<< Validaciones de Campos <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

    //************************ Funcion de Rango ************************************
    function valRange (id,lab,min,max,typ){
      id.maxlength = max;
      let x = id.value.length
      typ == 1 && x > max || typ==2 && x < min ?
      (id.value="", messagex(id,lab,dan[0],dan[1],dan[2],dan[3])) :
      (lab.style.display="none", id.removeAttribute("style"));
    }
    //****************************** Validacion Sumbit *****************************
    newForEdi.addEventListener('submit', function(e){
      newTexUsr.value.trim()=='' && (e.preventDefault(),messagex(newTexUsr,newLabUsr,dan[0],dan[1],dan[2],dan[3]));
      newTexNam.value.trim()=='' && (e.preventDefault(),messagex(newTexNam,newLabNam,dan[0],dan[1],dan[2],dan[3]));
      newTexApe.value.trim()=='' && (e.preventDefault(),messagex(newTexApe,newLabApe,dan[0],dan[1],dan[2],dan[3]));
      newTexJef.value.trim()=='' && (e.preventDefault(),messagex(newTexJef,newLabJef,dan[0],dan[1],dan[2],dan[3]));
      newTexPue.value.trim()=='' && (e.preventDefault(),messagex(newTexPue,newLabPue,dan[0],dan[1],dan[2],dan[3]));
      newTexPho.value.trim()=='' && (e.preventDefault(),messagex(newTexPho,newLabPho,dan[0],dan[1],dan[2],dan[3]));
      newTexPas.value.trim()=='' && (e.preventDefault(),messagex(newTexPas,newLabPas,dan[0],dan[1],dan[2],dan[3]));
    });

}
</script>
