<%= javascript_include_tag "registre" %>

<div class="middle-box text-center loginscreen animated fadeInDown">

  <h1 class="logo-name">KM</h1>
  <%= devise_error_messages! %>

  <h3><%= t('views.registration_new.sign_up') %></h3>
  <%= form_for resource, as: resource_name, url: registration_path(resource_name), :html => {:id => 'regi'} do |f| %>

    <div>
      <label class="requerido"><%= t('views.registration_new.placeh_username') %></label>
      <%= f.text_field :user_name, :class => 'form-control',  :placeholder => t('views.registration_new.placeh_username'), :autocomplete => "off", :id => "user", :maxlength => '255', autofocus: true %>
      <small id="userlab" style="display: none;">.</small>
    </div>

    <div class="row">
      <div class="col-md-6">
      <label class="requerido"><%= t('views.registration_new.placeh_name') %></label>
      <%= f.text_field :name, :class => 'form-control',  :placeholder => t('views.registration_new.placeh_name'), :autocomplete => "off", :id => "name", :maxlength => '255' %>
      <small id="namelab" style="display: none;">.</small>
      </div>
      <div class="col-md-6">
      <label class="requerido"><%= t('views.registration_new.placeh_last_name') %></label>
      <%= f.text_field :last_name, :class => 'form-control',  :placeholder => t('views.registration_new.placeh_last_name'), :autocomplete => "off", :id => "last", :maxlength => '255' %>
      <small id="lastlab" style="display: none;">.</small>
      </div>
    </div>

    <div >
      <label class="requerido"><%= t('activerecord.atributes.employment') %></label>
      <%= f.text_field :employment, :class => 'form-control sicn',  :placeholder => t('views.registration_new.placeh_employment'), :autocomplete => "off", :id => "empl", :maxlength => '255' %>
      <small id="empllab" style="display: none;">.</small>
    </div>

    <div>
      <label class="requerido"><%= t('activerecord.atributes.email') %></label>
      <%= f.text_field :email, :class => 'form-control',  :placeholder => t('views.registration_new.placeh_mail'), :autocomplete => "off", :id => "mail", :maxlength => '255' %>
      <small id="maillab" style="display: none;">.</small>
    </div>

    <div>
      <label class="requerido"><%= t('views.registration_new.placeh_boss_name') %></label>
      <%= f.text_field :boss_name, :class => 'form-control sicn',  :placeholder => t('views.registration_new.placeh_boss_name'), :autocomplete => "off", :id => "boss", :maxlength => '255' %>
      <small id="bosslab" style="display: none;">.</small>
    </div>


    <div>
      <label class="requerido"> <%= t('activerecord.atributes.birthday') %> </label>
      <div class="input-group date">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <%= f.text_field :birthday, class: "form-control", :placeholder => "DD/MM/YYYY", :autocomplete => "off", :id => "birt" %>
      </div>
      <small id="birtlab" style="display: none;">.</small>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class = "form-group">
        <label class="requerido"><%= t('activerecord.atributes.phone') %></label>
        <%= f.text_field :phone, class: "form-control", placeholder: '(55) 99-99-99-99',  autocomplete: "off", :data_mask => "(55) 99-99-99-99", :id => "phon" %>
        <small id="phonlab" style="display: none;">.</small>
        </div>
      </div>
      <div class="col-md-6">
        <div >
          <label><%= t('activerecord.atributes.ext') %></label>
          <%= f.text_field :ext, :class => 'form-control', :placeholder => 'Ext.', :autocomplete => "off", :data_mask => "999", :id => "exts" %>
          <small id="extslab" style="display: none;">.</small>
        </div>
      </div>
    </div>

    <div >
      <label class="requerido"><%= t('activerecord.atributes.area') %></label>
      <select name="user[area_id]" id="area" class="form-control">
        <option value= 0><%= t('views.registration_new.placeh_area') %></option>
        <% @area = Area.all %>
        <% @area.each do |area| %>
          <option value="<%= area.id %>"><%= area.name %></option>
        <% end %>
      </select>
      <small id="arealab" style="display: none;">.</small>
    </div>

    <div >
      <label class="requerido"><%= t('views.registration_new.label_password') %></label>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <div class="input-group">
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control',  :placeholder => t('views.registration_new.placeh_password'), :id => 'pass', :maxlength => '255' %>
          <span class="input-group-btn"><button class="btn btn-primary" type="button" id="eye1"><i class="fa fa-eye"></i></button></span>
      </div>
      <small id="passlab" style="display: none;">.</small>
    </div>

    <div class="form-group">
      <label class="requerido"><%= t('views.registration_new.label_password_confirmation') %></label>
      <div class="input-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control',  :placeholder => t('views.registration_new.placeh_password_confirmation'), :id => 'conf', :maxlength => '255' %>
          <span class="input-group-btn"><button class="btn btn-primary" type="button" id="eye2"><i class="fa fa-eye"></i></button></span>
      </div>
      <small id="conflab" style="display: none;">.</small>
    </div>

    <div class="form-group">
      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block', name: 'commit') do t('views.registration_new.sign_up_button') end %>
    </div>
    <%= link_to t('all.back'), new_session_path(resource_name), :class => 'btn btn-warning block full-width m-b' %>

    <% end %>

    <%= render "devise/shared/links" %>

    <p><small>KS Soluciones S.A. de C.V. &copy; 1998-<%=Time.now.year%> <%= APP_CONFIG[:version] %></small></p>

    <div class="form-group" align="center">
      <%= link_to image_tag("mexico.png", border: 0, :height => 14, width: 26), locale: :es %>
      <%= link_to image_tag("eua.png", border: 0, :height => 14, width: 26), locale: :en %>
    </div>
  </div>

  <input type="hidden" id="dan" value="<%= t('all.requerido')%>">
  <input type="hidden" id="war" value="<%= t('all.fuera')%>">
