<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.index_home.welcome') %></h1>
      </div>
      <div class="ibox-content">
        <h3> <%= t('views.index_home.no_per') %> </h3>
        <br>
        <%= link_to t('views.index_home.logout'), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>