<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Port:</strong>
  <%= @shop.port %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @shop.contract %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
