<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Alerts e.g. approaching your limit</title>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      font-size: 14px
    }

    img {
      max-width: 100%
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
      line-height: 1.6
    }

    table td {
      vertical-align: top
    }

    body {
      background-color: #f6f6f6;
      margin: 0;
      padding: 0;
    }

    .body-wrap {
      background-color: #f6f6f6;
      width: 70%;
      margin-right: 50px;
    }

    .container {
      display: block !important;
      max-width: 600px !important;
      margin: 0 auto !important;
      clear: both !important
    }

    .content {
      max-width: 600px;
      margin: 0 auto;
      display: block;
      padding: 20px
    }

    .main {
      background: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 3px
    }

    .content-wrap {
      padding: 20px
    }

    .content-block {
      padding: 0 0 20px
    }

    .header {
      width: 100%;
      margin-bottom: 20px
    }

    .footer {
      width: 100%;
      clear: both;
      color: #999;
      padding: 20px
    }

    .footer a {
      color: #999
    }

    .footer a, .footer p, .footer td, .footer unsubscribe {
      font-size: 12px
    }

    h1, h2, h3 {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      color: #000;
      margin: 40px 0 0;
      line-height: 1.2;
      font-weight: 400
    }

    h1 {
      font-size: 32px;
      font-weight: 500
    }

    h2 {
      font-size: 24px
    }

    h3 {
      font-size: 18px
    }

    h4 {
      font-size: 14px;
      font-weight: 600
    }

    ol, p, ul {
      margin-bottom: 10px;
      font-weight: 400
    }

    ol li, p li, ul li {
      margin-left: 5px;
      list-style-position: inside
    }

    a {
      color: #003057;
      text-decoration: underline
    }

    .btn-primary {
      text-decoration: none;
      color: #FFF;
      background-color: #1ab394;
      border: solid #1ab394;
      border-width: 5px 10px;
      line-height: 2;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px;
      text-transform: capitalize
    }

    .last {
      margin-bottom: 0
    }

    .first {
      margin-top: 0
    }

    .aligncenter {
      text-align: center
    }

    .alignright {
      text-align: right
    }

    .alignleft {
      text-align: left
    }

    .clear {
      clear: both
    }

    .alert {
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      padding: 20px;
      text-align: center;
      border-radius: 3px 3px 0 0
    }

    .alert a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px
    }

    .alert.alert-warning {
      background: #f8ac59
    }

    .alert.alert-bad {
      background: #ed5565
    }

    .alert.alert-good {
      background: #1ab394
    }

    .invoice {
      margin: 40px auto;
      text-align: left;
      width: 80%
    }

    .invoice td {
      padding: 5px 0
    }

    .invoice .invoice-items {
      width: 100%
    }

    .invoice .invoice-items td {
      border-top: #eee 1px solid
    }

    .invoice .invoice-items .total td {
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      font-weight: 700
    }

    @media only screen and (max-width: 640px) {
      h1, h2, h3, h4 {
        font-weight: 600 !important;
        margin: 20px 0 5px !important
      }

      h1 {
        font-size: 22px !important
      }

      h2 {
        font-size: 18px !important
      }

      h3 {
        font-size: 16px !important
      }

      .container {
        width: 100% !important
      }

      .content, .content-wrap {
        padding: 10px !important
      }

      .invoice {
        width: 100% !important
      }
    }

    .table {
      width: 100%;
      margin-bottom: 20px;
    }

    .table th,
    .table td {
      padding: 8px;
      line-height: 20px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #dddddd;
    }

    .table th {
      font-weight: bold;
    }

    .table thead th {
      vertical-align: bottom;
    }

    .table caption + thead tr:first-child th,
    .table caption + thead tr:first-child td,
    .table colgroup + thead tr:first-child th,
    .table colgroup + thead tr:first-child td,
    .table thead:first-child tr:first-child th,
    .table thead:first-child tr:first-child td {
      border-top: 0;
    }

    .table tbody + tbody {
      border-top: 2px solid #dddddd;
    }

    .table .table {
      background-color: #ffffff;
    }

    .table-condensed th,
    .table-condensed td {
      padding: 4px 5px;
    }

    .table-bordered {
      border: 1px solid #dddddd;
      border-collapse: separate;
      *border-collapse: collapse;
      border-left: 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }

    .table-bordered th,
    .table-bordered td {
      border-left: 1px solid #dddddd;
    }

    .table-bordered caption + thead tr:first-child th,
    .table-bordered caption + tbody tr:first-child th,
    .table-bordered caption + tbody tr:first-child td,
    .table-bordered colgroup + thead tr:first-child th,
    .table-bordered colgroup + tbody tr:first-child th,
    .table-bordered colgroup + tbody tr:first-child td,
    .table-bordered thead:first-child tr:first-child th,
    .table-bordered tbody:first-child tr:first-child th,
    .table-bordered tbody:first-child tr:first-child td {
      border-top: 0;
    }

    .table-bordered thead:first-child tr:first-child > th:first-child,
    .table-bordered tbody:first-child tr:first-child > td:first-child,
    .table-bordered tbody:first-child tr:first-child > th:first-child {
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
    }

    .table-bordered thead:first-child tr:first-child > th:last-child,
    .table-bordered tbody:first-child tr:first-child > td:last-child,
    .table-bordered tbody:first-child tr:first-child > th:last-child {
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
    }

    .table-bordered thead:last-child tr:last-child > th:first-child,
    .table-bordered tbody:last-child tr:last-child > td:first-child,
    .table-bordered tbody:last-child tr:last-child > th:first-child,
    .table-bordered tfoot:last-child tr:last-child > td:first-child,
    .table-bordered tfoot:last-child tr:last-child > th:first-child {
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
    }

    .table-bordered thead:last-child tr:last-child > th:last-child,
    .table-bordered tbody:last-child tr:last-child > td:last-child,
    .table-bordered tbody:last-child tr:last-child > th:last-child,
    .table-bordered tfoot:last-child tr:last-child > td:last-child,
    .table-bordered tfoot:last-child tr:last-child > th:last-child {
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
    }

    .table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
      -webkit-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0;
      -moz-border-radius-bottomleft: 0;
    }

    .table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
      -moz-border-radius-bottomright: 0;
    }

    .table-bordered caption + thead tr:first-child th:first-child,
    .table-bordered caption + tbody tr:first-child td:first-child,
    .table-bordered colgroup + thead tr:first-child th:first-child,
    .table-bordered colgroup + tbody tr:first-child td:first-child {
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
    }

    .table-bordered caption + thead tr:first-child th:last-child,
    .table-bordered caption + tbody tr:first-child td:last-child,
    .table-bordered colgroup + thead tr:first-child th:last-child,
    .table-bordered colgroup + tbody tr:first-child td:last-child {
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
    }

    .table-striped tbody > tr:nth-child(odd) > td,
    .table-striped tbody > tr:nth-child(odd) > th {
      background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover > td,
    .table-hover tbody tr:hover > th {
      background-color: #f5f5f5;
    }

    table td[class*="span"],
    table th[class*="span"],
    .row-fluid table td[class*="span"],
    .row-fluid table th[class*="span"] {
      display: table-cell;
      float: none;
      margin-left: 0;
    }

    .table td.span1,
    .table th.span1 {
      float: none;
      width: 44px;
      margin-left: 0;
    }

    .table td.span2,
    .table th.span2 {
      float: none;
      width: 124px;
      margin-left: 0;
    }

    .table td.span3,
    .table th.span3 {
      float: none;
      width: 204px;
      margin-left: 0;
    }

    .table td.span4,
    .table th.span4 {
      float: none;
      width: 284px;
      margin-left: 0;
    }

    .table td.span5,
    .table th.span5 {
      float: none;
      width: 364px;
      margin-left: 0;
    }

    .table td.span6,
    .table th.span6 {
      float: none;
      width: 444px;
      margin-left: 0;
    }

    .table td.span7,
    .table th.span7 {
      float: none;
      width: 524px;
      margin-left: 0;
    }

    .table td.span8,
    .table th.span8 {
      float: none;
      width: 604px;
      margin-left: 0;
    }

    .table td.span9,
    .table th.span9 {
      float: none;
      width: 684px;
      margin-left: 0;
    }

    .table td.span10,
    .table th.span10 {
      float: none;
      width: 764px;
      margin-left: 0;
    }

    .table td.span11,
    .table th.span11 {
      float: none;
      width: 844px;
      margin-left: 0;
    }

    .table td.span12,
    .table th.span12 {
      float: none;
      width: 924px;
      margin-left: 0;
    }

    .table tbody tr.success > td {
      background-color: #dff0d8;
    }

    .table tbody tr.error > td {
      background-color: #f2dede;
    }

    .table tbody tr.warning > td {
      background-color: #fcf8e3;
    }

    .table tbody tr.info > td {
      background-color: #d9edf7;
    }

    .table-hover tbody tr.success:hover > td {
      background-color: #d0e9c6;
    }

    .table-hover tbody tr.error:hover > td {
      background-color: #ebcccc;
    }

    .table-hover tbody tr.warning:hover > td {
      background-color: #faf2cc;
    }

    .table-hover tbody tr.info:hover > td {
      background-color: #c4e3f3;
    }

  </style>
</head>
<body>
<table class="body-wrap ">
  <tr>
    <td></td>
    <td width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#003057" style="padding: 1em; text-align: center; color: #fff;">
              <%= t('views.cuenta_activada.info_ca') %>
            </td>
          </tr>
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <%= t('views.cuenta_activada.login_name') %> <strong><%= @login_name %></strong>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <%= t('views.cuenta_activada.user_name') %> <strong><%= @user_name %> <%= @last_name %></strong>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <%= t('views.cuenta_activada.email') %> <strong><%= @user_email %></strong>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <%= t('views.cuenta_activada.role') %> <strong><%= @role %></strong>
                  </td>
                </tr>
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <td><b><%= t('views.cuenta_activada.page') %></b></td>
                    <td colspan="4"><b><%= t('views.cuenta_activada.permissions') %></b></td>
                  </tr>
                  </thead>

                  <tr>
                    <% @sh_profile.each do |f| %>
                    <tr>
                      <td><%= f.view_name %></td>
                      <td>
                        <% if f.crear.present? %>
                          <% if f.crear == 8 && (f.editar == 4 || f.leer == 2 || f.eliminar == 1) %>
                            <%= t('views.cuenta_activada.create') %>,
                          <% else
                               if f.crear == 8 %>
                              <%= t('views.cuenta_activada.create') %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if f.editar.present? %>
                          <% if f.editar == 4 && (f.leer == 2 || f.eliminar == 1) %>
                            <%= t('views.cuenta_activada.edit') %>,
                          <% else
                               if f.editar == 4 %>
                              <%= t('views.cuenta_activada.edit') %>
                            <% end %>
                          <% end %>
                        <% end %>

                        <% if f.leer.present? %>
                          <% if f.leer == 2 && (f.eliminar == 1) %>
                            <%= t('views.cuenta_activada.read') %>,
                          <% else
                               if f.leer == 2 %>
                              <%= t('views.cuenta_activada.read') %>
                            <% end %>
                          <% end %>
                        <% end %>

                        <% if f.eliminar.present? %>
                          <% if f.eliminar == 1 %>
                            <%= t('views.cuenta_activada.remove') %>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tr>
                </table>
              </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#003057" style="text-align: center; color: #fff;">
              KS Soluciones S.A. de C.V. © 1998-<%= Time.now.year %> <%= APP_CONFIG[:version] %>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
</body>
