<div class="block-area" id="basic">
  <h3 class="block-title">Currencie</h3>
  <div class="tile p-15">
    <%= form_for :currencie do |f|%>

        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-sm", placeholder: "Client id"%>
        </div>

        <%= f.submit "Add", class: "btn btn-sm m-t-10"%>

    <% end %>
  </div>
</div>