<div class="block-area" id="basic">
  <h3 class="block-title">New Client</h3>
  <div class="tile p-15">
    <%= form_for :client do |f|%>

        <div class="form-group">
          <%= f.text_field :affiliation_id, class: "form-control input-sm", placeholder: "Affiliation id"%>
        </div>

        <div class="form-group">
          <%= f.text_field :promotion_id, class: "form-control input-sm", placeholder: "Promotion id"%>
        </div>

        <%= f.submit "Add", class: "btn btn-sm m-t-10"%>

    <% end %>
  </div>
</div>
