<% if @query.present? %>
  <div class="row">
    <div class="col-md-7">
      <h4><%= t('all.query') %>: <%= @query %></h4>
    </div>
  </div>
<% end %>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <% if @banks.count == 1 %>
          <%= page_entries_info @banks, entry_name: t('views.banks_index.bank') %>
        <% else %>
          <%= page_entries_info @banks, entry_name: t('views.banks_index.bank').pluralize %>
        <% end %>
      </div>
      <div class="detall_left">
        <%= paginate @banks, params: {controller: 'banks', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
    </div>
  </div>
</div>
<table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
  <thead>
  <tr>
    <th data-sort-ignore="true" class="text-left" data-visible="true"><%= t('views.banks_index.name') %></th>
    <th data-sort-ignore="true" class="text-center" data-hide="phone,tablet"><%= t('views.banks_index.bank_id') %></th>
    <th data-sort-ignore="true" data-hide="phone" class="text-center"> <%= t('all.show') %> </th>
    <th data-sort-ignore="true" class="text-center"><%= t('views.banks_index.edit') %></th>
    <th data-sort-ignore="true" class="text-center"><%= t('views.banks_index.destroy') %></th>
  </tr>
  </thead>
  <tbody>
  <% @banks.each do |bank| %>
    <tr>
      <td class="text-left">
        <% if bank.name.present? %>
          <%= bank.name %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if bank.bank_id.present? %>
          <%= bank.bank_id %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class='text-center'>
        <% if @leerBank == 2 %>
          <%= link_to "<button class='btn btn-primary btn-xs blue-tooltip tolshow' data-toggle='tooltip' type='button'><i class='fa fa-file-text'></i></button>".html_safe, bank %>
        <% end %>
      </td>
      <td class='text-center'>
        <% if @editarBank == 4 %>
          <%= link_to "<button class='btn btn-warning btn-xs blue-tooltip toledit' data-toggle='tooltip' type='button'><i class='fa fa-pencil '></i></button>".html_safe, edit_bank_path(bank), :data => {:no_turbolink => false} %>
        <% end %>
      </td>
      <td class='text-center'>
        <% if @eliminarBank == 1 %>
          <input type="hidden" value="<%= bank.name %>" id="bank<%= bank.id %>">
          <button class="btn btn-danger btn-xs eliminar blue-tooltip toldelete" data-toggle='tooltip' id="<%= bank.id %>" type="button">
            <i class="fa fa-trash-o"></i>
          </button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <%= paginate @banks, params: {controller: 'banks', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
      <div class="detall_left">
        <% if @banks.count == 1 %>
          <%= page_entries_info @banks, entry_name: t('views.banks_index.bank') %>
        <% else %>
          <%= page_entries_info @banks, entry_name: t('views.banks_index.bank').pluralize %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    <% if @error == true  %>
    swal({
            title: '<%= t('all.no_filter') %>.',
            type: 'error',
            confirm: 'OK'
        }
    );
    <% end %>
    $('table').footable({});
    $('.tolshow').attr('title', '<%= t('views.banks_show.title') %>');
    $('.toledit').attr('title', '<%= t('views.banks_edit.title') %>');
    $('.toldelete').attr('title', '<%= t('views.banks_index.destroy2') %>');
    $('[data-toggle="tooltip"]').tooltip();
</script>
<!--<style>-->
<!--  .blue-tooltip + .tooltip > .tooltip-inner {-->
<!--    background-color: #003057;-->
<!--  }-->
<!--</style>-->