<%= javascript_include_tag 'banks' %>
<%= stylesheet_link_tag "banks" %>
<div class="block-area" id="basic">
  <div class="tile p-15">
    <div class="traducciones" style="display: none;">
      <input type="hidden" id="trad05" value="<%= t('views.banks_form.trad05') %>">
    </div>
    <%= form_for @bank, :html => {:id => 'form1', :role => 'form'} do |f| %>
      <% if @bank.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this router from being saved:</h2>
          <ul>
            <% @bank.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= button_tag(type: 'submit', name: 'commit', id:'bank1', class: 'btn btn-primary btn-xs', :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.banks_form.btn_save') %>
      <% end %>
      <%= link_to '<i class="fa fa-bank"></i> '.html_safe + t('views.banks_form.btn_back'), banks_path, :class => "btn btn-danger btn-xs", :data => {:no_turbolink => false} %>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="required"><%= t('views.banks_index.name') %></label>
            <%= f.text_field :name, id: 'name', class: "form-control input-sm", placeholder: t('views.banks_index.name'), :autocomplete => :off, :maxlength => 255 %>
            <h4><span class="label" id="namelabel"></span></h4>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="required"><%= t('views.banks_index.bank_id') %></label>
            <%= f.text_field :bank_id, id: 'bank_id', class: "form-control input-sm", placeholder: "#{t('views.affi_index.ejemplo')}'#{"123"}'", :autocomplete => :off, :maxlength => 3 %>
            <h4><span class="label" id="idlabel"></span></h4>
          </div>
        </div>
      </div>
      <br>
      <br>
      <%= button_tag(type: 'submit', name: 'commit', id:'bank2', class: 'btn btn-primary btn-xs', :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.banks_form.btn_save') %>
      <% end %>
      <%= link_to '<i class="fa fa-bank"></i> '.html_safe + t('views.banks_form.btn_back'), banks_path, :class => "btn btn-danger btn-xs", :data => {:no_turbolink => false} %>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    <% if @error2 == true  %>
    swal({
            title: '<%= t('views.message_banks.notice_blackup') %>.',
            type: 'warning',
            confirm: 'OK'
        }
    );
    <% end %>
</script>