<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.banks_show.title') %></h1>
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-bank"></i> '.html_safe + t('views.banks_index.new_btn'), new_bank_path, :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true} %>
                <%= link_to '<i class="fa fa-bank"></i> '.html_safe + t('all.back'), banks_path, :class => "btn btn-warning btn-xs", :data => {:no_turbolink => false} %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
                  <thead>
                  <tr>
                    <th class="text-center" data-visible="true"><%= t('views.banks_index.name') %></th>
                    <th class="text-center" data-hide="phone,tablet"><%= t('views.banks_index.bank_id') %></th>
                    <th class="text-center"><%= t('views.banks_index.edit') %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <td class="text-center">
                    <% if @bank.name.present? %>
                      <%= @bank.name %>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if @bank.bank_id.present? %>
                      <%= @bank.bank_id %>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td class="text-center">
                    <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil "></i></button>'.html_safe, edit_bank_path(@bank), :data => {:no_turbolink => false} %>
                  </td>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-4">
                    <%= link_to '<i class="fa fa-bank"></i> '.html_safe + t('views.banks_index.new_btn'), new_bank_path, :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true} %>
                    <%= link_to '<i class="fa fa-bank"></i> '.html_safe + t('all.back'), banks_path, :class => "btn btn-warning btn-xs", :data => {:no_turbolink => false} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>