<%= form_for(@switch) do |f| %>
  <% if @switch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@switch.errors.count, "error") %> prohibited this switch from being saved:</h2>

      <ul>
      <% @switch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-4">
    <form role="form">
      <div class="field">
        <%= f.label :bin %><br>
        <%= f.text_field :bin, class: "form-control col-lg-3", placeholder: "Enter the bin cards" %>
      </div>
      <div class="field">
        <%= f.label :router %><br>
        <%= f.text_field :router, class: "form-control col-lg-3", placeholder: "Enter the router name" %>
      </div>
      <div class="actions">
        <%= f.submit :class => "btn btn-sm m-t-10 " %>
        <%= link_to 'Back', switches_path, :class => "btn btn-sm m-t-10 " %>
        <%= link_to 'Show', @switch , :class => "btn btn-sm m-t-10 "%>
      </div>
    </form>
  </div>
<% end %>
