<div class="block-area" id="responsiveTable">

<h1>Listing Switches</h1>

  <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
    <table class="tile table table-bordered table-striped">
      <thead>
      <tr>
        <th>Bin</th>
        <th>Router</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @switches.each do |switch| %>
          <tr>
            <td><%= switch.bin %></td>
            <td><%= switch.router %></td>
            <td><%= link_to 'Show', switch %></td>
            <td><%= link_to 'Edit', edit_switch_path(switch) %></td>
            <td><%= link_to 'Destroy', switch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'New Switch', new_switch_path, :class => "btn btn-sm m-t-10 " %>
</div>