  <p>
    <strong>Bin:</strong>
    <%= @switch.bin %>
  </p>

  <p>
    <strong>Router:</strong>
    <%= @switch.router %>
  </p>
  <%= link_to 'Edit', edit_switch_path(@switch) , :class => "btn btn-sm m-t-10 "%> |
  <%= link_to 'Back', switches_path, :class => "btn btn-sm m-t-10 " %>
