  <%= form_for(@router) do |f| %>
      <% if @router.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@router.errors.count, "error") %> prohibited this router from being saved:</h2>

            <ul>
              <% @router.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="col-lg-4">
        <form role="form">
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: "form-control col-lg-3", placeholder: "Enter the name"%>
          </div>
          <div class="field">
            <%= f.label :ip %><br>
            <%= f.text_field :ip, class: "form-control col-lg-3", placeholder: "Enter the connection IP" %>
          </div>
          <div class="field">
            <%= f.label :port %><br>
            <%= f.number_field :port, class: "form-control col-lg-3", placeholder: "Enter the port" %>
          </div>
          <br>
          <h3 class="block-title">Logon</h3>
          <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
            <table class="tile table table-bordered table-striped">
              <thead>
              <tr>
                <th>Campo</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <br>
          <h3 class="block-title">Echo</h3>
          <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
            <table class="tile table table-bordered table-striped">
              <thead>
              <tr>
                <th>Campo</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <br>
          <h3 class="block-title">Layout</h3>
          <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
            <table class="tile table table-bordered table-striped">
              <thead>
              <tr>
                <th>Campo</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <div class="actions">
            <%= f.submit :class => "btn btn-sm m-t-10" %>
            <%= link_to 'Back', routers_path, :class => "btn btn-sm m-t-10"%>
          </div>
        </form>
      </div>
  <% end %>