<div class="block-area" id="responsiveTable">
  <h1>Listing Routers</h1>

  <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
    <table class="tile table table-bordered table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Ip</th>
        <th>Port</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @routers.each do |router| %>
          <tr>
            <td><%= router.name %></td>
            <td><%= router.ip %></td>
            <td><%= router.port %></td>
            <td><%= link_to 'Show', router %></td>
            <td><%= link_to 'Edit', edit_router_path(router) %></td>
            <td><%= link_to 'Destroy', router, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Router', new_router_path , :class => "btn btn-sm m-t-10 "%>

</div>
