<div class="block-area" id="custom-select">
  <div class="col-lg-4">
    <form role="form">
      <br>
      <p>
        <strong>Name:</strong>
        <%= @router.name %>
      </p>

      <p>
        <strong>Ip:</strong>
        <%= @router.ip %>
      </p>

      <p>
        <strong>Port:</strong>
        <%= @router.port %>
      </p>

      <h3 class="block-title">Logon</h3>
      <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
        <table class="tile table table-bordered table-striped">
          <thead>
          <tr>
            <th>Campo</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <br>
      <h3 class="block-title">Echo</h3>
      <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
        <table class="tile table table-bordered table-striped">
          <thead>
          <tr>
            <th>Campo</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <br>
      <h3 class="block-title">Layout</h3>
      <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
        <table class="tile table table-bordered table-striped">
          <thead>
          <tr>
            <th>Campo</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <%= link_to 'Edit', edit_router_path(@router) %> |
      <%= link_to 'Back', routers_path %>
    </form>
  </div>
</div>