<%= javascript_include_tag "user" %>
<% user = User.find(params[:id]) %>
<%= form_for user, :html => {:id => 'regi'} do |f| %>

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-xs-12 form-group">
        <label><%= t('activerecord.atributes.name') %></label>
        <%= f.text_field :name, :class => 'form-control', :maxlength => '255', autocomplete: "off", :id => "name" %>
        <small id="namelab" style="display: none;">.</small>
      </div>
      <div class="col-md-4 col-xs-12 form-group">
        <label><%= t('activerecord.atributes.last_name') %></label>
        <%= f.text_field :last_name, :class => 'form-control', :maxlength => '255', autocomplete: "off", :id => "last" %>
        <small id="lastlab" style="display: none;">.</small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-xs-12 form-group">
        <label><%= t('activerecord.atributes.phone') %></label>
        <%= f.text_field :phone, :id => "phones", class: "form-control", autocomplete: "off", :placeholder => "(55) 99-99-99-99", :id => "phon" %>
        <small id="phonlab" style="display: none;">.</small>
      </div>
      <div class="col-md-4 col-xs-12 form-group">
        <label><%= t('activerecord.atributes.ext') %></label>
        <%= f.text_field :ext, :class => 'form-control', :autocomplete => "off", :data_mask => "999", :placeholder => "9999", :id => "exts" %>
        <small id="extslab" style="display: none;">.</small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-xs-12 form-group">
        <label><%= t('activerecord.atributes.boss_name') %></label>
        <%= f.text_field :boss_name, :class => 'form-control', autocomplete: "off", :maxlength => '255', :id => "boss" %>
        <small id="bosslab" style="display: none;">.</small>
      </div>
      <div class="col-md-4 col-xs-12 form-group">
        <label><%= t('activerecord.atributes.employment') %></label>
        <%= f.text_field :employment, :class => 'form-control', autocomplete: "off", :maxlength => '255', :id => "empl" %>
        <small id="empllab" style="display: none;">.</small>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4 form-group" align="center">
        <%= f.label t('activerecord.atributes.area'), {:id => 'labelArea'} %>
        <select class="form-control" id="area" name="user[area_id]">
          <option value=0> <%= t('views.users_change.placeh_area_u_change') %> </option>
          <% @areas.each do |ar| %>
            <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
          <% end %>
        </select>
        <small id="arealab" style="display: none;">.</small>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4 form-group" align="center">
        <% if @user.profile.flag == 2 %>
          <%= f.label t('activerecord.atributes.profile_id'), {:style => 'display: none;', :id => 'labelProfile'} %>
          <select id="prof" name="user[profile_id]" class="form-control" style="display: none;">
            <option value=0><%= t('views.users_change.placeh_profile_u_change') %></option>
          </select>
        <% else %>
          <%= f.label t('activerecord.atributes.profile_id'), {:id => 'titprof'} %>
          <select id="prof" name="user[profile_id]" class="form-control">
            <option value=0><%= t('views.users_change.placeh_profile_u_change') %></option>
            <% @profile.each do |ar| %>
              <% if ar.flag != 2 %>
                <option value="<%= ar[:id] %>" class="option_dynamic"><%= ar[:name] %> </option>
              <% end %>
            <% end %>
          </select>
        <% end %>
        <small id="proflab" style="display: none;">.</small>
      </div>
    </div>

    <div class="col-xs-12 form-group" align="center">
      <% if @permisos_perfiles[0] == 8 %>
        <%= link_to '<span class="fa fa-user" ></span>  '.html_safe + t('views.users_show.create_profile_u_show'), new_profile_path, :class => 'btn btn-sm btn-primary dim' %>
      <% end %>
    </div>

  </div>

  <div>
    <button type="submit" class="btn btn-xs btn-primary" value="<%= t('views.users_edit.save_u_edit') %>" name="btnSave">
      <i class="fa fa-floppy-o"></i>  <%= t('views.users_edit.save_u_edit') %>
    </button>
    <% if @permisos[2] == 2 %>
      <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('views.users_edit.show_u_edit'), user, :class => 'btn btn-xs btn-primary dim' %>
    <% end %>
    <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('all.cancelar'), users_path, :class => 'btn btn-xs btn-danger dim' %>
  </div>

<% end %>


<script>
    let sel = document.getElementById('area')
    sel.value = '<%=@user.area_id%>'
    let selp = document.getElementById('prof')
    selp.value = '<%=@user.profile_id%>'
</script>
