<%# <%********************* Sweetalert No Results *************************** %>
<% if @error.present? %>
  <script>
      swal({title: "<%= t('all.no_filter')%>", type: "error"});
  </script>
<% end %>
<%# <%*********************** Mostrar Busqueda actual *******************************%>
<% if @busqueda.present? %>
  <div class="row">
    <div class="col-md-3">
      <h3><%= t('all.query') %>: <%= @busqueda %></h3>
    </div>
  </div>
<% end %>
<%# <%**************************** Paginacion **************************************%>
<div align="right">
  <%= page_entries_info @users, entry_name: t('views.users') %>
</div>
<br>
<div class="pag_right" align="right">
  <%= paginate @users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
</div>
<%# <%**************************** Tabla de usuarios **************************************%>
<div id="tabla_usuarios" style="overflow: auto;">
  <table class="table footable no-paging">
    <thead>
    <tr>
      <th class="text-left" data-sort-ignore="true"><%= t('activerecord.atributes.name') %></th>
      <th class="text-center" data-sort-ignore="true"><%= t('activerecord.atributes.last_name') %></th>
      <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('activerecord.atributes.username') %></th>
      <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('activerecord.atributes.email') %></th>
      <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('views.profile') %></th>
      <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('activerecord.atributes.area') %></th>
      <% if @permisos[2] == 2 %>
        <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.show') %></th>
      <% end %>
      <% if @permisos[1] == 4 %>
        <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.edit') %></th>
      <% end %>
      <% if @permisos[3] == 1 %>
        <th class="text-center" data-sort-ignore="true" data-hide="phone"><%= t('all.disable') %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-left"><%= user.name %></td>
        <td class="text-center"><%= user.last_name %></td>
        <td class="text-center"><%= user.user_name %></td>
        <td class="text-center"><%= user.email %></td>
        <td class="text-center">
          <% if user.profile_id.nil? %>N/A
            <% else %><%= user.profile.name %>
          <% end %></td>
        <td class="text-center">
          <% if user.area_id.nil? %>N/A
            <% else %><%= user.area.name %>
          <% end %></td>
        <td class="text-center">
          <% if @permisos[2] == 2 && current_user.profile.flag <= user.profile.flag %><%= link_to '<i class="fa fa-file-text"></i>'.html_safe, user, {class: "btn btn-xs btn-primary", :data => {toggle: "tooltip"}, title: t('views.users_show.title_u_show')} %>
          <% end %>
        </td>
        <td class="text-center">
          <% if @permisos[1] == 4 && current_user.profile.flag < user.profile.flag && user.id != current_user.id %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user), {class: "btn btn-xs btn-warning", :data => {toggle: "tooltip"}, title: t('views.users_edit.title_u_edit')} %>
          <% end %>
        </td>
        <td class="text-center" style="padding-top: 0px;">
          <% if @permisos[3] == 1 && current_user.profile.flag < user.profile.flag && user.id != current_user.id %>
            <input type="hidden" value="<%= user.name %>" id="user<%= user.id %>">
            <div class="checkbox checkbox-primary">
              <input class="eliminar" type="checkbox" id="<%= user.id %>" value="<%= user.habilitado %>" data-toggle="tooltip"
                     <% if user.habilitado == 1 %> title="<%= t('views.users_index.tool_disable') %>" checked
                     <% else %> title="<%= t('views.users_index.tool_enable') %>"
                     <% end %> ><label/></div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%# <%**************************** Paginacion **************************************%>
<div align="right">
  <%= page_entries_info @users, entry_name: t('views.users') %>
</div>
<br>
<div class="pag_right" align="right">
  <%= paginate @users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
</div>


<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
<script type="text/javascript">
    $('table').footable({paginate: false});
</script>
