<div class="row">
  <div class="animated fadeInRight col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.title_user') %></h1>
        <div class="panel ibox-content">
<%# <%****************************** Body *********************************** %>
<%# <%*********************** Barra de busqueda *******************************%>
          <%= form_tag({:controller => "users", :action => "index"}, :method => "get", id: "usersearch") do %>
            <div class="row">
              <div class="col-xs-10 col-md-4 form-group">
                <div class="input-group">
                  <input type="search" class="form-control" name="search" autocomplete="off" id="user_serach" placeholder="<%= t('all.placehol_search') %>">
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: 'btn btn-primary', id: "btnrt") do %>
                    <i class="fa fa-search"></i> <%= t('all.btn_search') %>
                    <% end %>
                  </span>
                </div>
              </div>
              <div class="col-md-2 col-xs-2" style="padding-left: 0px;">
                <span class="badge badge-secondary red-tooltip" id="help" data-toggle="tooltip" title="<%= t('all.help') %>">? </span>
                <span class="badge" id="alebus" style="display: none">
                  <%= t('all.help') %>
                </span>
              </div>
            </div>
          <% end %>
          <div id="usuariotabla"><%= render 'usuariotabla' %></div>
<%# <%****************************** Body *********************************** %>
        </div>
      </div>
    </div>
  </div>
</div>

<style media="screen">
  td {
    height: 50px;
    vertical-align: bottom;
  }
</style>
<script>
    $(document).ready(function () {
        $("#btnrt").click(function () {
            $.get($("#usersearch").attr("action"), $("#usersearch").serialize(), null, "script");
            return false;
        });
    });

    $('#user_serach').on('input', function () {
        if ($('#user_serach').val().trim() == "") {
            $("#btnrt").click();
        }
    });

    $(document).on("click", ".eliminar", function () {
        let vl = this;
        var id = this.id;
        var name = $('#user' + id).val();
        let tit, tit2, tit3

        if (vl.value == 1) {
            tit = '<%= t('views.mess_us_title') %> ';
            tit2 = "<%= t('views.mess_us_swall_cancel_1')%>";
            tit3 = '<%= t('views.mess_us_swall')%>';
        }
        if (vl.value == 0) {
            tit = '<%= t('views.mess_us_title3') %> ';
            tit2 = "<%= t('views.mess_us_swall_cancel_3')%>";
            tit3 = '<%= t('views.mess_us_swall_3')%>';
        }
        swal({
                title: tit + ' <%= t('views.user') %> ' + name + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_view_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_view_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: "/users/" + id,
                        data: {"_method": "delete"},
                    })
                    swal({
                        title: tit3,
                        type: "success",
                        confirmButtonText: "OK",
                    })
                    $('.confirm').click(function () {
                        window.location.reload(true);
                    })
                } else {
                    swal(tit2);
                    if (vl.value == 1) {
                        vl.checked = true;
                    } else if (vl.value == 0) {
                        vl.checked = false
                    }
                }
            });
    });


</script>
