<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.users_show.title_u_show') %></h1>
<%# <%****************************** Body *********************************** %>
        <div class="panel ibox-content">
<%# <%********************** Boton de activacion **************************** %>
          <div class="row">
            <div class="col-md-2 col-md-offset-5 col-xs-12 form-group" align="center">
              <% if @user.activo == 0 %>
                <% if @permisos[1] == 4 && @user.id != current_user.id %>
                  <% @perfil = Profile.find(@user.profile_id) %>
                  <% if current_user.profile.area_id == "1" %>
                    <% if (@perfil.flag > current_user.profile.flag) %>
                      <button type="button" class="btn btn-success" id="activa" value="<%= @user.id %>"><%= t('views.users_activate.activate') %></button>
                    <% end %>
                  <% elsif @consulta_areas.include?(current_user.area_id) %>
                    <% if @perfil.flag >= current_user.profile.flag %>
                      <button type="button" class="btn btn-success" id="activa" value="<%= @user.id %>"><%= t('views.users_activate.activate') %></button>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
<%# <%******************** Boton de activacion ****************************** %>

<%# <%************************* Informacion ********************************* %>
          <div align="center">
            <p>
              <strong><%= t('activerecord.atributes.name') %>:</strong>
              <%= @user.name %>
            </p>

            <p>
              <strong><%= t('activerecord.atributes.last_name') %>:</strong>
              <%= @user.last_name %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.boss_name') %>:</strong>
              <%= @user.boss_name %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.phone') %>:</strong>
              <%= @user.phone %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.ext') %>:</strong>
              <%= @user.ext %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.employment') %>:</strong>
              <%= @user.employment %>
            </p>

            <p class="text-center">
              <strong><%= t('views.areas') %>:</strong>
              <% if @user.area.present? %>
                <%= @user.area.name %>
              <% else %> N/A
              <% end %>
            </p>

            <p class="text-center">
              <strong><%= t('activerecord.atributes.profile_id') %>:</strong>
              <% if @user.profile.present? %>
                <%= @user.profile.name %>
              <% else %> N/A
              <% end %>
            </p>
          </div>


          <% if @user.activo == 0 && params[:activate].present? %>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4 form-group" align="center">
                <label id="titprof"><%= t('activerecord.atributes.profile_id') %></label>
                <select id="prof" name="user[profile_id]" class="form-control">
                  <option value=0><%= t('views.users_change.placeh_profile_u_change') %></option>
                  <% @profile.each do |ar| %>
                    <% if ar.flag != 2 %>
                      <option value="<%= ar[:id] %>" class="option_dynamic"><%= ar[:name] %> </option>
                    <% end %>
                  <% end %>
                </select>
                <small id="proflab" style="display: none;">.</small>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-md-offset-4 form-group" align="center">
                <%= button_tag(type: 'submit', class: 'btn btn-primary', id: "btnrt") do %>
                  <i class="fa fa-search"></i> <%= t('all.btn_search') %>
                <% end %>
              </div>
            </div>
          <% end %>



          <div class="col-xs-12">
            <% if current_user.area_id == "1" %>
              <% if @permisos[1] == 4 && @user.id != current_user.id && @user.profile.flag > current_user.profile.flag %>
                <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('views.users_show.edit_u_show'), edit_user_path(@user), :class => 'btn btn-xs btn-primary dim' %>
              <% end %>
            <% else %>
              <% if @permisos[1] == 4 && @user.id != current_user.id && @user.profile.flag > current_user.profile.flag && @consulta_areas.include?(@user.area_id) %>
                <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('views.users_show.edit_u_show'), edit_user_path(@user), :class => 'btn btn-xs btn-primary dim' %>
              <% end %>
            <% end %>

            <%= link_to '<span class="fa fa-users" ></span>  '.html_safe + t('all.back'), users_path, :class => 'btn btn-xs btn-warning dim' %>
          </div>

        </div>
<%# <%****************************** Body *********************************** %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#activa").on("click", function () {
        let id_user = this.value
        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "../users/activa",
            data: {
                id: id_user
            },
            success: function () {
                swal({
                    title: "<%= t('views.users_activate.activated')%>",
                    type: "success",
                    confirmButtonText: "OK",
                })
                $("#activa").remove();
            }
        });
    });
</script>

<script type="text/javascript">
    $("#btnrt").on("click", function () {
        let id_prof = document.getElementById('prof').value;
        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "../users/activiser",
            data: {
                id: <%=@user.id%>,
                profile_id: id_prof
            },
            success: function () {
                swal({
                    title: "<%= t('views.users_activate.activated')%>",
                    type: "success",
                    confirmButtonText: "OK",
                })
                $("#activa").remove();
                $("#btnrt").remove();
                $("#prof").remove();
            }
        });
    });
</script>
