<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <style>
    html, body {
      background-color: #e5e6e9;
      font-family: arial;
      font-size: 16px;
      color: #666;
    }

    .main {
      max-width: 480px;
      width: 100%;
      background-color: #fff;
      margin: auto;
      border-radius: 7px;
    }

    .inner-main {
      padding: 20px;
    }

    .header {
      margin-bottom: 10px;
      height: 40px;
    }

    .header img {
      width: 100%;
      max-width: 443px;
      margin-bottom: -1em;
    }

    .hero {
      margin-bottom: 30px;
      height: 178px;
    }

    .header img {
      width: 10%;
      max-width: 443px;
    }

    .body {
      margin-bottom: 30px;
      background-color: azure;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-right: 14px;
      margin-left: 14px;
      padding-top: 1em;
    }

    .bodytext {
      font-size: 14px;
      text-align: justify;
      color: #5B5555;
      margin: 1em 30px 30px 1em;
    }

    .footer {
      margin: 0em 14px 30px 14px;
      padding-bottom: 1em;
      font-size: 12px;
      font-style: italic;
      color: #999;
      font-weight: normal;
    }

    a {
      color: #22BDFF;
      text-decoration: none;
    }

    .a:hover {
      text-decoration: underline;
    }

    .btn-info:hover {
      color: #fff;
      background-color: #31b0d5;
      border-color: #269abc
    }

    .btn-info {
      color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;
    }

    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.428571429;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  </style>

</head>
<body>
<div class="main">
  <div class="inner-main">
    <div class="header">

    </div>
    <div class="body">
      <div class="title">A new user is registered</div>
      <div class="bodytext">

        User:  <%= @user.name %>
        <p><%= link_to 'Give privileges', user_user_index_url, class: "btn btn-info" %></p>
      </div>

      <div class="footer">
        KS Soluciones S.A. de C.V. © 2015
      </div>
    </div>
  </div>
</div>
</body>
</html>
