<% if @query.present? %>
  <div class="row">
    <div class="col-md-7">
      <h4><%= t('all.query') %>: <%= @query %></h4>
    </div>
  </div>
<% end %>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <% if @clients.count == 1 %>
          <%= page_entries_info @clients, entry_name: "#{t('views.client_index.client')}" %>
        <% else %>
          <%= page_entries_info @clients, entry_name: "#{t('views.client_index.client').pluralize}" %>
        <% end %>
      </div>
      <div class="detall_left">
        <%= paginate @clients, params: {controller: 'clients', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
    </div>
  </div>
</div>
<table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
  <thead>
  <tr>
    <th data-sort-ignore="true" data-visible="true" class="text-left"><%= t('views.client_index.name') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center"><%= t('views.client_index.last_name') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center"><%= t('views.client_index.email') %></th>
    <th data-sort-ignore="true" data-hide="all" class="text-center"><%= t('views.client_index.street') %></th>
    <th data-sort-ignore="true" data-hide="all" class="text-center"><%= t('views.client_index.city') %></th>
    <th data-sort-ignore="true" data-hide="all" class="text-center"><%= t('views.client_index.town') %></th>
    <th data-sort-ignore="true" data-hide="all" class="text-center"><%= t('views.client_index.state') %></th>
    <th data-sort-ignore="true" data-hide="all" class="text-center" data-type="numeric"><%= t('views.client_index.cp') %></th>
    <th data-sort-ignore="true" data-hide="all" class="text-center"><%= t('views.client_index.birthday') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center"><%= t('views.client_index.number_accounts') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center"><%= t('views.client_index.show_accounts') %></th>
    <th data-sort-ignore="true" data-hide="phone" class="text-center"><%= t('views.client_index.edit') %></th>
    <th data-sort-ignore="true" data-hide="phone" class="text-center"><%= t('views.client_index.destroy') %></th>
  </tr>
  </thead>
  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td class="text-left">
        <% if client.name.present? %>
          <%= client.name %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.last_name.present? %>
          <%= client.last_name %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.email.present? %>
          <%= client.email %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.street.present? %>
          <%= client.street %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.city.present? %>
          <%= client.city %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.town.present? %>
          <%= client.town %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.state.present? %>
          <%= client.state %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.cp.present? %>
          <%= client.cp %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.birthday.present? %>
          <%= client.birthday %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if client.account.present? %>
          <% cuenta = client.account.to_s %>
          <%= cuenta %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">

        <% if client.cards.count > 0 %>
          <%= client.cards.count %>
          <% if @leerClient == 2 %> |
            <%= link_to ("<button class='btn btn-primary btn-xs tolshow' data-toggle='tooltip' type='button'><i class='fa fa-file-text'></i></button>").html_safe, {:controller => "clients", :action => "show", :id => client.id}, :data => {:no_turbolink => true} %>
          <% end %>
        <% else %>
          0 |
          <% if @crearClient == 8 %>
            <%= link_to link_to ("<button class='btn btn-primary btn-xs tolnew' data-toggle='tooltip' type='button'>" + t('views.client_index.new_account') + "</button>").html_safe, {:controller => "cards", :action => "new", :id => client.id}, :data => {:no_turbolink => true} %>
          <% end %>
        <% end %>
      </td>
      <td class="text-center">
        <% if @editarClient == 4 %>
          <%= link_to ("<button class='btn btn-warning btn-xs toledit' data-toggle='tooltip' type='button'><i class='fa fa-pencil'></i></button>").html_safe, edit_client_path(client), :data => {:no_turbolink => true} %>
        <% end %>
      </td>
      <td class="text-center">
        <% if @eliminarClient == 1 %>
          <input type="hidden" value="<%= client.name %>" id="client<%= client.id %>">
          <button class="btn btn-danger btn-xs eliminar toldelete" data-toggle='tooltip' id="<%= client.id %>" type="button">
            <i class="fa fa-trash-o"></i>
          </button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="detall_left">
        <%= paginate @clients, params: {controller: 'clients', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
      <div class="pag_right">
        <% if @clients.count == 1 %>
          <%= page_entries_info @clients, entry_name: "#{t('views.client_index.client')}" %>
        <% else %>
          <%= page_entries_info @clients, entry_name: "#{t('views.client_index.client').pluralize}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('table').footable({});
    <% if @error == true  %>
    swal({
            title: '<%= t('all.no_filter') %>.',
            type: 'error',
            confirm: 'OK'
        }
    );
    <% end %>

    $('.tolshow').attr('title', '<%= t('views.client_show.show') %>');
    $('.toledit').attr('title', '<%= t('views.client_show.edittol') %>');
    $('.toldelete').attr('title', '<%= t('views.client_show.delete') %>');
    $('.tolnew').attr('title', '<%= t('views.client_show.tolnew') %>');
    $('[data-toggle="tooltip"]').tooltip();
</script>