<% if @nuevo.present? %>
  <% if ((@nuevo.find["municipio"] != "") && (@nuevo.find["estado"] != "") && (@nuevo.find["colonias"] != "")) && ((@nuevo.find["municipio"].present?) && (@nuevo.find["estado"].present?) && (@nuevo.find["colonias"].present?)) %>
    <div class="col-md-2 col-sm-2 col-xs-2 form-group" style="margin-top: 11px">
      <label><%= t('views.client_dynamic.town') %></label>
      <input type="text" value="<%= @nuevo.find["municipio"] %>" id="town" disabled="false" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.town') %>" autocomplete="off" maxlength="255">
      <input type="hidden" value="<%= @nuevo.find["municipio"] %>" name="client[town]">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 form-group" style="margin-top: 11px">
      <label><%= t('views.client_dynamic.state') %></label>
      <input type="text" value="<%= @nuevo.find["estado"] %>" id="state" disabled="false" name="client[state]" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.state') %>" autocomplete="off" maxlength="255">
      <input type="hidden" value="<%= @nuevo.find["estado"] %>" name="client[state]">
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3 form-group" style="margin-top: 11px">
      <label><%= t('views.client_dynamic.street') %></label>
      <select name="client[street]" class="form-control input-sm" id="colony">
        <option value=""><%= t('views.client_dynamic.sel_col') %></option>
        <% id = 0 %>
        <% @nuevo.find["colonias"].each do |col| %>
          <option value="<%= col %>"><%= col %></option>
        <% end %>
      </select>
    </div>
  <% else %>
    <% if @client.present? %>
      <div class="col-md-2 col-sm-2 col-xs-2 form-group" style="margin-top: 11px">
        <label><%= t('views.client_dynamic.town') %></label>
        <input type="text" id="town1" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.town') %>" autocomplete="off" name="client[town]" value="<%= @client.town %>" maxlength="255">
      </div>

      <div class="col-md-2 col-sm-2 col-xs-2 form-group" style="margin-top: 11px">
        <label><%= t('views.client_dynamic.state') %></label>
        <input id="estado" type="text" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.state') %>" autocomplete="off" name="client[state]" value="<%= @client.state %>" maxlength="255">
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3 form-group" style="margin-top: 11px">
        <label><%= t('views.client_dynamic.street') %></label>
        <input type="text" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.street') %>" name="client[street]" value="<%= @client.street %>" maxlength="255">
      </div>
    <% else %>
      <div class="col-md-2 col-sm-2 col-xs-2 form-group" style="margin-top: 11px">
        <label><%= t('views.client_dynamic.town') %></label>
        <input type="text" id="town2" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.town') %>" autocomplete="off" name="client[town]" maxlength="255">
      </div>

      <div class="col-md-2 col-sm-2 col-xs-2 form-group" style="margin-top: 11px">
        <label><%= t('views.client_dynamic.state') %></label>
        <input id="estado1" type="text" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.state') %>" autocomplete="off" name="client[state]" maxlength="255">
      </div>

      <div class="col-md-3 col-sm-3 col-xs-43form-group" style="margin-top: 11px">
        <label><%= t('views.client_dynamic.street') %></label>
        <input type="text" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.street') %>" autocomplete="off" name="client[street]" maxlength="255">
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="col-md-2 col-sm-2 col-xs-2 form-group" style="margin-top: 11px">
    <label><%= t('views.client_dynamic.town') %></label>
    <input type="text" id="town3" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.town') %>" autocomplete="off" name="client[town]" value="<%= @client.town %>" maxlength="255">
  </div>

  <div class="col-md-2 col-sm-2 col-xs-2 form-group" style="margin-top: 11px">
    <label><%= t('views.client_dynamic.state') %></label>
    <input id="estado1" type="text" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.state') %>" autocomplete="off" name="client[state]" value="<%= @client.state %>" maxlength="255">
  </div>

  <div class="col-md-3 col-sm-3 col-xs-3 form-group" style="margin-top: 11px">
    <label><%= t('views.client_dynamic.street') %></label>
    <input type="text" class="form-control input-sm" placeholder="<%= t('views.client_dynamic.street') %>" name="client[street]" value="<%= @client.street %>" autocomplete="off" maxlength="255">
  </div>

<% end %>


<script>
    var town = $("#town").val();
    var state = $("#state").val();

    if (((town != undefined) && (state != undefined)) && (town.length > 1) && (state.length > 1)) {
        $("#carga").show()
        $(".close").hide()
        $("#no_existe").hide()
        $("#town").attr("disabled", true);
        $("#townEnv").val(town);
        $("#state").attr("disabled", true);
        $("#stateEnv").val(state)
        $('#cp').hide()
        $('#colony').focus();
        $('#myModal').modal('hide');

    } else {
        $('#cp').hide()
        $("#no_ex").text('<%= t('views.client_dynamic.does_exist') %>')
        <% if @client.present? %>
        <% if @client.cp.present? %>
        $('#codigo').val('<%= @client.cp %>')
        <% end %>
        <% end %>
        $("#carga").hide()
        $("#no_existe").show()
        $(".close").show()
    }

    $("#colony").change(function () {
        var colony = $(this).val();
        $("#colEnv").val(colony)
    })
</script>