<div class="traducciones" style="display: none;">
  <input type="hidden" id="trad3" value="<%= t('views.client_form.tradu21') %>">
</div>

<%= form_for @client, :html => {:id => 'form1', :role => 'form'} do |f| %>

  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this router from being saved:</h2>
      <ul>
        <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @error.present? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">x</button>
      <p><%= @error %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: 'submit', name: 'add_client', id: 'add_client', :class => 'btn btn-xs btn-primary', :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.client_form.btn_client') %>
      <% end %>
      <%= button_tag(type: 'submit', name: 'client_card', id: 'client_card', :class => 'btn btn-xs btn-primary', :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.client_form.btn_c_c') %>
      <% end %>
      <%= link_to ('<i class="fa fa-address-card"></i> ').html_safe + t('views.client_form.btn_back'), clients_path, :data => {:no_turbolink => true}, :class => 'btn btn-xs btn-danger' %>
    </div>
  </div>
  <br>

  <!--Datos Generales-->
  <fieldset>
    <legend><%= t('views.client_form.gral_data') %></legend>
    <div class="row">
      <div class="col-md-4 form-group" style="margin-top: 11px">
        <label class="required"><%= t('views.client_index.name') %></label>
        <%= f.text_field :name, class: 'form-control input-sm', id: 'name', placeholder: t('views.client_index.name'), :autocomplete => :off, :maxlength => 255 %>
        <h4><span class="label" id="namelabel"></span></h4>
      </div>
      <div class="col-md-4 form-group" style="margin-top: 11px">
        <label><%= t('views.client_index.last_name') %></label>
        <%= f.text_field :last_name, class: 'form-control input-sm', id: 'last_name', placeholder: t('views.client_index.last_name'), :autocomplete => :off, :maxlength => 255 %>
      </div>

      <div class="col-md-4 form-group">
        <label><%= t('views.client_index.account') %> THD.</label>
        <span class="badge badge-secondary blue-tooltip" style="margin-bottom: 16px" id="help" data-toggle="tooltip" title="<%= t('views.client_index.rangohelp') %>">?</span>
        <%= f.text_field :account, class: 'form-control input-sm', id: 'account', placeholder: t('views.client_index.account'), :autocomplete => :off, :maxlength => 16 %>
        <h4><span class="label" id="accountlabel"></span></h4>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 form-group ">
        <label><%= t('views.client_index.email') %></label>
        <%= f.email_field :email, class: 'form-control input-sm correo', :id => 'mail', :oninput => "setCustomValidity('')", placeholder: t('views.client_index.email'), :autocomplete => :off, :maxlength => 255 %>
        <h4><span class="label" id="errorMail"></span></h4>
      </div>
      <div class="col-md-4 form-group" id="dato_1">
        <p align="left"><strong><%= t('views.client_index.birthday') %></strong></p>
        <div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar" id="cumple"></i></span>
          <%= f.text_field :birthday, class: "form-control", placeholder:t('all.placeholder_fecha') , :id => 'client_birthday', :autocomplete => :off %>
        </div>
        <label for="" id="edadLab" class="label label-danger hide" style="font-size: 10px; display: block; padding: 0; margin-top: 5px;"><%= t('views.client_form.tradu19') %> </label>
      </div>
      <span id="errorDate" class="label label-danger" style="display: none;"></span>
      <div class="col-md-4 form-group">
        <label><%= t('views.client_index.sex') %></label>
        <div class="radio">
          <%= f.radio_button :sex, "1", id: 'mas' %>
          <label for="radio1">
            <%= t('views.client_form.sex_mas') %>
          </label>
        </div>
        <div class="radio">
          <%= f.radio_button :sex, "2", id: 'fem' %>
          <label for="radio1">
            <%= t('views.client_form.sex_fem') %>
          </label>
        </div>
        <input type="hidden" id="radio_hi" class="form-control">
      </div>
    </div>
  </fieldset>
  <!--Datos Generales-->

  <!--Address-->
  <fieldset>
    <legend><%= t('views.client_form.address') %></legend>
    <div class="row">
      <div class="col-md-2 form-group">
        <label><%= t('views.client_index.cp') %></label>
        <span class="badge badge-secondary blue-tooltip" style="margin-bottom: 16px" id="helpcp" data-toggle="tooltip" title="<%= t('views.client_index.rangohelp2') %>">?</span>
        <%= f.text_field :cp, class: "form-control input-sm", placeholder: t('views.client_index.cp'), :autocomplete => :off, :id => "codigo", :maxlength => 5 %>
        <h4><span class="label" id="cplabel"></span></h4>
      </div>
      <div class="dynamic">
        <%= render partial: 'dynamic' %>
      </div>
      <div class="col-md-3 form-group" style="margin-top: 11px">
        <label><%= t('views.client_index.city') %></label>
        <%= f.text_field :city, id: 'city', class: "form-control input-sm", placeholder: t('views.client_index.city'), :autocomplete => :off, :maxlength => 255 %>
      </div>
    </div>
  </fieldset>
  <!--Address-->
  <%= f.hidden_field :last_at, class: "form-control", :autocomplete => :off %>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: 'submit', name: 'add_client', id: 'add_client2', :class => 'btn btn-xs btn-primary', :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.client_form.btn_client') %>
      <% end %>
      <%= button_tag(type: 'submit', name: 'client_card', id: 'client_card2', :class => 'btn btn-xs btn-primary', :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.client_form.btn_c_c') %>
      <% end %>
      <%= link_to ('<i class="fa fa-address-card"></i> ').html_safe + t('views.client_form.btn_back'), clients_path, :data => {:no_turbolink => true}, :class => 'btn btn-xs btn-danger' %>
    </div>
  </div>

<% end %>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title" id="cp"></h2>
        <button type="button" class="close" data-dismiss="modal" style="display: none;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center" id="carga">
        <%= image_tag("loading-gif-transparent-10.gif", :align => "middle", class: "img-responsive img-rounded center-block") %>
      </div>
      <div class="modal-body" id="no_existe">
        <h1><p id="no_ex"></p></h1>
      </div>
    </div>
  </div>
</div>

<script>

    //Envio de CodigoPostal1
    // $('#codigo').change(function () {ssssssssssss
    //     var codigo = $(this).val();
    //     if (codigo.length == 5) {
    <%# if params[:id].present? %>
    <!--            var id = "<%#= params[:id] %>"-->
    // $('.dynamic').load('/clients/dynamic?codigo=' + codigo + '&id=' + id);
    <%# else %>
    // $('.dynamic').load('/clients/dynamic?codigo=' + codigo);
    <%# end %>

    // $("#carga").show()
    // $("#no_existe").hide()
    // $('#myModal').modal({backdrop: 'static', keyboard: false})
    // $('#myModal').modal('toggle');
    // $('#myModal').modal('show');

    //$('#myModal').modal('hide');

    // $('#cp').show()
    <!--            $('#cp').text('<%#= t('views.client_form.tradu1') %>')-->
    //$('#cp').show()
    //$('#cp').addClass('label label-warning')

    // } else {
    //     $(this).val("");
    //     $("#town").val("");
    //     $("#town").attr("disabled", false);
    //
    //     $("#state").val("");
    //     $("#state").attr("disabled", false);
    //     $('#colony option').remove();
    //
    // }
    // });

</script>