<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.client_index.title') %></h1>
          <div class="ibox-content">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <%= form_tag({:controller => "clients", :action => "index"}, :method => "get", id: "clientsearch") do %>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4 col-md-4">
                        <div class="input-group">
                          <input type="text" class="form-control" name="search" autocomplete="off" maxlength="255" id="sear" placeholder="<%= t('views.client_index.search') %>">
                          <span class="input-group-btn">
                            <%= button_tag(type: "submit", class: "btn btn-primary", name: "btnclient", id: "btnclient") do %>
                              <i class="fa fa-search"></i>
                              <%= t('views.client_index.btn_search') %>
                            <% end %>
                          </span>
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4">
                        <span class="badge badge-secondary" id="help" data-toggle="tooltip" title="<%= t('all.help') %>">?</span>
                      </div>
                      <div class="col-sm-7 col-md-7">
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <% if @crearClient == 8 %>
                  <%= link_to "<i class='fa fa-address-card'></i> ".html_safe + t('views.client_index.new_cliente'), new_client_path, :class => "btn btn-xs btn-primary", :data => {no_turbolink: true} %>
                <% end %>
              </div>
            </div>
            <br>
            <br>
            <div class="table footable" id="ta_client">
              <%= render :partial => 'client' %>
            </div>
            <div class="row">
              <div class="col-md-4">
                <% if @crearClient == 8 %>
                  <%= link_to "<i class='fa fa-address-card'></i> ".html_safe + t('views.client_index.new_cliente'), new_client_path, :class => "btn btn-xs btn-primary", :data => {no_turbolink: true} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    $(document).ready(function () {

        $('#clientsearch').submit(function () {
            var sear = $('#sear').val().length;
            if (sear == 0) {
                return false
            }
        });

        $('#sear').on('input', function () {
            if ($('#sear').val().trim() == "") {
                $("#btnclient").click();
            }
        });
        $("#btnclient").click(function () {
            $.get($("#clientsearch").attr("action"), $("#clientsearch").serialize(), null, "script");
            return false;
        });
        $('table').footable({});
        $('.tolshow').attr('title', '<%= t('views.client_show.show') %>');
        $('.toledit').attr('title', '<%= t('views.client_show.edittol') %>');
        $('.toldelete').attr('title', '<%= t('views.client_show.delete') %>');
        $('.tolnew').attr('title', '<%= t('views.client_show.tolnew') %>');
        $('[data-toggle="tooltip"]').tooltip();
        function recargar() {
            window.location.reload(true);
        }
        $(document).on("click", ".eliminar", function () {
            var id = this.id;
            var client = $("#client" + id).val();
            swal({
                    html: true,
                    title: '<%= t('all.atencion') %>',
                    text: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.client_index.client')%> <strong class="text-warning">' + client + '</strong>?',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "<%= t('views.mess_view_swall_confirm')%> ",
                    cancelButtonText: "<%= t('views.mess_view_swall_cancel')%>",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        swal({
                                title: '<%= t('all.atencion') %>',
                                text: '<%= t('views.client_index.dato')%>',
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "<%= t('views.mess_view_swall_confirm')%> ",
                                cancelButtonText: "<%= t('views.mess_view_swall_cancel')%>",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $.ajax({
                                        type: "POST",
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                        },
                                        url: "/clients/" + id,
                                        data: {"_method": "delete"},
                                    });
                                    swal(
                                        {
                                            title: '<%= t('views.mess_view_swall')%>',
                                            type: "success",
                                            confirmButtonText: "OK",
                                        });
                                    $('.confirm').click(function () {
                                        recargar()
                                    })
                                } else {
                                    swal("<%= t('views.mess_view_swall_cancel_1')%>");
                                }
                            })
                    } else {
                        swal("<%= t('views.mess_view_swall_cancel_1')%>");
                    }
                });
        });
    });
</script>

