<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.client_show.title') %></h1>
        </div>
        <div class="ibox-content" id="responsiveTable">
          <div class="row">
            <div class="col-md-4">
              <% if @crearClient == 8 %>
                <%= link_to '<i class="fa fa-cc-mastercard"></i> '.html_safe + t('views.client_index.new_account'), {:controller => 'cards', :action => 'new', :id => @cliente_id}, :class => "btn btn-primary btn-xs m-t-10" %>
              <% end %>
              <%= link_to ('<i class="fa fa-users"></i> ').html_safe + t('all.back'), clients_path, :class => "btn btn-warning btn-xs" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-left">
              <div class="ibox" style="border: 1px solid #e7eaec">
                <div class="ibox-title" style="color: #2F4050">
                  <% cliente = Client.find_by(:id => params[:id]) %>
                  <h5><%= cliente.name %> <%= cliente.last_name %></h5>
                  <div class="ibox-tools">
                    <a class="collapse-link">
                      <i class="fa fa-chevron-down"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" style="display: block">
                  <table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
                    <tbody>
                    <tr>
                      <td class="text-center" colspan="2">
                        <h3><%= t('views.client_form.gral_data') %></h3>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.name') %></strong></td>
                      <td>
                        <% if @client.name.present? || @client.last_name.present? %>
                          <%= @client.name %> <%= @client.last_name %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.account') %></strong></td>
                      <td>
                        <% if @client.account.present? %>
                          <%= @client.account %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.email') %></strong></td>
                      <td>
                        <% if @client.email.present? %>
                          <%= @client.email %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.birthday') %></strong></td>
                      <td>
                        <% if @client.birthday.present? %>
                          <%= @client.birthday %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.sex') %></strong></td>
                      <td>
                        <% if @client.sex.present? %>
                          <% if @client.sex == 1 || @client.sex == '1' %>
                            <%= t('views.client_form.sex_mas') %>
                          <% elsif @client.sex == 2 || @client.sex == '2' %>
                            <%= t('views.client_form.sex_fem') %>
                          <% end %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center" colspan="2">
                        <h3><%= t('views.client_form.address') %></h3>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.cp') %></strong></td>
                      <td>
                        <% if @client.cp.present? %>
                          <%= @client.cp %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.town') %></strong></td>
                      <td>
                        <% if @client.town.present? %>
                          <%= @client.town %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.state') %></strong></td>
                      <td>
                        <% if @client.state.present? %>
                          <%= @client.state %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.street') %></strong></td>
                      <td>
                        <% if @client.street.present? %>
                          <%= @client.street %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td data-hide="phone"><strong><%= t('views.client_index.city') %></strong></td>
                      <td>
                        <% if @client.city.present? %>
                          <%= @client.city %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
                <thead>
                <tr>
                  <th class="text-center" data-visible="true"><%= t('views.client_show.bank') %></th>
                  <th data-hide="phone" class="text-center"><%= t('views.client_show.Acounts') %>: <b><%= @t_c %></b>
                  </th>
                  <th data-hide="phone" class="text-center"><%= t('views.client_show.Credit') %></th>
                  <th data-hide="phone" class="text-center"><%= t('views.client_show.Actual_Balance') %></th>
                  <th data-hide="phone" class="text-center"><%= t('views.client_show.Floor_Limit') %></th>
                  <th class="text-center"><%= t('views.client_show.Editar') %></th>
                </tr>
                </thead>

                <tbody>

                <% @total_cards.each do |tcle| %>
                  <tr>
                    <td class="text-center">
                      <% if tcle.cvv.present? %>
                        <%= tcle.cvv %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if tcle.number_card.present? %>
                        <%= tcle.number_card %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if tcle.initial_balance.present? %>
                        <%= number_to_currency((tcle.initial_balance.to_f) / 100, locale: :en) %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if tcle.actual_balance.present? %>
                        <%= number_to_currency((tcle.actual_balance.to_f) / 100, locale: :en) %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if tcle.floor_limit.present? %>
                        <%= number_to_currency((tcle.floor_limit.to_f) / 100, locale: :en) %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td class="text-center">
                      <% if @editarClient == 4 %>
                        <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil"></i></button>'.html_safe, {:controller => 'cards', :action => 'edit', :id => tcle.id} %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>

                </tbody>
              </table>
            </div>
            <div class="col-md-1"></div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <% if @crearClient == 8 %>
                <%= link_to '<i class="fa fa-cc-mastercard"></i> '.html_safe + t('views.client_index.new_account'), {:controller => 'cards', :action => 'new', :id => @cliente_id}, :class => "btn btn-primary btn-xs m-t-10" %>
              <% end %>
              <%= link_to ('<i class="fa fa-users"></i> ').html_safe + t('all.back'), clients_path, :class => "btn btn-warning btn-xs" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('table').footable();
</script>
