<p id="notice"><h1><%= notice %></h1></p>
<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.client_show.title') %></h1>
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-cc-mastercard"></i> '.html_safe + t('views.cards_new.title'), {:controller => 'cards', :action => 'new', :id => @cliente_id}, :data => {:no_turbolink => true}, :class => "btn btn-primary btn-xs m-t-10" %>
                <%= link_to '<i class="fa fa-users"></i> '.html_safe + t('views.regions_form.btn_back'), clients_path, :class => "btn btn-warning btn-xs" %>
              </div>
            </div>
            <br>
            <table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
              <thead>
              <tr>
                <th class="text-center" data-sort-ignore="true" data-visible="true">Client Name</th>
                <th data-hide="phone" data-sort-ignore="true" class="text-center"><%= t('views.client_index.name') %></th>
                <th data-hide="phone" class="text-center"><%= t('views.client_index.birthday') %></th>
                <th data-hide="phone" class="text-center"><%= t('views.client_index.home') %></th>
                <th data-hide="phone" class="text-center"><%= t('views.client_index.sex') %></th>
                <th data-hide="phone" class="text-center"><%= t('views.client_index.edit') %></th>
              </tr>
              </thead>
              <tbody>
              <% @client_new.each do |tcle| %>
                <tr>
                  <td class="text-center"><%= tcle.name %>
                    <% tcle.last_name %></td>
                  <td class="text-center"><%= tcle.email %></td>
                  <td class="text-center"><%= tcle.birthday %></td>
                  <td class="text-center"><%= tcle.account %></td>
                  <td class="text-center">
                    <% if tcle.sex.present? %>
                      <% if tcle.sex == 1 %>
                        <%= t('views.client_form.sex_mas') %>
                      <% elsif tcle.sex == 2 %>
                        <%= t('views.client_form.sex_fem') %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="text-center"><%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil"></i></button>'.html_safe, {:controller => 'cards', :action => 'edit', :id => tcle.id}, :data => {:no_turbolink => true} %></td>
                </tr>
              <% end %>

              </tbody>
            </table>
            <br>
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-cc-mastercard"></i> '.html_safe + t('views.cards_new.title'), {:controller => 'cards', :action => 'new', :id => @cliente_id}, :data => {:no_turbolink => true}, :class => "btn btn-primary btn-xs m-t-10" %>
                <%= link_to '<i class="fa fa-users"></i> '.html_safe + t('views.regions_form.btn_back'), clients_path, :class => "btn btn-warning btn-xs" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $('table').footable();
</script>