<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "charts/jquery.flot" %>
<%= javascript_include_tag "charts/jquery.flot.time" %>
<%= javascript_include_tag "charts/jquery.flot.animator.min" %>
<%= javascript_include_tag "charts/jquery.flot.resize.min" %>
<%= javascript_include_tag "sparkline.min" %>
<%= javascript_include_tag "easypiechart" %>
<%= javascript_include_tag "charts" %>

<!-- Indicadores Clientes, Agotado limite de credito y limite de transacciones -->
<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="block-area">
          <div class="ibox-content">

            <!--Indicadores-->
            <div class="ibox float-e-margins">
              <div class="ibox-title pad_title">
                <h2><%= t('views.index_home.indicadores') %></h2>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content pad_cont">
                <div class="row">
                  <div class="col-md-3">
                    <div class="widget style1 navy-bg">
                      <div class="row">
                        <div class="col-xs-4 text-left">
                          <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                          <span><%= t('views.index_home.clientes') %></span>
                          <h3><%= @numero_clientes %></h3>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="widget style1 navy-bg">
                      <div class="row">
                        <div class="col-xs-4 text-left">
                          <i class="fa fa-credit-card-alt fa-3x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                          <span><%= t('views.index_home.credito') %></span>
                          <h3><%= link_to @acc_act_agot_credito, {:controller => "cards", :action => "index", :exausted_credit => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="widget style1 navy-bg ">
                      <div class="row">
                        <div class="col-xs-4 text-left">
                          <i class="fa fa-money fa-3x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                          <span><%= t('views.index_home.limite') %></span>
                          <h3><%= link_to @acc_act_agot_lim_ope, {:controller => "cards", :action => "index", :exausted_limit => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="widget style1 navy-bg">
                      <div class="row">
                        <div class="col-xs-4 text-left">
                          <i class="fa fa-lock fa-3x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                          <span><%= t('views.index_home.cuentas') %></span>
                          <h3><%= link_to @acc_act_agot_acc_bloc, {:controller => "cards", :action => "index", :bloqued => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Cantidad de transacciones aprovadas -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.trans_aprobadas') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= @tra_apr_mes %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= @tra_apr_hoy %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= @tra_apr_ayer %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= @tra_apr_ahoy %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Total del monto de transacciones aprovadas -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.cant_Transacciones') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= number_with_delimiter(@tra_amo_mes.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= number_with_delimiter(@tra_amo_hoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= number_with_delimiter(@tra_amo_ayer.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= number_with_delimiter(@tra_amo_ahoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Total de Cheques devueltos -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.cheques') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= link_to @che_dev_mes, {:controller => "ptlfs", :action => "index", :che_dev_mes => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= link_to @che_dev_hoy, {:controller => "ptlfs", :action => "index", :che_dev_hoy => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= link_to @che_dev_ayer, {:controller => "ptlfs", :action => "index", :che_dev_ayer => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= link_to @che_dev_aldia, {:controller => "ptlfs", :action => "index", :che_dev_aldia => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Total del monto de cheques devueltos -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.monto_Total') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= number_with_delimiter(@che_dev_amo_mes.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= number_with_delimiter(@che_dev_amo_hoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= number_with_delimiter(@che_dev_amo_ayer.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= number_with_delimiter(@che_dev_amo_aldia.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Total Cheques recuperados -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.verif_Total') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= link_to @recove_aproval_mes, {:controller => "ptlfs", :action => "index", :recove_aproval_mes => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= link_to @recove_aproval_hoy, {:controller => "ptlfs", :action => "index", :recove_aproval_hoy => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= link_to @recove_aproval_ayer, {:controller => "ptlfs", :action => "index", :recove_aproval_ayer => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= link_to @recove_aproval_ahoy, {:controller => "ptlfs", :action => "index", :recove_aproval_ahoy => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Monto Cheques recuperados -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.verit_Monto') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= number_with_delimiter(@recove_amo_aproval_mes.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= number_with_delimiter(@recove_amo_aproval_hoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= number_with_delimiter(@recove_amo_aproval_ayer.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= number_with_delimiter(@recove_amo_aproval_ahoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Totla Cheques pendientes por recuperar -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.verif_Pendiente') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= link_to @recu_recove_aproval_mes, {:controller => "ptlfs", :action => "index", :recu_recove_aproval_mes => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= link_to @recu_recove_aproval_hoy, {:controller => "ptlfs", :action => "index", :recu_recove_aproval_hoy => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= link_to @recu_recove_aproval_ayer, {:controller => "ptlfs", :action => "index", :recu_recove_aproval_ayer => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= link_to @recu_recove_aproval_ahoy, {:controller => "ptlfs", :action => "index", :recu_recove_aproval_ahoy => 1}, :data => {:no_turbolink => true}, class: 'white' %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Monto de Cheques pendientes por recuperar -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.verif_Monto_Pendiente') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= number_with_delimiter(@recu_amo_recove_aproval_mes.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= number_with_delimiter(@recu_amo_recove_aproval_hoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= number_with_delimiter(@recu_amo_recove_aproval_ayer.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= number_with_delimiter(@recu_amo_recove_aproval_ahoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Total de comision de transacciones aprovadas -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.guardado') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="width widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= number_with_delimiter(number_with_precision(((@tra_amo_mes.to_f * 0.017) / 100), precision: 2)) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="width widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= number_with_delimiter(number_with_precision(((@tra_amo_hoy.to_i * 0.017) / 100), precision: 2)) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="width widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= number_with_delimiter(number_with_precision(((@tra_amo_ayer.to_i * 0.017) / 100), precision: 2)) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="width widget style1 navy-bg">
                          <div class="row">
                            <div class="col-md-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= number_with_delimiter(number_with_precision(((@tra_amo_ahoy.to_i * 0.017) / 100), precision: 2)) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Fuera de Validacion -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.val_Salida') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= @che_fue_valid_mes %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= @che_fue_valid_hoy %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= @che_fue_valid_ayer %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= @che_fue_valid_ahoy %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Total del monto de fuera de validacion -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.cont_Valida') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= number_with_delimiter(@che_fue_amo_valid_mes.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= number_with_delimiter(@che_fue_amo_valid_hoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= number_with_delimiter(@che_fue_amo_valid_ayer.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-usd fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= number_with_delimiter(@che_fue_amo_valid_ahoy.to_f / 100) %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Cuentas Activas -->
                <div class="ibox float-e-margins border-bottom">
                  <div class="ibox-title pad_title">
                    <h2><%= t('views.index_home.activas') %></h2>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content pad_cont" style="display: none">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.mes_Pasado') %></span>
                              <h3><%= @acco_activ_mes %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.este_Mes') %></span>
                              <h3><%= @acco_activ_hoy %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.ayer') %></span>
                              <h3><%= @acco_activ_ayer %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="widget style1 navy-bg">
                          <div class="row">
                            <div class="col-xs-4 text-left">
                              <i class="fa fa-handshake-o fa-3x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                              <span><%= t('views.index_home.hoy') %></span>
                              <h3><%= @acco_activ_ahoy %></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Grafica de transacciones aprovadas -->
            <div class="ibox float-e-margins">
              <div class="ibox-title pad_title">
                <h2><%= t('views.index_home.total') %></h2>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content pad_cont">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <div class="tile">
                      <%= area_chart @total, style: "font-color: Black; font-family: 'Avenir Medium', 'avenir', 'Avenir', Avenir, 'Avenir Black', 'Avenir Heavy', 'Avenir Roman';", colors: ["#003057"], xtitle: t('views.index_home.date'), ytitle: t('views.index_home.trans'), library: {backgroundColor: 'transparent'} %>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                </div>
              </div>
            </div>

            <!-- Grafica de monto de comision y Comision -->
            <div class="ibox float-e-margins">
              <div class="ibox-title pad_title">
                <h2><%= t('views.index_home.total_Mon_Comi') %></h2>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content pad_cont">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <div class="tile">
                      <%= area_chart [{name: t('views.index_home.guardado_Comi'), data: @t_amount_porcent, style: "font-color: Black; font-family: 'inherit';"}, {name: t('views.index_home.montos_Trans'), data: @t_amount}], colors: ["red", "#003057"], xtitle: t('views.index_home.date'), ytitle: t('views.index_home.trans'), library: {backgroundColor: 'transparent'} %>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .white {
    color: white
  }

  .cont {
    height: 75px;
  }

  .pad_title {
    padding: 10px 10px 20px 10px
  }

  .pad_cont {
    padding: 0 10px 0 10px
  }

  .pad {
    padding-top: 6px;
  }

  .pad2 {
    margin-top: -6px;
  }
</style>