<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>ERROR</title>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      /*font-family: "Avenir Medium", "avenir", "Avenir", Avenir, "Avenir Black", "Avenir Heavy", "Avenir Roman";*/
      box-sizing: border-box;
      font-size: 14px
    }

    img {
      max-width: 100%
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
      line-height: 1.6
    }

    table td {
      vertical-align: top
    }

    body {
      background-color: #f6f6f6;
      margin: 0;
      padding: 0
    }

    .body-wrap {
      background-color: #f6f6f6;
      width: 70%;
      margin-right: 50px;
    }

    .container {
      display: block !important;
      max-width: 600px !important;
      margin: 0 auto !important;
      clear: both !important
    }

    .content {
      max-width: 600px;
      margin: 0 auto;
      display: block;
      padding: 20px
    }

    .main {
      background: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 3px
    }

    .content-wrap {
      padding: 20px
    }

    .content-block {
      padding: 0 0 20px
    }

    .header {
      width: 100%;
      margin-bottom: 20px
    }

    .footer {
      width: 100%;
      clear: both;
      color: #999;
      padding: 20px
    }

    .footer a {
      color: #999
    }

    .footer a, .footer p, .footer td, .footer unsubscribe {
      font-size: 12px
    }

    h1, h2, h3 {
      /*font-family: "Avenir Medium", "avenir", "Avenir", Avenir, "Avenir Black", "Avenir Heavy", "Avenir Roman";*/
      color: #000;
      margin: 40px 0 0;
      line-height: 1.2;
      font-weight: 400
    }

    h1 {
      font-size: 32px;
      font-weight: 500
    }

    h2 {
      font-size: 24px
    }

    h3 {
      font-size: 18px
    }

    h4 {
      font-size: 14px;
      font-weight: 600
    }

    ol, p, ul {
      margin-bottom: 10px;
      font-weight: 400
    }

    ol li, p li, ul li {
      margin-left: 5px;
      list-style-position: inside
    }

    a {
      color: #003057;
      text-decoration: underline
    }

    .btn-primary {
      text-decoration: none;
      color: #FFF;
      background-color: #003057;
      border: solid #003057;
      border-width: 5px 10px;
      line-height: 2;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px;
      text-transform: capitalize
    }

    .last {
      margin-bottom: 0
    }

    .first {
      margin-top: 0
    }

    .aligncenter {
      text-align: center
    }

    .alignright {
      text-align: right
    }

    .alignleft {
      text-align: left
    }

    .clear {
      clear: both
    }

    .alert {
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      padding: 20px;
      text-align: center;
      border-radius: 3px 3px 0 0
    }

    .alert a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px
    }

    .alert.alert-warning {
      background: #f8ac59
    }

    .alert.alert-bad {
      background: #ed5565
    }

    .alert.alert-good {
      background: #003057;
      font-size: 16px;
    }

    .invoice {
      margin: 40px auto;
      text-align: left;
      width: 80%
    }

    .invoice td {
      padding: 5px 0
    }

    .invoice .invoice-items {
      width: 100%
    }

    .invoice .invoice-items td {
      border-top: #eee 1px solid
    }

    .invoice .invoice-items .total td {
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      font-weight: 700
    }

    @media only screen and (max-width: 640px) {
      h1, h2, h3, h4 {
        font-weight: 600 !important;
        margin: 20px 0 5px !important
      }

      h1 {
        font-size: 22px !important
      }

      h2 {
        font-size: 18px !important
      }

      h3 {
        font-size: 16px !important
      }

      .container {
        width: 100% !important
      }

      .content, .content-wrap {
        padding: 10px !important
      }

      .invoice {
        width: 100% !important
      }
    }

  </style>

</head>
<body>

<table class="body-wrap">
  <tr>
    <td></td>
    <td width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="alert alert-good">
              <div style="font-size: 15px"><%= t('views.mailer_ptlf.title') %></div>
            </td>
          </tr>
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <p><strong><%= t('views.mailer_ptlf.transaction_num') %></strong> <%= @trnasaction_number %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.account') %></strong> <%= @account_number %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.customer') %></strong> <%= @customer_name %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.transaction_type') %></strong> <%= @trans_type %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.response') %></strong> <%= @res %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.contract') %></strong> <%= @affilia %></p>
                    <br>
                    <p>
                      <strong><%= t('views.mailer_ptlf.amount') %></strong>
                      <%#= number_with_delimiter(number_with_precision (@amount) / 100, precision: 2) %>
                      <%= number_to_currency((@amount) / 100, locale: :en) %>
                    </p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.approval') %></strong> <%= @approval %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.devolution') %></strong> <%= @devu %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.recovery') %></strong> <%= @reco %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.check') %></strong> <%= @retun_bal %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.created') %></strong> <%= @creat %></p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.author') %></strong> <%= @user_name %> <%= @user_last_name %>
                    </p>
                    <br>
                    <p><strong><%= t('views.mailer_ptlf.modification') %></strong> <%= @fecha %></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
</body>