<div class="block-area" id="basic">
  <h3 class="block-title">Partial transacctions</h3>
  <div class="tile p-15">
    <%= form_for :card do |f|%>

        <div class="form-group">
          <%= f.text_field :transaction_id, class: "form-control input-sm", placeholder: "Transaction id"%>
        </div>
        <div class="form-group">
          <%= f.text_field :card_id, class: "form-control input-sm", placeholder: "Card id"%>
        </div>
        <div class="form-group">
          <%= f.text_field :amount, class: "form-control input-sm", placeholder: "Amount"%>l
        </div>
        <div class="form-group">
          <%= f.text_field :number, class: "form-control input-sm", placeholder: "Number"%>
        </div>
        <div class="form-group">
          <%= f.text_field :partial, class: "form-control input-sm", placeholder: "Partial"%>
        </div>
        <div class="form-group">
          <%= f.date_field :charge_at, class: "form-control input-sm"%>
        </div>

        <%= f.submit "Add", class: "btn btn-sm m-t-10"%>

    <% end %>
  </div>
</div>