<%= form_for(historic) do |f| %>
  <% if historic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historic.errors.count, "error") %> prohibited this historic from being saved:</h2>

      <ul>
      <% historic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :string %>
    <%= f.text_field :string %>
  </div>

  <div class="field">
    <%= f.label :string %>
    <%= f.text_field :string %>
  </div>

  <div class="field">
    <%= f.label :string %>
    <%= f.text_field :string %>
  </div>

  <div class="field">
    <%= f.label :interger %>
    <%= f.text_field :interger %>
  </div>

  <div class="field">
    <%= f.label :string %>
    <%= f.text_field :string %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
