<%# <%********************* Sweetalert No Results *************************** %>
<% if @error.present? %>
  <script>
      swal({title: "<%= t('all.no_filter')%>", type: "error"});
  </script>
<% end %>
<%# <%*********************** Mostrar Busqueda actual *******************************%>
<% if @busqueda.present? %>
  <div class="row">
    <div class="col-md-1">
      <%= link_to t('all.clean'), historics_path, :class => 'btn btn-sm btn-primary dim' %>
    </div>
    <!-- <div class="col-md-11">
      <h3><%= t('all.query') %>: <%= @busqueda %></h3>
    </div> -->
  </div>
<% end %>
<%# <%**************************** Paginacion **************************************%>
<div align="right">
  <%= page_entries_info @historics, entry_name: t('views.historics_index.kami') %>
</div>
<div class="pag_right" align="right">
  <%= paginate @historics, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
</div>
<%# <%********************** Tabla Areas *******************************%>
<div id="tabla_areas" style="overflow: auto;">
  <table class="table footable no-paging">
    <thead>
    <tr>
      <th class="text-left" data-sort-ignore="true" data-hide="phone, tablet"><%= t('views.historics_index.page') %></th>
      <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('views.historics_index.action') %></th>
      <th class="text-center" data-sort-ignore="true"><%= t('views.historics_index.username') %></th>
      <th class="text-center" data-sort-ignore="true" data-hide="all"><%= t('views.historics_index.detail') %></th>
      <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('views.historics_index.date') %></th>
    </tr>
    </thead>

    <tbody>
    <% @historics.each do |historic| %>
      <tr>
        <td class="text-left"><%= t("views.profiles_show.#{historic.page}") %></td>
        <td class="text-center">
          <% case historic.action
             when '1' %><%= t('views.historics_index.create') %>
            <% when '2' %><%= t('views.historics_index.edit') %>
            <% when '3' %><%= t('views.historics_index.index') %>
            <% when '4' %><%= t('views.historics_index.destroy') %>
            <% when '5' %><%= t('views.historics_index.show') %>
          <% end %>
        </td>
        <td class="text-center"><%= historic.user_name %></td>
        <td class="text-center"><%= historic.detail %></td>
        <td class="text-center"><%= historic.date %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%# <%********************** Paginacion & Boton Crear *******************************%>
<%# <%**************************** Paginacion **************************************%>
<div align="right">
  <%= page_entries_info @historics, entry_name: t('views.historics_index.kami') %>
</div>
<div class="pag_right" align="right">
  <%= paginate @historics, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
<script>
    $('table').footable({paginate: false});
</script>
