<div class="row">
  <div class="animated fadeInRight col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.historicos') %></h1>
        <div class="panel ibox-content">
<%# <%****************************** Body *********************************** %>
<%# <%*********************** Barra de busqueda *******************************%>
          <%= form_tag({:controller => "historics", :action => "index"}, :method => "get", :id => "binsearch") do %>
            <div class="row">
              <div class="col-xs-12 col-md-offset-2 col-md-8 form-group">
                <input type="search" class="form-control" name="search" autocomplete="off" id="areaserach" placeholder="<%= t('views.historics_index.place_name') %>">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-offset-2 col-md-4 form-group">
                <select class="form-control" id="accion" name="historic[page]">
                  <option value=""> <%= t('views.historics_index.select_page') %> </option>
                  <% @views = View.all %>
                  <% @views.each do |p| %>
                    <option value="<%= p.name %>"> <%= t("views.profiles_show.#{p.name}") %> </option>
                  <% end %>
                </select>
              </div>
              <div class="col-xs-12 col-md-4 form-group">
                <select class="form-control" id="accion" name="historic[action]">
                  <option value=""> <%= t('views.historics_index.select_action') %> </option>
                  <option value="1"><%= t('views.historics_index.create') %></option>
                  <option value="2"><%= t('views.historics_index.edit') %></option>
                  <option value="3"><%= t('views.historics_index.index') %></option>
                  <option value="4"><%= t('views.historics_index.destroy') %></option>
                  <option value="5"><%= t('views.historics_index.show') %></option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-offset-2 col-md-4 col-xs-12">
                <div class="input-group date" id="start">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input name="start" class="form-control" placeholder="<%= t('all.placeholder_fecha') %>" autocomplete="off" id="str" >
                </div>
              </div>
              <div class="form-group col-md-4 col-xs-12">
                <div class="input-group date" id="end">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input name="end" class="form-control" placeholder="<%= t('all.placeholder_fecha') %>" autocomplete="off" id="end" >
                </div>
              </div>
            </div>

            <div class="text-center">
              <%= button_tag(type: 'submit', class: 'btn btn-primary', id: "btnrt") do %>
                <i class="fa fa-search"></i> <%= t('all.btn_search') %>
              <% end %>
            </div>


          <% end %>
          <div id="histori"><%= render 'histori' %></div>
<%# <%****************************** Body *********************************** %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnrt").click(function () {
            $.get($("#binsearch").attr("action"), $("#binsearch").serialize(), null, "script");
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        let end = $("#end"),
            dats = $('#start'),
            date = $('#end'),
            str = $('#str'),
            idioma_app = $('#idioma_app').val();

        //********************** Data Mask ***************************
        str.mask("99/99/9999");
        end.mask("99/99/9999");

        //********************** Date Picker *************************
        dats.datepicker({
            format: 'dd/mm/yyyy',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            language: `${idioma_app}`,
            autoclose: true,
            endDate: '+0d'
        });
        date.datepicker({
            format: 'dd/mm/yyyy',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            language: `${idioma_app}`,
            autoclose: true,
            endDate: '+0d'
        });
        //Script para los datepicker//
        // $('#rule_initial_date, #rule_end_date').on('input', function () {
        //     valor = $(this).val()
        //     patron = /^[0-9/]*$/
        //     remp = /[^ 0-9/]+/gi
        //
        //     if (!patron.test(valor)) {
        //         this.value = valor.replace(remp, "");
        //     }
        // });
        var getDate = function (input) {
            return new Date(input.date.valueOf());
        }
        // $('.entrada, .salida').datepicker({
        //     format: "yyyy-mm-dd",
        //     language: 'es',
        //     todayBtn: "linked",
        //     autoclose: true,
        //     calendarWeeks: true,
        // });
        date.datepicker({
            startDate: '+6d',
            endDate: '+0d',
        }).on('changeDate',
            function (selected) {
                dats.datepicker('clearDates');
                dats.datepicker('setEndDate', getDate(selected));
            });
        dats.datepicker({
            startDate: '+5d',
            endDate: '+0d',
        }).on('changeDate',
            function (selected) {
                date.datepicker('clearDates');
                date.datepicker('setStartDate', getDate(selected));
            });
        //Script para los datepicker//
    });
</script>
