<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @historic.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @historic.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @historic.string %>
</p>

<p>
  <strong>Interger:</strong>
  <%= @historic.interger %>
</p>

<p>
  <strong>String:</strong>
  <%= @historic.string %>
</p>

<%= link_to 'Edit', edit_historic_path(@historic) %> |
<%= link_to 'Back', historics_path %>
