<%= form_for @affiliation, :html => {:id => "form1", :role => "form"} do |f| %>
  <% if @affiliation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@affiliation.errors.count, "error") %> prohibited this router from being saved:</h2>
      <ul>
        <% @affiliation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: "submit", name: "commit", id: 'btnaffi1', :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.affi_form.btn_save') %>
      <% end %>
      <%= link_to ('<i class="fa fa-industry"></i> ').html_safe + t('views.cards_form.btn_Back'), affiliations_path, :class => "btn btn-xs btn-danger", :data => {:no_turbolink => false} %>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-4 form-group" style="margin-top: 11px"s>
      <label class="required"><%= t('views.affi_index.name') %></label>
      <%= f.text_field :name, id: 'name', class: "form-control input-sm", placeholder: t('views.affi_index.name'), :autocomplete => :off, :maxlength => 255 %>
      <h4><span class="label" id="namelabel"></span></h4>
    </div>
    <div class="col-md-4 form-group">
      <label class="required"><%= t('views.affi_index.number') %></label>
      <span class="badge badge-secondary blue-tooltip" style="margin-bottom: 16px" id="helpnumero" data-toggle="tooltip" title="<%= t('views.affi_index.help1') %>">?</span>
      <%= f.text_field :number, id: 'number', class: "form-control input-sm", placeholder: "#{t('views.affi_index.ejemplo')}'#{"1234"}'", :autocomplete => :off, :maxlength => 4 %>
      <h4><span class="label" id="numberlabel"></span></h4>
    </div>
    <div class="col-md-4 form-group" style="margin-top: 11px">
      <label class="required"><%= t('views.affi_index.address') %></label>
      <%= f.text_field :address, id: 'address', class: "form-control input-sm", placeholder: t('views.affi_index.address'), :autocomplete => :off, :maxlength => 255 %>
      <h4><span class="label" id="addresslabel"></span></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <label class="required"><%= t('views.affi_index.affiliation') %></label>
      <span class="badge badge-secondary blue-tooltip" style="margin-bottom: 16px" id="helptienda" data-toggle="tooltip" title="<%= t('views.affi_index.help2') %>">?</span>
      <%= f.text_field :affiliation_id, class: "form-control input-sm", :id => "affil", placeholder: "#{t('views.affi_index.ejemplo')}'#{"1234"}'", :autocomplete => :off, :maxlength => 4 %>
      <h4><span class="label" id="affilabel"></span></h4>
    </div>
    <div class="col-md-4 form-group" style="margin-top: 11px">
      <label class="required"><%= t('views.affi_index.district') %></label>
      <%= f.collection_select :district_id, District.order(:name), :id, :name, {:include_blank => t('views.affi_form.tradu03')}, {:class => "form-control input-sm", id: 'Dist'} %>
      <h4><span class="label" id="districtlabel"></span></h4>
    </div>
    <div class="col-md-4 form-group" style="margin-top: 11px">
      <label class="required"><%= t('views.affi_index.region') %></label>
      <%= f.collection_select :region_id, Region.order(:name), :id, :name, {:include_blank => t('views.affi_form.tradu04')}, {:class => "form-control input-sm", id: 'Reg' } %>
      <h4><span class="label" id="regionlabel"></span></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <label class="required"><%= t('views.affi_index.port') %></label>
      <span class="badge badge-secondary blue-tooltip" style="margin-bottom: 16px" id="helppuerto" data-toggle="tooltip" title="<%= t('views.affi_index.help3') %>">?</span>
      <%= f.text_field :port, class: "form-control input-sm", :id => "port", placeholder: "#{t('views.affi_index.ejemplo')}'#{"12345"}'", :autocomplete => :off, :maxlength => 5 %>
      <h4><span class="label" id="port1"></span></h4>
    </div>
    <div class="col-8"></div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: "submit", name: "commit", id: 'btnaffi2', :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.affi_form.btn_save') %>
      <% end %>
      <%= link_to ('<i class="fa fa-industry"></i> ').html_safe + t('views.cards_form.btn_Back'), affiliations_path, :class => "btn btn-xs btn-danger", :data => {:no_turbolink => false} %>
    </div>
  </div>

<% end %>

<script type="text/javascript" charset="utf-8">
    <% if @error2 == true  %>
    swal({
            title: '<%= t('views.message_affi.notice_blackup') %>.',
            type: 'warning',
            confirm: 'OK'
        }
    );
    <% end %>
</script>