<% if @query.present? %>
  <div class="row">
    <div class="col-md-7">
      <h4><%= t('all.query') %>: <%= @query %></h4>
    </div>
  </div>
<% end %>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <% if @affiliations.count == 1 %>
          <%= page_entries_info @affiliations, entry_name: t('views.affi_index.affiliation') %>
        <% else %>
          <%= page_entries_info @affiliations, entry_name: t('views.affi_index.affiliation').pluralize(@affiliations.count) %>
        <% end %>
      </div>
      <div class="detall_left">
        <%= paginate @affiliations, params: {controller: 'affiliations', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
    </div>
  </div>
</div>
<table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
  <thead>
  <tr>
    <th data-sort-ignore="true" data-visible="true" data-sort-ignore="true" class="text-left"><%= t('views.affi_index.name') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center"><%= t('views.affi_index.number') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center" data-sort-ignore="true"><%= t('views.affi_index.address') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center"><%= t('views.affi_index.affiliation') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center" data-sort-ignore="true"><%= t('views.affi_index.district') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center" data-sort-ignore="true"><%= t('views.affi_index.region') %></th>
    <th data-sort-ignore="true" data-hide="phone,tablet" class="text-center" data-sort-ignore="true"><%= t('views.affi_index.port') %></th>
    <th data-sort-ignore="true" data-hide="phone" class="text-center"> <%= t('all.show') %> </th>
    <th data-sort-ignore="true" data-hide="phone" class="text-center"><%= t('views.affi_index.edit') %></th>
    <th data-sort-ignore="true" class="text-center"><%= t('views.affi_index.destroy') %></th>
  </tr>
  </thead>
  <tbody>
  <% @affiliations.each do |affiliation| %>
    <tr>
      <td class="text-left">
        <% if affiliation.name.present? %>
          <%= affiliation.name %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if affiliation.number.present? %>
          <%= affiliation.number %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if affiliation.address.present? %>
          <%= affiliation.address %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if affiliation.affiliation_id.present? %>
          <%= affiliation.affiliation_id %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if affiliation.district.present? %>
          <% if affiliation.district.name.present? %>
            <%= affiliation.district.name %>
          <% end %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if affiliation.region.present? %>
          <% if affiliation.region.name.present? %>
            <%= affiliation.region.name %>
          <% end %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if affiliation.port.present? %>
          <%= affiliation.port %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class='text-center'>
        <% if @leerStore == 2 %>
          <%= link_to "<button class='btn btn-primary btn-xs blue-tooltip tolshow' data-toggle='tooltip' type='button'><i class='fa fa-file-text'></i></button>".html_safe, affiliation %>
        <% end %>
      </td>
      <td class="text-center">
        <% if @editarStore == 4 %>
          <%= link_to "<button class='btn btn-warning btn-xs blue-tooltip toledit' data-toggle='tooltip' type='button'><i class='fa fa-pencil'></i></button>".html_safe, edit_affiliation_path(affiliation), :data => {:no_turbolink => false} %>
        <% end %>
      </td>
      <td class="text-center">
        <% if @eliminarStore == 1 %>
          <input type="hidden" value="<%= affiliation.name %>" id="affi<%= affiliation.id %>">
          <button class="btn btn-danger btn-xs eliminar blue-tooltip toldelete" data-toggle='tooltip' id="<%= affiliation.id %>">
            <i class="fa fa-trash-o"></i>
          </button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <%= paginate @affiliations, params: {controller: 'affiliations', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
      <div class="detall_left">
        <% if @affiliations.count == 1 %>
          <%= page_entries_info @affiliations, entry_name: t('views.affi_index.affiliation') %>
        <% else %>
          <%= page_entries_info @affiliations, entry_name: t('views.affi_index.affiliation').pluralize %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    <% if @error == true  %>
    swal({
            title: '<%= t('all.no_filter') %>.',
            type: 'error',
            confirm: 'OK'
        }
    );
    <% end %>
    $('table').footable({});
    $('.tolshow').attr('title', '<%= t('views.affi_show.title') %>');
    $('.toledit').attr('title', '<%= t('views.affi_edit.title') %>');
    $('.toldelete').attr('title', '<%= t('views.affi_index.destroy2') %>');
    $('[data-toggle="tooltip"]').tooltip();
</script>
<!--<style>-->
<!--  .blue-tooltip + .tooltip > .tooltip-inner {-->
<!--    background-color: #003057;-->
<!--  }-->
<!--</style>-->