<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.affi_show.title') %></h1>
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('views.affi_index.btn_New'), new_affiliation_path, :class => "btn btn-primary btn-xs", :data => {:no_turbolink => true} %>
                <%= link_to ('<i class="fa fa-industry"></i> ').html_safe + t('all.back'), affiliations_path, :class => "btn btn-xs btn-warning", :data => {:no_turbolink => false} %>
              </div>
            </div>
            <br>
            <table class="table footable" data-show-toggle="false" data-expand-first="true" data-page-size="20">
              <thead>
              <tr>
                <th data-sort-ignore="true" class="text-center" data-visible="true"><%= t('views.affi_index.name') %></th>
                <th data-sort-ignore="true" class="text-center" data-hide="phone"><%= t('views.affi_index.number') %></th>
                <th data-sort-ignore="true" class="text-center" data-hide="phone,tablet"><%= t('views.affi_index.address') %></th>
                <th data-sort-ignore="true" class="text-center" data-hide="phone,tablet"><%= t('views.affi_index.affiliation') %></th>
                <th data-sort-ignore="true" class="text-center" data-hide="phone,tablet"><%= t('views.affi_index.district') %></th>
                <th data-sort-ignore="true" class="text-center" data-hide="phone,tablet"><%= t('views.affi_index.region') %></th>
                <th data-sort-ignore="true" class="text-center" data-hide="phone,tablet"><%= t('views.affi_index.port') %></th>
                <th data-sort-ignore="true" class="text-center"><%= t('views.affi_index.edit') %></th>
              </tr>
              </thead>
              <tbody>
              <td class="text-center">
                <% if @affiliation.name.present? %>
                  <%= @affiliation.name %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @affiliation.number.present? %>
                  <%= @affiliation.number %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @affiliation.address.present? %>
                  <%= @affiliation.address %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @affiliation.affiliation_id.present? %>
                  <%= @affiliation.affiliation_id %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @affiliation.district.present? %>
                  <%= @affiliation.district.name %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @affiliation.region.present? %>
                  <%= @affiliation.region.name %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @affiliation.port.present? %>
                  <%= @affiliation.port %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center"
              ><%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_affiliation_path(@affiliation), :data => {:no_turbolink => false} %>
              </td>
              </tbody>
            </table>
            <br>
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('views.affi_index.btn_New'), new_affiliation_path, :class => "btn btn-primary btn-xs", :data => {:no_turbolink => true} %>
                <%= link_to ('<i class="fa fa-industry"></i> ').html_safe + t('all.back'), affiliations_path, :class => "btn btn-xs btn-warning", :data => {:no_turbolink => false} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $('table').footable({});
</script>