﻿<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="middle-box text-center animated fadeInDown">
          <h1>404</h1>
          <h3 class="font-bold"><%= t('all.error_404_head') %></h3>
          <div class="error-desc">
            Error 404
            <br/><br/> <%= link_to '<i class="fa fa-home"></i>'.html_safe, home_index_path, :class => "btn btn-w-m btn-info dim" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>