﻿<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="middle-box text-center animated fadeInDown">
          <h1>500</h1>
          <h3 class="font-bold"><%= t('all.error_500_head') %></h3>
          <div><%= t('all.error_500') %></div>
          <br>
          <h4><%= t('all.error_5002') %></h4>
          <h3><%= t('all.thanks') %></h3>
          <br/><br/> <%= link_to '<i class="fa fa-home"></i>'.html_safe, home_index_path, :class => "btn btn-w-m btn-info dim" %>
        </div>
      </div>
    </div>
  </div>
</div>