<% if @query.present? %>
  <div class="row">
    <div class="col-md-7">
      <h4><%= t('all.query') %>: <%= @query %></h4>
    </div>
  </div>
<% end %>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <% if @districts.count == 1 %>
          <%= page_entries_info @districts, entry_name: t('views.districts_index.district') %>
        <% else %>
          <%= page_entries_info @districts, entry_name: t('views.districts_index.district').pluralize %>
        <% end %>
      </div>
      <div class="detall_left">
        <%= paginate @districts, params: {controller: 'districts', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
    </div>
  </div>
</div>
<table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
  <thead>
  <tr>
    <th data-sort-ignore="true" class="text-center" data-visible="true"><%= t('views.districts_index.district') %></th>
    <th data-sort-ignore="true" data-hide="phone" class="text-center"> <%= t('all.show') %> </th>
    <th data-sort-ignore="true" data-hide="phone" class="text-center"><%= t('views.districts_index.edit') %></th>
    <th data-sort-ignore="true" class="text-center"><%= t('views.districts_index.destroy') %></th>
  </tr>
  </thead>
  <tbody>
  <% @districts.each do |district| %>
    <tr>
      <td class="text-center">
        <% if district.name.present? %>
          <%= district.name %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class='text-center'>
        <% if @leerDistrict == 2 %>
          <%= link_to "<button class='btn btn-primary btn-xs blue-tooltip tolshow' data-toggle='tooltip' type='button'><i class='fa fa-file-text'></i></button>".html_safe, district %>
        <% end %>
      </td>
      <td class="text-center">
        <% if @editarDistrict == 4 %>
          <%= link_to "<button class='btn btn-warning btn-xs blue-tooltip toledit' data-toggle='tooltip' type='button'><i class='fa fa-pencil'></i></button>".html_safe, edit_district_path(district), :data => {:no_turbolink => false} %>
        <% end %>
      </td>
      <td class="text-center">
        <% if @eliminarDistrict == 1 %>
          <input type="hidden" value="<%= district.name %>" id="district<%= district.id %>">
          <button class="btn btn-danger btn-xs  eliminar blue-tooltip toldelete" data-toggle='tooltip' id="<%= district.id %>">
            <i class="fa fa-trash-o"></i>
          </button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="detall_left">
        <%= paginate @districts, params: {controller: 'districts', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm', remote: true %>
      </div>
      <div class="detall_left">
        <% if @districts.count == 1 %>
          <%= page_entries_info @districts, entry_name: t('views.districts_index.district') %>
        <% else %>
          <%= page_entries_info @districts, entry_name: t('views.districts_index.district').pluralize %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    <% if @error == true  %>
    swal({
            title: '<%= t('all.no_filter') %>.',
            type: 'error',
            confirm: 'OK'
        }
    );
    <% end %>
    $('table').footable({});
    $('.tolshow').attr('title', '<%= t('views.districts_show.title') %>');
    $('.toledit').attr('title', '<%= t('views.districts_edit.title') %>');
    $('.toldelete').attr('title', '<%= t('views.districts_index.destroy2') %>');
    $('[data-toggle="tooltip"]').tooltip();
</script>