<%= javascript_include_tag 'districts' %>
<%= stylesheet_link_tag "districts" %>

<div class="traducciones" style="display: none;">
  <input type="hidden" id="trad03" value="<%= t('views.districts_form.trad03') %>">
</div>

<%= form_for @district, :html => {:id => "form1", :role => "form"} do |f| %>

  <% if @district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@district.errors.count, "error") %> prohibited this router from being saved:</h2>

      <ul>
        <% @district.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: "submit", name: "commit", :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.districts_form.btn_Save') %>
      <% end %>
      <%= link_to ('<i class="fa fa-flag"></i> ').html_safe + t('views.districts_form.btn_back'), districts_path, :class => "btn btn-xs btn-danger", :data => {:no_turbolink => false} %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="required"><%= t('views.districts_form.name') %></label>
        <%= f.text_field :name, id: 'name', class: "form-control input-sm", placeholder: t('views.districts_form.name'), :autocomplete => :off %>
        <h4><span class="label" id="namelabel"></span></h4>
      </div>
    </div>
    <div class="col-md-8"></div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: "submit", name: "commit", :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.districts_form.btn_Save') %>
      <% end %>
      <%= link_to ('<i class="fa fa-flag"></i> ').html_safe + t('views.districts_form.btn_back'), districts_path, :class => "btn btn-xs btn-danger", :data => {:no_turbolink => false} %>
    </div>
  </div>

<% end %>

<script type="text/javascript" charset="utf-8">
    <% if @error2 == true  %>
    swal({
            title: '<%= t('views.message_districts.notice_blackup') %>.',
            type: 'warning',
            confirm: 'OK'
        }
    );
    <% end %>
</script>