<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.districts_show.title') %></h1>
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('views.districts_index.btn_new'), new_district_path, :class => "btn btn-primary btn-xs", :data => {:no_turbolink => true} %>
                <%= link_to ('<i class="fa fa-flag"></i> ').html_safe + t('all.back'), districts_path, :class => "btn btn-xs btn-warning", :data => {:no_turbolink => false} %>
              </div>
            </div>
            <br>
            <table class="table footable" data-show-toggle="false" data-expand-first="true" data-page-size="20">
              <thead>
              <tr>
                <th class="text-center" data-visible="true"><%= t('views.districts_index.district') %></th>
                <th class="text-center"><%= t('views.districts_index.edit') %></th>
              </tr>
              </thead>

              <tbody>
              <td class="text-center">
                <% if @district.name.present? %>
                  <%= @district.name %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">

                <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_district_path(@district), :data => {:no_turbolink => false} %>
              </td>
              </tbody>
            </table>
            <br>
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('views.districts_index.btn_new'), new_district_path, :class => "btn btn-primary btn-xs", :data => {:no_turbolink => true} %>
                <%= link_to ('<i class="fa fa-flag"></i> ').html_safe + t('all.back'), districts_path, :class => "btn btn-xs btn-warning", :data => {:no_turbolink => false} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>