<%# <%********************* Sweetalert No Results *************************** %>
<% if @error.present? %>
  <script>
      swal({ title: "<%= t('all.no_filter')%>", type: "error" });
  </script>
<% end %>
<%# <%*********************** Mostrar Busqueda actual *******************************%>
<% if @busqueda.present? %>
  <div class="row">
    <div class="col-md-3">
      <h3><%= t('all.query') %>: <%= @busqueda %></h3>
    </div>
  </div>
<% end %>
<%# <%********************** Paginacion & Boton Crear *******************************%>
<div class="row">
  <div class="col-xs-4 col-md-4">
    <% if @permisos[0] == 8 %>
      <%= link_to '<span class="fa fa-sticky-note"></span> '.html_safe + t('views.areas_index.new'), new_area_path, :class => 'btn btn-primary btn-xs' %>
    <% end %>
  </div>
  <div class="col-xs-8 col-md-8 form-group" align="right">
    <%= page_entries_info @areas, entry_name: t('views.areas').pluralize(@areas.length) %>
  </div>
  <div class="pag_right">
    <%= paginate @areas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" , :remote => true %>
  </div>
</div>
<%# <%********************** Tabla Areas *******************************%>
<div id="tabla_areas" style="overflow: auto;">
  <table class="table footable no-paging">
    <thead>
      <tr>
        <th class="text-left" data-sort-ignore="true"><%= t('all.name') %></th>
        <th class="text-center" data-sort-ignore="true" data-hide="phone, tablet"><%= t('views.areas_index.subarea') %></th>
        <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.edit') %></th>
        <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.destroy') %></th>
      </tr>
    </thead>
    <tbody>
        <% @areas.each do |area| %>
        <tr>
        <td class="text-left"><%= area.name1 %></td>
        <td class="text-center"><%if area.name2.present?%><%= area.name2 %><%else%>N/A<%end%></td>
        <td class="text-center">
          <% if @permisos[1] == 4 && current_user.area_id != area.id.to_s %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_area_path(area), class:"btn btn-xs btn-warning" , :data =>{toggle:"tooltip"}, title: t('views.areas_edit.title_e')  %><%end%>
        </td>
        <td class="text-center">
          <% if @permisos[3] == 1 && current_user.area_id != area.id.to_s %>
          <input type="hidden" value="<%= area.name1 %>" id="area<%= area.id %>">
          <button class="btn btn-xs btn-danger eliminar" type="button" id="<%= area.id %>" data-toggle="tooltip" title="<%=t('views.areas_delete.tooltip')%>" >
            <i class="fa fa-trash-o"></i>
          </button>
          <%end%>
        </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
<%# <%********************** Paginacion & Boton Crear *******************************%>
<div class="row">
  <div class="col-xs-4 col-md-4">
    <% if @permisos[0] == 8 %>
        <%= link_to '<span class="fa fa-sticky-note"></span> '.html_safe + t('views.perfils_index.new'), new_area_path, :class => 'btn btn-primary btn-xs'%>
    <% end %>
  </div>
  <div class="col-xs-8 col-md-8 form-group" align="right">
    <div class="detall_right">
      <%= page_entries_info @areas, entry_name: t('views.areas').pluralize(@areas.length) %>
    </div>
    <div class="pag_right">
      <%= paginate @areas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
    </div>
  </div>
</div>

<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>
<script>
  $('table').footable({paginate: false});
</script>
