<%= javascript_include_tag "zonas" %>
<%= form_for area, :html => {:id => 'regi'} do |f| %>
    <div class="container" align="center">
<%# <%***************************** Container *********************************** %>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-2 col-lg-offset-1">
    <label><%= t('views.areas_form.subarea') %></label>
    <div class="checkbox checkbox-primary"><input type="checkbox" value="1" name="subarea" id="subarea" <% if area.area_id.present? %> checked <% end %>/><label/></div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-6 form-group">
    <%= f.label t('all.name'), {class:"requerido"} %>
    <%= f.text_field :name, :class => 'form-control', :id => 'name', autocomplete: "off", :maxlength => '255', placeholder: t('all.name') %>
    <small id="namelab" style="display: none;">.</small>
  </div>
</div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6 col-lg-offset-3 form-group">
        <label id="label_area" <% if area.area_id.present? %> style="display: block;"> <%else%> style="display: none;"> <%end%><%= t('views.areas_form.below_new') %></label>
        <select class="form-control" id="area_id" <% if area.area_id.present? %> style="display: block;" <%else%> style="display: none;" <%end%> name="area[area_id]">
          <option value=""> <%= t('views.profiles_new.placeh_area') %> </option>
          <% @areas.each do |ar| %>
              <option value="<%= ar[:id] %>"><%= ar[:name] %></option>
          <% end %>
        </select>
        <small id="arealab" style="display: none;">.</small>
      </div>
    </div>

    </div>
<%# <%***************************** Container *********************************** %>
    <div class="actions">
      <button type="submit" , class="btn btn-xs btn-primary " , value="<%= t('all.save') %>" , name="btnSave">
        <i class="fa fa-floppy-o"></i>  <%= t('all.save') %>
      </button>
      <%= link_to '<span class="fa fa-sticky-note" ></span>  '.html_safe + t('all.cancelar'), areas_path, :class => 'btn btn-xs btn-danger dim' %>
    </div>

<% end %>


<script>
chk = document.getElementById('subarea');
are = document.getElementById('area_id');
lare = document.getElementById('label_area');
chk.addEventListener('change',function(){
  if (chk.checked==true){
    are.style.display ="block"
    lare.style.display ="block"
  } else {
    are.style.display ="none"
    lare.style.display ="none"
  }
})

are.value = '<%=@area.area_id%>'


</script>
