<div class="row">
  <div class="animated fadeInRight col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.title_area') %></h1>
        <div class="panel ibox-content">
<%# <%****************************** Body *********************************** %>
<%# <%*********************** Barra de busqueda *******************************%>
          <%= form_tag({:controller => "areas", :action => "index"}, :method => "get", :id => "areasearch") do %>
            <div class="row">
              <div class="col-xs-10 col-md-4 form-group">
                <div class="input-group">
                  <input type="search" class="form-control" name="search" autocomplete="off" id="areaserach" placeholder="<%= t('all.placehol_search') %>">
                  <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: 'btn btn-primary', id: "btnrt") do %>
                <i class="fa fa-search"></i> <%= t('all.btn_search') %>
                <% end %>
              </span>
                </div>
              </div>
              <div class="col-md-2 col-xs-2" style="padding-left: 0px;">
                <span class="badge badge-secondary red-tooltip" id="help" data-toggle="tooltip" title="<%= t('all.help') %>">? </span>
                <span class="badge" id="alebus" style="display: none">
              <%= t('all.help') %>
            </span>
              </div>
            </div>
          <% end %>

          <div id="areatabla"><%= render 'areatabla' %></div>
<%# <%****************************** Body *********************************** %>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnrt").click(function () {
            $.get($("#areasearch").attr("action"), $("#areasearch").serialize(), null, "script");
            return false;
        });
    });

    $('#areaserach').on('input', function () {
        if ($('#areaserach').val().trim() == "") {
            $("#btnrt").click();
        }
    });

    let bt = document.getElementById('btnrt');
    let sr = document.getElementById('areaserach');

    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".eliminar", function () {
        var id = this.id;
        var area = $("#area" + id).val();
        swal({
                title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.area')%>  ' + area + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: '/areas/cont_areas',
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify({area_id: id}),
                        success: function (data) {
                            if (data > 0) {
                                swal({
                                    title: `El area tiene ${data} subareas desea continuar?`,
                                    type: "info",
                                    showCancelButton: true,
                                    confirmButtonColor: '#DD6B55',
                                    confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                                    cancelButtonText: "Ver Subareas",
                                    closeOnConfirm: false,
                                    closeOnCancel: false,
                                }, function (isConfirm) {
                                    if (isConfirm) {
                                        swal({
                                            title: `Toda la informacion de las subareas como perfiles y ususarios quedaran borrados permanentemente, ¿seguro que quiere continuar?`,
                                            type: "warning",
                                            showCancelButton: true,
                                            confirmButtonColor: '#DD6B55',
                                            confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                                            cancelButtonText: "Cancelar",
                                            closeOnConfirm: false,
                                            closeOnCancel: false,
                                        }, function (isConfirm) {
                                            if (isConfirm) {
                                                $.ajax({
                                                    type: "POST",
                                                    beforeSend: function (xhr) {
                                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                                    },
                                                    url: "/areas/" + id,
                                                    data: {"_method": "delete"}
                                                })
                                                swal({
                                                    title: '<%= t('views.mess_apli_swall')%>',
                                                    type: "success",
                                                    confirmButtonText: "OK",
                                                }, function (isConfirm) {
                                                    recargar();
                                                });
                                            } else {
                                                swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                                            }
                                        });
                                    } else {
                                        window.location.href = "/areas/" + id;

                                    }
                                });
                            } else {
                                swal({
                                    title: '<%= t('views.mess_apli_title2')%>',
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: '#8CD4F5',
                                    confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                                    cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                                    closeOnCancel: false,
                                    closeOnConfirm: false,
                                }, function (isConfirm) {
                                    if (isConfirm) {
                                        $.ajax({
                                            type: "POST",
                                            beforeSend: function (xhr) {
                                                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                            },
                                            url: "/areas/" + id,
                                            data: {"_method": "delete"}
                                        })
                                        swal({
                                            title: '<%= t('views.mess_apli_swall')%>',
                                            type: "success",
                                            confirmButtonText: "OK",
                                        }, function (isConfirm) {
                                            recargar();
                                        });

                                    } else {
                                        swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                                    }
                                });
                            }
                        }
                    })

                } else {
                    swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                }
            }
        );
    })

</script>
