<div class="row">
  <div class="col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1>Subareas</h1>
        <div class="panel ibox-content">
<%# <%****************************** Body *********************************** %>

<%# <%********************** Tabla Perfiles *******************************%>
          <div id="tabla_areas" style="overflow: auto;">
            <table class="table footable no-paging">
              <thead>
              <tr>
                <th class="text-center" data-sort-ignore="true"><%= t('all.name') %></th>
                <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.subarea') %></th>
                <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.edit') %></th>
                <th class="text-center" data-sort-ignore="true"><%= t('views.areas_index.destroy') %></th>
              </tr>
              </thead>
              <tbody>
              <% @areas.each do |area| %>
                <tr>
                  <td class="text-center"><%= area.name1 %></td>
                  <td class="text-center"><%= area.name2 %></td>
                  <td class="text-center">
                    <% if @permisos[1] == 4 && current_user.area_id != area.id.to_s %><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_area_path(area), class: "btn btn-xs btn-warning" %>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if @permisos[3] == 1 && current_user.area_id != area.id.to_s %>
                      <input type="hidden" value="<%= area.name1 %>" id="area<%= area.id %>">
                      <button class="btn btn-xs btn-danger eliminar" type="button" id="<%= area.id %>">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <%= link_to '<span class="fa fa-sticky-note" ></span>  '.html_safe + t('all.back'), areas_path, :class => 'btn btn-xs btn-warning dim' %>
<%# <%****************************** Body *********************************** %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('table').footable({paginate: false});
    });

    let bt = document.getElementById('btnrt');
    let sr = document.getElementById('areaserach');

    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".eliminar", function () {
        var id = this.id;
        var area = $("#area" + id).val();
        swal({
                title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.area')%>  ' + area + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: '/areas/cont_areas',
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify({area_id: id}),
                        success: function (data) {
                            if (data > 0) {
                                swal({
                                    title: `El area tiene ${data} subareas desea continuar?`,
                                    type: "info",
                                    showCancelButton: true,
                                    confirmButtonColor: '#DD6B55',
                                    confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                                    cancelButtonText: "Ver Subareas",
                                    closeOnConfirm: false,
                                    closeOnCancel: false,
                                }, function (isConfirm) {
                                    if (isConfirm) {
                                        swal({
                                            title: `Toda la informacion de las subareas como perfiles y ususarios quedaran borrados permanentemente, ¿seguro que quiere continuar?`,
                                            type: "warning",
                                            showCancelButton: true,
                                            confirmButtonColor: '#DD6B55',
                                            confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                                            cancelButtonText: "Cancelar",
                                            closeOnConfirm: false,
                                            closeOnCancel: false,
                                        }, function (isConfirm) {
                                            if (isConfirm) {
                                                $.ajax({
                                                    type: "POST",
                                                    beforeSend: function (xhr) {
                                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                                    },
                                                    url: "/areas/" + id,
                                                    data: {"_method": "delete"}
                                                })
                                                swal({
                                                    title: '<%= t('views.mess_apli_swall')%>',
                                                    type: "success",
                                                    confirmButtonText: "OK",
                                                }, function (isConfirm) {
                                                    window.location.href = "/areas";
                                                });
                                            } else {
                                                swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                                            }
                                        });
                                    } else {
                                        window.location.href = "/areas/" + id;

                                    }
                                });
                            } else {
                                swal({
                                    title: '<%= t('views.mess_apli_title2_p')%>',
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: '#8CD4F5',
                                    confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                                    cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                                    closeOnCancel: false,
                                    closeOnConfirm: false,
                                }, function (isConfirm) {
                                    if (isConfirm) {
                                        $.ajax({
                                            type: "POST",
                                            beforeSend: function (xhr) {
                                                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                            },
                                            url: "/areas/" + id,
                                            data: {"_method": "delete"}
                                        })
                                        swal({
                                            title: '<%= t('views.mess_apli_swall')%>',
                                            type: "success",
                                            confirmButtonText: "OK",
                                        }, function (isConfirm) {
                                            recargar();
                                        });

                                    } else {
                                        swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                                    }
                                });
                            }
                        }
                    })

                } else {
                    swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                }
            }
        );
    })


</script>
