<%= javascript_include_tag "sessions" %>

<div class="middle-box text-center loginscreen  animated fadeInDown">

  <h1 class="logo-name">KM</h1>

  <h3><%= t('views.sessions_new.welcome') %></h3>
  <p><%= t('views.sessions_new.sub_mes1') %></p>
  <p><%= t('views.sessions_new.sub_mes2') %></p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.text_field :login, class: "form-control", placeholder: t('views.sessions_new.placeh_user'), autocomplete: "off", id: "usr", :maxlength => '255', autofocus: true %>
      <small id="usrlab" style="display: none;">.</small>
    </div>

    <div class="form-group">
      <div class="input-group">
        <%= f.password_field :password, class: "form-control", placeholder: t('views.sessions_new.placeh_pass'), autocomplete: "off", id: "pwd", :maxlength => '255' %>
          <span class="input-group-btn">
              <button class="btn btn-primary" id="eye" type="button"><i class="fa fa-eye"></i></button>
          </span>
      </div>
      <small id="pwdlab" class="label label-warning" style="display: none;">.</small>
    </div>

    <div class="form-group">
      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block', name: 'commit') do t('views.sessions_new.login_button') end %>
    </div>
    <div>
      <%= render "devise/shared/links" %>
    </div>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <div class="form-group">
        <p class="text-muted text-center">
          <small><%= t('views.sessions_new.no_account')%></small>
        </p>
          <%= link_to t('views.sessions_new.sign_up_l'), new_registration_path(resource_name), class: "btn btn-warning block full-width m-b" %>
      </div>
    <% end -%>

    <%= link_to t('views.sessions_new.reactivation'), expired_accounts_new_path, :class => 'btn btn-danger', :id => "act", :style => "display:none" %>

    <p><small>KS Soluciones S.A. de C.V. &copy; 1998-<%= Time.now.year %> <%= APP_CONFIG[:version] %></small></p>

    <div class="form-group">
      <%= link_to image_tag("mexico.png", border: 0, :height => 14, width: 26), locale: :es %>
      <%= link_to image_tag("eua.png", border: 0, :height => 14, width: 26), locale: :en %>
    </div>

    <% end %>

</div>
