<div class="block-area" id="responsiveTable">
  <h1>Listing Cards Types</h1>

  <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
    <table class="tile table table-bordered table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @cards.each do |card| %>
          <tr>
            <td><%= card.client_id %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe , edit_card_path(card) %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe , card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Card Type', new_card_type_path , :class => "btn btn-sm m-t-10 "%>

</div>