<%= form_for(view) do |f| %>
    <% if view.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(view.errors.count, "error") %> prohibited this view from being saved:</h2>

          <ul>
            <% view.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="field">
          <label class="requerido"><%= t('views.new_view.name') %></label>
          <%= f.text_field :name, :class => 'form-control', :required => true, :id => 'nombre', autocomplete: "off", :maxlength => '255', placeholder: t('activerecord.atributes.place_name') %>
          <input type="hidden" name="nombrePas" id="nombrePas">
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <table>
          <tr>
            <td>
              <%= f.label t('views.new_view.create') %>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="1" name="view[crear]" id="view_crear">
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label t('views.new_view.edit') %>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="1" name="view[editar]" id="view_editar">
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label t('views.new_view.read') %>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="1" name="view[leer]" id="view_leer">
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label t('views.new_view.delete') %>
            </td>
            <td>
              <input type="checkbox" class="i-checks" value="1" name="view[eliminar]" id="view_eliminar">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-12 hr-line-dashed"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <button type="submit" , class="btn btn-xs btn-primary " , value="<%= t('all.save') %>" , name="btnSave">
            <i class="fa fa-floppy-o"></i>  <%= t('all.save') %>
          </button>
          <%= link_to '<span class="fa fa-desktop" ></span>  '.html_safe + t('all.cancelar'), views_path, :class => 'btn btn-xs btn-danger dim' %>
        </div>
      </div>
    </div>
    <script>
        var id = "<%= view.id%>"

        var crear = "<%= view.crear %>"
        var editar = "<%= view.editar %>"
        var eliminar = "<%= view.eliminar %>"
        var leer = "<%= view.leer %>"

        if (crear == "1"){
            $("#view_crear").attr("checked", true)
            $("#view_crear").parent().addClass("checked")
        }
        if (editar == "1"){
            $("#view_editar").attr("checked", true)
            $("#view_editar").parent().addClass("checked")
        }
        if (eliminar == "1"){
            $("#view_eliminar").attr("checked", true)
            $("#view_eliminar").parent().addClass("checked")
        }
        if (leer == "1"){
            $("#view_leer").attr("checked", true)
            $("#view_leer").parent().addClass("checked")
        }
    </script>
<% end %>
<script type="text/javascript">
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {color: '#1AB394'});
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
</script>

<script>
    $(document).ready(function () {
        var pasado = $("#nombre").val();
        $("#nombrePas").val(pasado);

        console.log($("#nombrePas").val());
    });

    $('#new_view').validate({
        messages: {
            "view[name]": {
                required: "<%= t('all.requi')%>"
            },
            "belongs": {
                required: "<%= t('all.requi')%>"
            }
        }
    });

    $('#edit_view_' + id).validate({
        messages: {
            "view[name]": {
                required: "<%= t('all.requi')%>"
            },
            "belongs": {
                required: "<%= t('all.requi')%>"
            }
        }
    });
</script>
<style>
  td {
    width: 15em;
  }
</style>
