<%# <%********************* Sweetalert No Results *************************** %>
<% if @error.present? %>
    <script>
        swal({ title: "<%= t('all.no_filter')%>", type: "error" });
    </script>
<% end %>
<%# <%*********************** Mostrar Busqueda actual *******************************%>
          <% if @busqueda.present? %>
            <div class="row">
              <div class="col-md-3">
                <h3><%= t('all.query') %>: <%= @busqueda %></h3>
              </div>
            </div>
          <% end %>
<%# <%********************** Paginacion & Boton Crear *******************************%>
          <div class="row">
            <div class="col-xs-4 col-md-4">
                  <%= link_to '<span class="fa fa-desktop"></span> '.html_safe + t('views.perfils_index.new'), new_view_path, :class => 'btn btn-primary btn-xs' %>
            </div>
            <div class="col-xs-8 col-md-8 form-group" align="right">
                <div class="detall_right">
                  <%= page_entries_info @views, entry_name: t('views.view_index') %>
                </div>
                <div class="pag_right">
                  <%= paginate @views, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
                </div>
            </div>
          </div>
<%# <%**************************** Tabla de usuarios **************************************%>
          <div id="tabla_usuarios" style="overflow: auto;">
            <table class="table footable no-paging">
              <thead>
                <tr>
                  <th class="text-left" data-sort-ignore="true"><%= t('activerecord.atributes.name') %></th>
                  <th class="text-left" data-sort-ignore="true" data-hide="phone"><%= t('all.edit') %></th>
                  <th class="text-left" data-sort-ignore="true" data-hide="phone"><%= t('all.destroy') %></th>
                </tr>
              </thead>
              <tbody>
                <% @views.each do |v| %>
                <tr>
                  <td><%= v.name %></td>
                  <td class="text-left"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_view_path(v), class:"btn btn-xs btn-warning" %></td>
                  <td class="text-left">
                  <input type="hidden" value="<%= v.name %>" id="view<%= v.id %>">
                  <button class="btn btn-xs btn-danger eliminar" type="button" id="<%= v.id %>">
                    <i class="fa fa-trash-o"></i>
                  </button></td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
<%# <%********************** Paginacion & Boton Crear *******************************%>
        <div class="row">
          <div class="col-xs-4 col-md-4">
              <%= link_to '<span class="fa fa-desktop"></span> '.html_safe + t('views.perfils_index.new'), new_view_path, :class => 'btn btn-primary btn-xs' %>
          </div>
          <div class="col-xs-8 col-md-8 form-group" align="right">
              <div class="detall_right">
                <%= page_entries_info @views, entry_name: t('views.view_index') %>
              </div>
              <div class="pag_right">
                <%= paginate @views, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
              </div>
          </div>
        </div>

<script type="text/javascript">
      $('table').footable({paginate: false});
</script>
