<div class="row">
  <div class="animated fadeInRight col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.views') %></h1>
          <div class="panel ibox-content">
<%# <%****************************** Body *********************************** %>
<%# <%*********************** Barra de busqueda *******************************%>
          <%= form_tag({:controller => "views", :action => "index"}, :method => "get",id: "vistasearch") do %>
          <div class ="row">
            <div class="col-md-4 form-group">
              <div class="input-group">
                <input type="search" class="form-control" name="search" autocomplete="off" id="user_serach" placeholder="<%= t('all.placehol_search') %>">
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: 'btn btn-primary', id:"btnrt") do %>
                  <i class="fa fa-search"></i> <%= t('all.btn_search') %>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
          <% end %>
          <div id="vistatabla"><%= render 'vistatabla' %></div>
<%# <%****************************** Body *********************************** %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
          $("#btnrt").click(function() {
              $.get($("#vistasearch").attr("action"), $("#vistasearch").serialize(), null, "script");
              return false;
          });
    });

    $(document).on("click", ".eliminar", function () {
        var id = this.id;
        var view = $("#view" + id).val();
        swal({
                title: '<%= t('views.mess_view_title')%>  ' + '<%= t('views.vista')%>  ' + view + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_view_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_view_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    swal({
                            title: '<%= t('views.mess_view_title2')%>',
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "<%= t('views.mess_view_swall_confirm')%> ",
                            cancelButtonText: "<%= t('views.mess_view_swall_cancel')%>",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: "POST",
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                    },
                                    url: "/views/" + id,
                                    data: {"_method": "delete"},
                                })
                                //swal("<%= t('views.mess_view_swall')%>");
                                swal(
                                    {
                                        title: '<%= t('views.mess_view_swall')%>',
                                        type: "success",
                                        confirmButtonText: "OK",
                                    }, function (isConfirm) {
                                        if (isConfirm) {
                                            window.location.reload(true);
                                        }
                                    })
                            } else {
                                swal("<%= t('views.mess_view_swall_cancel_1')%>");
                            }
                        })
                } else {
                    swal("<%= t('views.mess_view_swall_cancel_1')%>");
                }
            });
    })

</script>
