<% if @query.present? %>
  <div class="row">
    <div class="col-md-3">
      <h4><%= t('all.query') %>: <%= @query %></h4>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <%= link_to '<i class = "fa fa-eraser"></i> '.html_safe + t('all.clean'), cards_path, :class => 'btn btn-xs btn-primary', :data => {:no_turbolink => true} %>
      </div>
    </div>
  </div>
<% end %>
<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <% if @cards.count == 1 %>
          <%= page_entries_info @cards, entry_name: "#{t('views.cards_index.account')}" %>
        <% else %>
          <%= page_entries_info @cards, entry_name: "#{t('views.cards_index.account2')}" %>
        <% end %>
      </div>
      <div class="detall_left">
        <%= paginate @cards, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm' %>
      </div>
    </div>
  </div>
</div>
<table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
  <thead>
  <tr>
    <th data-visible="true" class="text-left" data-sort-ignore="true"><%= t('views.cards_index.client') %></th>
    <th class="text-center" data-hide="phone" data-sort-ignore="true"><%= t('views.cards_index.bank') %></th>
    <th class="text-center" data-hide="phone" data-sort-ignore="true"><%= t('views.cards_index.account') %></th>
    <th class="text-center" data-hide="phone" data-sort-ignore="true"><%= t('views.cards_index.credit') %></th>
    <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.a_balance') %></th>
    <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.floor_limit') %></th>
    <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.card_Type') %></th>
    <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.limit_Oper') %></th>
    <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.a_operations') %></th>
    <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.a_status') %></th>
    <th class="text-right" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.trans_detail') %></th>
    <th class="text-center" data-hide="phone" data-sort-ignore="true"><%= t('views.cards_index.edit') %></th>
    <th class="text-center" data-sort-ignore="true"><%= t('views.cards_index.eliminar') %></th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr>
      <td class="text-left" style="word-break:break-all;">
        <% if card.client.present? %>
          <% if card.client.name.present? %>
            <%= card.client.name %>
          <% end %>
          <% if card.client.last_name.present? %>
            <%= card.client.last_name %>
          <% end %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if !Bank.find_by_bank_id(card.cvv).nil? %>
          <% @dato_store = Bank.find_by_bank_id(card.cvv) %>
          <%= @dato_store.name %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if card.number_card.present? %>
          <%= card.number_card %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if card.initial_balance.present? %>
          <%= number_to_currency((card.initial_balance.to_f) / 100, locale: :en) %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if card.actual_balance.present? %>
          <%= number_to_currency((card.actual_balance.to_f) / 100, locale: :en) %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if card.floor_limit.present? %>
          <%= number_to_currency((card.floor_limit.to_f) / 100, locale: :en) %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if card.cardType.present? %>
          <% if card.cardType.name.present? %>
            <%= card.cardType.name %>
          <% end %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if card.transaction_initial.present? %>
          <%= card.transaction_initial %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if card.transaction_actual.present? %>
          <%= card.transaction_actual %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="text-center">
        <% if card.active == true %>
          <%= t('views.cards_index.active') %>
        <% elsif card.active == false %>
          <%= t('views.cards_index.locked') %>
        <% end %>
      </td>
      <td class="text-right">
        <% if @leerCard == 2 %>
          <% @count = Ptlf.where("card_id = ?", card.id).count %>
          <%= "Total: " + @count.to_s + " " %>
          <%= link_to "<button class='btn btn-primary btn-xs blue-tooltip tolshow' data-toggle='tooltip' type= 'button'><i class='fa fa-file-text'></i></button>".html_safe, {:controller => "ptlfs", :action => "index", :id => card.id, :client_id => @client_id}, :data => {:no_turbolink => true} %>
        <% end %>
      </td>
      <td class="text-center">
        <% if @editarCard == 4 %>
          <%= link_to ("<button class='btn btn-warning btn-xs blue-tooltip toledit' data-toggle='tooltip' type='button'><i class='fa fa-pencil'></i></button>").html_safe, edit_card_path(card), :data => {:no_turbolink => true} %>
        <% end %>
      </td>
      <td class="text-center">
        <% if @eliminarCard == 1 %>
          <input type="hidden" value="<%= card.number_card %>" id="client<%= card.id %>">
          <button class="btn btn-danger btn-xs eliminar blue-tooltip toldelete" data-toggle='tooltip' id="<%= card.id %>" type="button">
            <i class="fa fa-trash-o"></i>
          </button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- Paginacion -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3"></div>
  <div class="col-md-5 text-right">
    <div style="margin-bottom: 2em;">
      <div class="detall_left">
        <%= paginate @cards, params: {controller: 'cards', action: 'index'}, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm' %>
      </div>
      <div class="pag_right">
        <% if @cards.count == 1 %>
          <%= page_entries_info @cards, entry_name: "#{t('views.cards_index.account')}" %>
        <% else %>
          <%= page_entries_info @cards, entry_name: "#{t('views.cards_index.account2')}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $('table').footable({});
    <% if @error == true  %>
    swal({
            title: '<%= t('all.no_filter') %>.',
            type: 'error',
            confirm: 'OK'
        }
    );
    <% end %>
</script>