<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.maskMoney.min.js' %>
<% end %>

<%= form_for @card, :html => {:id => "form1", :role => "form"} do |f| %>

  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this router from being saved:</h2>
      <ul>
        <% @card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @error.present? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">x</button>
      <p><%= @error %></p>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: "submit", name: "commit", id: 'commit1', :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.cards_form.btn_new') %>
      <% end %>
      <%= link_to ('<i class="fa fa-cc-mastercard"></i> ').html_safe + t('views.cards_form.btn_Back'), {:controller => 'cards', :action => 'index'}, :data => {:no_turbolink => true}, :class => "btn btn-xs btn-danger" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 form-group">
      <label class="required"><%= t('views.cards_form.account') %></label>
      <span class="badge badge-secondary blue-tooltip" style="margin-bottom: 16px" id="helpaccount" data-toggle="tooltip" title="<%= t('views.cards_form.help1') %>">?</span>
      <% if @isnew == true %>
        <%= f.text_field :number_card, id: "cuenta", class: "form-control input-sm", placeholder: t('views.cards_form.account'), :autocomplete => :off, :maxlength => 16 %>
        <h4><span class="label" id="accountlabel"></span></h4>
      <% else %>
        <%= f.text_field :number_card, id: "cuenta", class: "form-control input-sm", placeholder: t('views.cards_form.account'), :autocomplete => :off, :maxlength => 16, :disabled => :true %>
      <% end %>
    </div>
    <div class="col-md-4 form-group">
      <label class="required"><%= t('views.cards_form.credit') %></label>
      <span class="badge badge-secondary blue-tooltip" style="margin-bottom: 16px" id="helpcred" data-toggle="tooltip" title="<%= t('views.cards_form.help2') %>">?</span>
      <% if @isnew == true %>
        <input type="text" id="credito" class="form-control input-sm" placeholder="<%= t('views.cards_form.credit') %>" autocomplete="off" maxlength="17"/>
        <%= f.hidden_field :initial_balance, id: "credito_int", :autocomplete => :off %>
      <% else %>
        <%= f.text_field :initial_balance, id: "credito", class: "form-control input-sm", :autocomplete => :off, :maxlength => 17 %>
        <input type="hidden" id="credito_int">
      <% end %>
      <h4><span class="label" id="creditlabel"></span></h4>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="required"><%= t('views.cards_form.Floor') %></label>
        <span class="badge badge-secondary blue-tooltip" style="margin-bottom: 16px" id="helppiso" data-toggle="tooltip" title="<%= t('views.cards_form.help3') %>">?</span>
        <% if @isnew == true %>
          <input type="text" id="floor" class="form-control input-sm" placeholder="<%= t('views.cards_form.Floor') %>" autocomplete="off" maxlength="17"/>
          <%= f.hidden_field :floor_limit, id: "floor_limit", :autocomplete => :off %>
        <% else %>
          <%= f.text_field :floor_limit, id: "floor", class: "form-control input-sm", :autocomplete => :off, :maxlength => 17 %>
          <input type="hidden" id="floor_limit">
        <% end %>
        <h4><span class="label" id="floorlabel"></span></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="required"><%= t('views.cards_form.card_type') %></label>
        <% if @btn == true %>
          <select name="card[cardType_id]" id="cardType" class="form-control input-sm" autocomplete="off" disabled selected="selected">
            <option value=""><%= t('views.cards_form.trad01') %></option>
            <% @type = CardType.all %>
            <% @type.each do |tipo| %>
              <% if tipo.name == "Check" %>
                <option value="<%= tipo.id %>"><%= t('views.cards_form.check') %></option>
              <% elsif tipo.name == "Post Date" %>
                <option value="<%= tipo.id %>"><%= t('views.cards_form.post_date') %></option>
              <% elsif tipo.name == "Revolving Check" %>
                <option value="<%= tipo.id %>"><%= t('views.cards_form.revolving_check') %></option>
              <% end %>
            <% end %>
          </select>
          <%#= f.collection_select :cardType_id, CardType.order(:id), :id, :name, {:include_blank => t('views.cards_form.select')}, :class => 'form-control', :autocomplete => "off", id: 'cardType' %>
        <% else %>
          <select name="card[cardType_id]" id="cardType" class="form-control input-sm" autocomplete="off">
            <option value=""><%= t('views.cards_form.trad01') %></option>
            <% @type = CardType.all %>
            <% @type.each do |tipo| %>
              <% if tipo.name == "Check" %>
                <option value="<%= tipo.id %>"><%= t('views.cards_form.check') %></option>
              <% elsif tipo.name == "Post Date" %>
                <option value="<%= tipo.id %>"><%= t('views.cards_form.post_date') %></option>
              <% elsif tipo.name == "Revolving Check" %>
                <option value="<%= tipo.id %>"><%= t('views.cards_form.revolving_check') %></option>
              <% end %>
            <% end %>
          </select>
          <%#= f.text_field :cardType_id, :autocomplete => :off, :disabled => :true %>
        <% end %>
        <h4><span class="label" id="cardtypelabel"></span></h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="required"><%= t('views.cards_form.bank') %></label>
        <%= f.collection_select :cvv, Bank.order(:name), :bank_id, :name, {:include_blank => t('views.cards_form.trad02')}, class: "form-control banco input-sm", id: 'Banco' %>
        <h4><span class="label" id="banklabel"></span></h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group ">
        <label class="required"><%= t('views.cards_form.limit') %></label>
        <%= f.text_field :transaction_initial, id: "limite", class: "form-control input-sm", placeholder: t('views.cards_form.limit'), :autocomplete => :off, :maxlength => 255 %>
        <h4><span class="label" id="limitelabel"></span></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% if @isnew == true %>
        <%= f.hidden_field :active, :value => "true" %>
      <% else %>
        <% if @devolution == true %>
          <div class="form-group">
            <label><%= t('views.cards_form.account_status') %></label>
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="act">
              <label><%= t('views.cards_form.locked') %></label>
            </div>
            <%= f.hidden_field :active, :id => "acti" %>
          </div>
        <% else %>
          <div class="form-group">
            <label><%= t('views.cards_form.account_status') %></label>
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="act" checked>
              <label><%= t('views.cards_form.locked') %></label>
            </div>
            <%= f.hidden_field :active, :id => "acti" %>
          </div>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= f.hidden_field :client_id, :autocomplete => :off %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: "submit", name: "commit", id: 'commit2', :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.cards_form.btn_new') %>
      <% end %>
      <%= link_to ('<i class="fa fa-cc-mastercard"></i> ').html_safe + t('views.cards_form.btn_Back'), {:controller => 'cards', :action => 'index'}, :data => {:no_turbolink => true}, :class => "btn btn-xs btn-danger" %>
    </div>
  </div>
  <br>
<% end %>
<script type="text/javascript" charset="utf-8">
    $('#cardType option[value="<%= @cardtype.to_s %>"]').prop("selected", true);
</script>