<div class="row block-area wrapper wrapper-content animated fadeInRight">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.cards_edit.title') %></h1>
      </div>
      <div class="ibox-content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>