<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.maskMoney.min.js' %>
<% end %>
<% if params[:seenvio].present? %>
  <p class="alert alert-success alert-dismissible" id="mensaje7">
    <label><%= t('views.cards_index.alert_File') %></label>
  </p>
<% end %>
<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <% if @boton == true %>
            <h1><%= t('views.cards_index.title2') %></h1>
          <% elsif @boton == false %>
            <h1><%= t('views.cards_index.title') %></h1>
          <% end %>
          <div class="ibox-content">

            <div class="row">
              <div class="col-md-12">

                <% if @boton == false %>
                  <%= form_tag({:controller => "cards", :action => "index"}, :id => "form", :method => "get") do %>
                    <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                          <input type="text" id="num_c" class="form-control input-md main-search" autocomplete="off" name="number_card" placeholder="<%= t('views.cards_index.n_account') %>" maxlength="16">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <input type="text" id="act_bal" class="form-control input-md main-search" autocomplete="off" placeholder="<%= t('views.cards_index.a_balance') %>" maxlength="17">
                          <%= hidden_field_tag "actual_balan", "", :id => "act_bal_val" %>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <input type="text" id="oper" class="form-control input-md main-search" autocomplete="off" name="transaction_actual" placeholder="<%= t('views.cards_index.a_operations') %>">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <select name="active" class="form-control input-md">
                            <option value="" selected="selected"><b><%= t('views.cards_index.a_status') %></b></option>
                            <option value="1"><%= t('views.cards_index.active') %></option>
                            <option value="0"><%= t('views.cards_index.locked') %></option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4 text-left">
                        <%= button_tag(type: 'submit', class: 'btn btn-primary btn-wm', name: "Search") do %>
                          <i class="fa fa-search"></i>
                          <%= t('views.ptlfs_index.btn_Search') %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <%= link_to "<i class='fa fa-download'></i> ".html_safe + t('views.cards_index.btn_Field'), cards_send_file_path(:click => true, :val => @cards, :id => params[:id], :number_card => params[:number_card], :actual_balan => params[:actual_balan], :transaction_actual => params[:transaction_actual], :active => params[:active], :idioma => params[:locale]), :class => 'btn btn-primary btn-xs', :id => 'link_send' %>
              </div>
            </div>
            <br>
            <br>
            <div class="table footable" id="tabla_card">
              <%= render :partial => 'ca' %>
            </div>
            <div class="row">
              <div class="col-md-4">
                <%= link_to "<i class='fa fa-download'></i> ".html_safe + t('views.cards_index.btn_Field'), cards_send_file_path(:click => true, :val => @cards, :id => params[:id], :number_card => params[:number_card], :actual_balan => params[:actual_balan], :transaction_actual => params[:transaction_actual], :active => params[:active], :idioma => params[:locale]), :class => 'btn btn-primary btn-xs', :id => 'link_send' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <% if @boton %>
                  <% if @crearCard == 8 %>
                    <%= link_to "<i class='fa fa-cc-mastercard'></i> ".html_safe + t('views.cards_new.title'), {:controller => 'cards', :action => 'new', :id => @card_id}, :data => {:no_turbolink => true}, :class => "btn btn-xs btn-primary" %>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {

        $('.tolshow').attr('title', '<%= t('views.cards_show.tolnew') %>');
        $('.toledit').attr('title', '<%= t('views.cards_show.edittol') %>');
        $('.toldelete').attr('title', '<%= t('views.cards_show.delete') %>');
        $('[data-toggle="tooltip"]').tooltip();
        $('table').footable({});
        $(function () {
            $('#act_bal').maskMoney({prefix: 'MEX $'});
        })

        // Validacin para que los inputs no acepten Letras
        $('#num_c, #act_bal, #oper').on('input', function () {
            valor = $(this).val();
            patron = /^[0-9]*$/
            remp = /[^0-9]/gi
            if (!patron.test(valor)) {
                this.value = valor.replace(remp, "");
            }
        });

        $('#form').submit(function () {
                var credito = $('#act_bal').val().toString()
                var credito = credito.toString().replace(',', '')
                var credito = credito.toString().replace('.', '')
                var credito = credito.toString().replace(' ', '')
                var credito = credito.toString().replace('MEX', '')
                var credito = credito.toString().replace('$', '')
            var credito = credito.toString().replace(',', '')
                if (credito == "001") {
                    var cre_int = $('#act_bal_val').val(0);
                } else {
                    var cre_int = $('#act_bal_val').val(credito);
                }
            }
        );
        $('#link_send').click(function () {
            $(this).attr('disabled', true);
            $('#txtD').text("CreandoArchivo")
        })
    });

    function recargar() {
        window.location.reload(true);
    }

    $(document).on("click", ".eliminar", function () {
        var id = this.id;
        var client = $("#client" + id).val();
        swal({
                title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.cards_index.account')%> ' + client + '?',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                        },
                        url: "/cards/" + id,
                        data: {"_method": "delete"},
                    });
                    swal(
                        {
                            title: '<%= t('views.message_cards.mess_card_swall')%>',
                            type: "success",
                            confirmButtonText: "OK",
                        }, function (isConfirm) {
                            if (isConfirm) {
                                recargar();
                            }
                        })
                } else {
                    swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                }
            });
    })

</script>

<!--<style>-->
<!--  .blue-tooltip + .tooltip > .tooltip-inner {-->
<!--    background-color: #003057;-->
<!--  }-->
<!--</style>-->