<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.cards_show.title') %></h1>
        </div>

        <div class="ibox-content">
          <div class="row">
            <div class="col-md-4">
              <%= link_to "<i class='fa fa-plus'></i> ".html_safe + t('views.cards_new.title'), {:controller => 'cards', :action => 'new', :id => @card.client_id}, 'data-no-turbolink' => true, :class => "btn btn-xs btn-primary" %>
              <%= link_to '<i class="fa fa-cc-mastercard"></i> '.html_safe + t('all.back'), {:controller => 'cards', :action => 'index'}, :class => "btn btn-xs btn-warning" %>
            </div>
          </div>
          <div class="row">
            <table class="table footable" data-show-toggle="false" data-expand-first="true" data-page="false">
              <thead>
              <tr>
                <th data-visible="true" class="text-center" data-sort-ignore="true"><%= t('views.cards_index.bank') %></th>
                <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.n_account') %></th>
                <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.credit') %></th>
                <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.a_balance') %></th>
                <th class="text-center" data-hide="phone, tablet" data-sort-ignore="true"><%= t('views.cards_index.floor_limit') %></th>
                <th class="text-center" data-hide="all" data-sort-ignore="true"><%= t('views.cards_index.card_Type') %></th>
                <th class="text-center" data-hide="all" data-sort-ignore="true"><%= t('views.cards_index.limit_Oper') %></th>
                <th class="text-center" data-hide="all" data-sort-ignore="true"><%= t('views.cards_index.a_operations') %></th>
                <th class="text-center" data-hide="phone" data-sort-ignore="true"><%= t('all.edit') %></th>
              </tr>
              </thead>

              <tbody>
              <td class="text-center">
                <% banco = Bank.find_by_bank_id(@card.cvv) %>
                <%= banco.name %>
              </td>
              <td class="text-center">
                <% if @card.number_card.present? %>
                  <%= @card.number_card %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @card.initial_balance.present? %>
                  <%= number_to_currency((@card.initial_balance.to_f) / 100, locale: :en) %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @card.actual_balance.present? %>
                  <%= number_to_currency((@card.actual_balance.to_f) / 100, locale: :en) %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @card.floor_limit.present? %>
                  <%= number_to_currency((@card.floor_limit.to_f) / 100, locale: :en) %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @card.cardType.present? %>
                  <% if @card.cardType.name.present? %>
                    <% if @card.cardType.name == "Check" %>
                      <%= t('views.cards_form.check') %>
                    <% elsif @card.cardType.name == "Post Date" %>
                      <%= t('views.cards_form.post_date') %>
                    <% elsif @card.cardType.name == "Revolving Check" %>
                      <%= t('views.cards_form.revolving_check') %>
                    <% end %>
                  <% else %>
                    N/A
                  <% end %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @card.transaction_initial.present? %>
                  <%= @card.transaction_initial %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <% if @card.transaction_actual.present? %>
                  <%= @card.transaction_actual %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_card_path(@card), :data => {:no_turbolink => true}, class: "btn btn-xs btn-warning" %>
              </td>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= link_to "<i class='fa fa-plus'></i> ".html_safe + t('views.cards_new.title'), {:controller => 'cards', :action => 'new', :id => @card.client_id}, 'data-no-turbolink' => true, :class => "btn btn-xs btn-primary" %>
              <%= link_to '<i class="fa fa-cc-mastercard"></i> '.html_safe + t('all.back'), {:controller => 'cards', :action => 'index'}, :class => "btn btn-xs btn-warning" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('table').footable({});
</script>


