/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require jquery-ui/datepicker
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require dataTables/jquery.dataTables.foundation
 *= require dataTables/extras/dataTables.responsive
 *= require style
 *= require font-awesome
 *= require jquery.minicolors
 *= require treeJQuery/jquery.treetable.css
 *= require treeJQuery/jquery.treetable.theme.default

/*Tree table*/
//= require treeJQuery/jquery.treetable.css
//= require treeJQuery/jquery.treetable.theme.default

/* Paleta de Colores */
/*
 *= require jquery.minicolors
 */

.pagination > li > a {
  color: white;
  background-color: grey;
}

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.field_with_errors {
  @extend .has-error;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

div.dataTables_length label, div.dataTables_filter label, div.dataTables_info {
  color: white;
}

@media (min-width: 781px) {
  .ks-login-form-center {
    margin: 0 auto 0 auto;
  }
}

.dropzone {
  background: transparent;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(41, 48, 168, 0.07);
}

section {
  z-index: 4000;
}

.box {
  z-index: 4000;
}

.container {
  z-index: 4000;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3000;
}

.input_cards {
  display: inline-block;
  width: 200px;
  height: 100px;
  //margin: 1em;
}

.contenedor {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  margin: 23em 0 0 40%;
}

.contenedor .text-muted {
  margin: 20px 0;
}

@media screen and (max-width: 1160px) {
  .contenedor {
    margin: 23em 0 0 35%;
  }
}

@media screen and (max-width: 960px) {

  .contenedor {
    margin: 23em 0 0 25%;
  }
}

@media screen and (min-width: 110px) and (max-width: 710px) {
  .contenedor {
    padding: 0 0 0 0;
    margin: 23em 0 0 20%;
  }
}

.required:before {
  color: red;
  content: "* "
}