<div class="block-area" id="basic">
  <h3 class="block-title">Transacctions</h3>
  <div class="tile p-15">
    <%= form_for :card do |f|%>

        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-sm", placeholder: "Name"%>
        </div>
        <div class="form-group">
          <%= f.text_field :bin_id, class: "form-control input-sm", placeholder: "Bin id"%>
        </div>
        <div class="form-group">
          <%= f.text_field :transaction_type_id, class: "form-control input-sm", placeholder: "Transaction type id"%>l
        </div>
        <div class="form-group">
          <%= f.text_field :percent, class: "form-control input-sm", placeholder: "Percent"%>
        </div>
        <div class="form-group">
          <%= f.text_field :amount_base, class: "form-control input-sm", placeholder: "Amount base"%>
        </div>
        <div class="form-group">
          <%= f.text_field :amount_desc, class: "form-control input-sm", placeholder: "Amount desc"%>
        </div>
        <div class="form-group">
          <%= f.date_field :start_at, class: "form-control input-sm"%>
        </div>
        <div class="form-group">
          <%= f.date_field :end_at, class: "form-control input-sm"%>
        </div>


        <%= f.submit "Add", class: "btn btn-sm m-t-10"%>

    <% end %>
  </div>
</div>
