<%= javascript_include_tag 'regions' %>
<%= stylesheet_link_tag "regions" %>

<div class="traducciones" style="display: none;">
  <input type="hidden" id="trad03" value="<%= t('views.regions_form.trad03') %>">
</div>

<%= form_for @region, :html => {:id => "form1", :role => "form"} do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: "submit", name: "commit", :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.regions_form.btn_save') %>
      <% end %>
      <%= link_to ('<i class="fa fa-globe"></i> ').html_safe + t('views.regions_form.btn_back'), regions_path, :class => "btn btn-xs btn-danger", :data => {:no_turbolink => false} %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="required"><%= t('views.regions_form.name') %></label>
        <%= f.text_field :name, id: 'name', class: "form-control input-sm", placeholder: t('views.regions_form.name'), :autocomplete => :off %>
        <h4><span class="label" id="namelabel"></span></h4>
      </div>
    </div>
    <div class="col-md-8"></div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= button_tag(type: "submit", name: "commit", :class => "btn btn-xs btn-primary", :data => {:no_turbolink => true}) do %>
        <i class="fa fa-floppy-o"></i> <%= t('views.regions_form.btn_save') %>
      <% end %>
      <%= link_to ('<i class="fa fa-globe"></i> ').html_safe + t('views.regions_form.btn_back'), regions_path, :class => "btn btn-xs btn-danger", :data => {:no_turbolink => false} %>
    </div>
  </div>

<% end %>
<script type="text/javascript" charset="utf-8">
    <% if @error2 == true  %>
    swal({
            title: '<%= t('views.message_region.notice_blackup') %>.',
            type: 'warning',
            confirm: 'OK'
        }
    );
    <% end %>
</script>
