<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.regions_index.title') %></h1>
          <div class="ibox-content">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <%= form_tag({:controller => "regions", :action => "index"}, :method => "get", id: "regionsearch") do %>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4 col-md-4">
                        <div class="input-group">
                          <input type="text" class="form-control" name="search" autocomplete="off" maxlength="255" id="sear" placeholder="<%= t('views.client_index.search') %>">
                          <span class="input-group-btn">
                            <%= button_tag(type: "submit", class: "btn btn-primary", name: "btnregion", id: "btnregion") do %>
                              <i class="fa fa-search"></i>
                              <%= t('views.client_index.btn_search') %>
                            <% end %>
                          </span>
                        </div>
                      </div>
                      <div class="col-sm-4 col-md-4">
                        <span class="badge badge-secondary blue-tooltip" id="help" data-toggle="tooltip" title="<%= t('all.help') %>">?</span>
                      </div>
                      <div class="col-sm-7 col-md-7">
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <% if @crearRegion == 8 %>
                  <%= link_to '<i class="fa fa-globe"></i> '.html_safe + t('views.regions_index.btn_new'), new_region_path, :class => "btn btn-primary btn-xs", :data => {:no_turbolink => true} %>
                <% end %>
              </div>
            </div>
            <br>
            <br>
            <div class="table footable" id="ta_region">
              <%= render :partial => 'region' %>
            </div>
            <div class="row">
              <div class="col-md-4">
                <% if @crearRegion == 8 %>
                  <%= link_to '<i class="fa fa-globe"></i> '.html_safe + t('views.regions_index.btn_new'), new_region_path, :class => "btn btn-primary btn-xs", :data => {:no_turbolink => true} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
        $('#sear').on('input', function () {
            if ($('#sear').val().trim() == "") {
                $("#btnregion").click();
            }
        });
        $("#btnregion").click(function () {
            $.get($("#regionsearch").attr("action"), $("#regionsearch").serialize(), null, "script");
            return false;
        });
        $('table').footable({});
        $('.tolshow').attr('title', '<%= t('views.regions_show.title') %>');
        $('.toledit').attr('title', '<%= t('views.regions_edit.title') %>');
        $('.toldelete').attr('title', '<%= t('views.regions_index.destroy2') %>');
        $('[data-toggle="tooltip"]').tooltip();

        function recargar() {
            window.location.reload(true);
        }

        $(document).on("click", ".eliminar", function () {
            var id = this.id;
            var region = $("#region" + id).val();
            swal({
                    title: '<%= t('views.mess_apli_title')%>  ' + '<%= t('views.regions_index.region')%> ' + region + '?',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "<%= t('views.mess_apli_swall_confirm')%> ",
                    cancelButtonText: "<%= t('views.mess_apli_swall_cancel')%>",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                            },
                            url: "/regions/" + id,
                            data: {"_method": "delete"},
                        });
                        swal(
                            {
                                title: '<%= t('views.message_region.mess_region_swall')%>',
                                type: "success",
                                confirmButtonText: "OK",
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    recargar();
                                }
                            })
                    } else {
                        swal("<%= t('views.mess_apli_swall_cancel_1')%>");
                    }
                });
        })

    });
</script>