<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1><%= t('views.regions_show.title') %></h1>
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('views.regions_index.btn_new'), new_region_path, :class => "btn btn-primary btn-xs", :data => {:no_turbolink => true} %>
                <%= link_to ('<i class="fa fa-globe"></i> ').html_safe + t('all.back'), regions_path, :class => "btn btn-xs btn-warning", :data => {:no_turbolink => false} %>
              </div>
            </div>
            <table class="table footable" data-show-toggle="false" data-expand-first="true" data-page-size="20">
              <thead>
              <tr>
                <th data-sort-ignore="true" class="text-center" data-visible="true"><%= t('views.regions_index.region') %></th>
                <th data-sort-ignore="true" class="text-center"><%= t('views.regions_index.edit') %></th>
              </tr>
              </thead>

              <tbody>
              <td class="text-center">
                <% if @region.name.present? %>
                  <%= @region.name %></td>
                <% else %>
                  N/A
                <% end %>
                <td class="text-center">
                  <%= link_to '<button class="btn btn-warning btn-xs" type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_region_path(@region), :data => {:no_turbolink => false} %></td>
                </tbody>
            </table>
            <div class="row">
              <div class="col-md-4">
                <%= link_to '<i class="fa fa-plus"></i> '.html_safe + t('views.regions_index.btn_new'), new_region_path, :class => "btn btn-primary btn-xs", :data => {:no_turbolink => true} %>
                <%= link_to ('<i class="fa fa-globe"></i> ').html_safe + t('all.back'), regions_path, :class => "btn btn-xs btn-warning", :data => {:no_turbolink => false} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


