<% if current_user.profile.present? %>
  <% @permisos = current_user.profile.permissions %>
  <% arreglo = Array.new %>
  <% @permisos.each do |per| %>
    <% id = per.id %>
    <% valor = {name: '', crear: 0, editar: 0, leer: 0, eliminar: 0} %>
    <% valor[:name] = per.view_name %>
    <% if per.crear.nil? %>
      <% valor[:crear] = 0 %>
    <% else %>
      <% valor[:crear] = per.crear %>
    <% end %>

    <% if per.editar.nil? %>
      <% valor[:crear] = 0 %>
    <% else %>
      <% valor[:editar] = per.editar %>
    <% end %>

    <% if per.leer.nil? %>
      <% valor[:leer] = 0 %>
    <% else %>
      <% valor[:leer] = per.leer %>
    <% end %>

    <% if per.eliminar.nil? %>
      <% valor[:eliminar] = 0 %>
    <% else %>
      <% valor[:eliminar] = per.eliminar %>
    <% end %>

    <% arreglo.push(valor) %>
  <% end %>

  <nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                  <span class="block m-t-xs">
                    <h3>
                      <strong class="font-bold"><%= current_user.name %> <%= current_user.last_name %></strong><br>
                    </h3>
                    <h5>
                      <%= current_user.user_name %>
                    </h5>
                  </span>
                  <span class="text-muted text-xs block cerrado" id="abre"><%= t('all.menu') %>
                    <b class="caret"></b></span>
                </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs" id="menu">
              <li>
                <a href="#"><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe + t('all.edit'), edit_user_registration_path %></a>
              </li>

              <li>
                <a href="#"><%= link_to '<i class="fa fa-sign-out"></i>'.html_safe + t('all.logout'), destroy_user_session_path, :method => :delete %></a>
              </li>
            </ul>
          </div>
          <div class="logo-element">
            KS
          </div>
        </li>

        <!-- Home -->
        <% if arreglo[0][:leer] == 2 %>
          <li class="<%= 'active' if current_page?('/') %>">
            <%= link_to '/' do %>
              <i class="fa fa-home"></i> <span class="nav-label"><%= t('all.home') %></span>
            <% end %>
          </li>
        <% end %>


        <!-- WhiteLists -->
        <% if arreglo[1][:leer] == 2 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:eliminar] == 1 || arreglo[2][:leer] == 2 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:eliminar] == 1 || arreglo[3][:leer] == 2 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:eliminar] == 1 || arreglo[4][:leer] == 2 || arreglo[4][:crear] == 8 || arreglo[4][:editar] == 4 || arreglo[4][:eliminar] == 1 || arreglo[5][:leer] == 2 || arreglo[5][:crear] == 8 || arreglo[5][:editar] == 4 || arreglo[5][:eliminar] == 1 %>
          <li class="<%= is_active_controller('clients') %> <%= is_active_controller('cards') %> <%= is_active_controller('ptlfs') %> <%= is_active_controller('/ptlfs/filtro') %> <%= is_active_controller('banks') %>">
            <a href=""><i class="fa fa-credit-card-alt"></i>
              <span class="nav-level"><%= t('all.white_lists') %></span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level <%= is_active_controller('clients') %> <%= is_active_controller('cards') %> <%= is_active_controller('ptlfs') %> <%= is_active_controller('/ptlfs/filtro') %> <%= is_active_controller('banks') %>">

              <% if arreglo[1][:leer] == 2 || arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:eliminar] == 1 %>
                <li class="<%= is_active_controller('clients') %>">
                  <%= link_to clients_path do %>
                    <i class="fa fa-address-card"></i><%= t('all.client') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[2][:leer] == 2 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:eliminar] == 1 %>
                <li class="<%= is_active_controller('cards') %>">
                  <%= link_to cards_path do %>
                    <i class="fa fa-cc-mastercard"></i><%= t('all.cards') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[3][:leer] == 2 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:eliminar] == 1 %>
                <li class="<%= is_active_controller('ptlfs') && ( is_active_action('index') || is_active_action('edit') || is_active_action('show') ) %>">
                  <%= link_to ptlfs_path do %>
                    <i class="fa fa-money"></i><%= t('all.ptlf') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[4][:leer] == 2 || arreglo[4][:crear] == 8 || arreglo[4][:editar] == 4 || arreglo[4][:eliminar] == 1 %>
                <li class="<%= is_active_action('filtro') %>">
                  <%= link_to ptlfs_filtro_path do %>
                    <i class="fa fa-filter"></i><%= t('all.filtro') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[5][:leer] == 2 || arreglo[5][:crear] == 8 || arreglo[5][:editar] == 4 || arreglo[5][:eliminar] == 1 %>
                <li class="<%= is_active_controller('banks')%>">
                  <%= link_to banks_path do %>
                    <i class="fa fa-bank"></i><%= t('all.bank') %>
                  <% end %>
                </li>
              <% end %>

            </ul>
          </li>
        <% end %>

        <!-- Stores -->
        <% if arreglo[6][:leer] == 2 || arreglo[6][:crear] == 8 || arreglo[6][:editar] == 4 || arreglo[6][:eliminar] == 1 || arreglo[7][:leer] == 2 || arreglo[7][:crear] == 8 || arreglo[7][:editar] == 4 || arreglo[7][:eliminar] == 1 || arreglo[8][:leer] == 2 || arreglo[8][:crear] == 8 || arreglo[8][:editar] == 4 || arreglo[8][:eliminar] == 1 %>
          <li class="<%= is_active_controller('affiliations') %> <%= is_active_controller('districts') %> <%= is_active_controller('regions') %>">
            <a href="#"><i class="fa fa-industry"></i>
              <span class="nav-level"><%= t('all.stores') %></span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level <%= is_active_controller('affiliations') %> <%= is_active_controller('districts') %> <%= is_active_controller('regions') %>">

              <% if arreglo[6][:leer] == 2 || arreglo[6][:crear] == 8 || arreglo[6][:editar] == 4 || arreglo[6][:eliminar] == 1 %>
                <li class="<%= is_active_controller('affiliations') %>">
                  <%= link_to affiliations_path do %>
                    <i class="fa fa-industry"></i><%= t('all.shops') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[7][:leer] == 2 || arreglo[7][:crear] == 8 || arreglo[7][:editar] == 4 || arreglo[7][:eliminar] == 1 %>
                <li class="<%= is_active_controller('districts') %>">
                  <%= link_to districts_path do %>
                    <i class="fa fa-flag"></i><%= t('all.districts') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[8][:leer] == 2 || arreglo[8][:crear] == 8 || arreglo[8][:editar] == 4 || arreglo[8][:eliminar] == 1 %>
                <li class="<%= is_active_controller('regions') %>">
                  <%= link_to regions_path do %>
                    <i class="fa fa-globe"></i><%= t('all.regions') %>
                  <% end %>
                </li>
              <% end %>

            </ul>
          </li>
        <% end %>

        <!-- Archives -->
        <% if arreglo[9][:crear] == 8 || arreglo[9][:editar] == 4 || arreglo[9][:leer] == 2 || arreglo[9][:eliminar] == 1 %>
          <li class="<%= is_active_controller('upload_files') %>">
            <%= link_to upload_files_path do %>
              <i class="fa fa-folder"></i><span class="nav-label"><%= t('all.upload_files') %></span>
            <% end %>
          </li>
        <% end %>

        <!-- Settings -->
        <% if arreglo[10][:crear] == 8 || arreglo[10][:editar] == 4 || arreglo[10][:leer] == 2 || arreglo[10][:eliminar] == 1 || arreglo[11][:crear] == 8 || arreglo[11][:editar] == 4 || arreglo[11][:leer] == 2 || arreglo[11][:eliminar] == 1 || arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1 || arreglo[13][:crear] == 8 || arreglo[13][:editar] == 4 || arreglo[13][:leer] == 2 || arreglo[13][:eliminar] == 1 %>
          <li class="<%= is_active_controller('users') %> <%= is_active_controller('profiles') %> <%= is_active_controller('areas') %> <%= is_active_controller('historics') %>">
            <a href=""><i class="fa fa-cogs"></i><span class="nav-level"><%= t('all.settings_n') %></span>
              <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level <%= is_active_controller('users') %> <%= is_active_controller('profiles') %> <%= is_active_controller('areas') %> <%= is_active_controller('historics') %>">

              <% if arreglo[10][:crear] == 8 || arreglo[10][:editar] == 4 || arreglo[10][:leer] == 2 || arreglo[10][:eliminar] == 1 %>
                <li class="<%= is_active_controller('users')  %>">
                  <%= link_to users_path do %>
                    <i class='fa fa-users'></i> <%= t('views.title_user') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[11][:crear] == 8 || arreglo[11][:editar] == 4 || arreglo[11][:leer] == 2 || arreglo[11][:eliminar] == 1 %>
                <li class="<%= is_active_controller('profiles') %>">
                  <%= link_to profiles_path do %>
                    <i class='fa fa-user'></i> <%= t('all.profiles') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1 %>
                <li class="<%= is_active_controller('areas')%>">
                  <%= link_to areas_path do %>
                    <i class='fa fa-sticky-note'></i> <%= t('views.title_area') %>
                  <% end %>
                </li>
              <% end %>

              <% if arreglo[13][:crear] == 8 || arreglo[13][:editar] == 4 || arreglo[13][:leer] == 2 || arreglo[13][:eliminar] == 1 %>
                <li class="<%= is_active_controller('historics') %>">
                  <%= link_to historics_path do %>
                    <i class='fa fa-book'></i> <%= t('views.historicos') %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>


      </ul>
    </div>
  </nav>
<% else %>
<% end %>

<script>
    $("#abre").click(function () {
        var tiene = $(this).hasClass("cerrado")
        if (tiene == false) {
            $(this).removeClass("abierto")
            $(this).addClass("cerrado")
            $("#menu").hide();
        } else {
            $(this).removeClass("cerrado")
            $(this).addClass("abierto")
            $("#menu").show();
        }
    })

</script>