<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <%= favicon_link_tag 'logoKS.png' %>
  <title><%= t('all.profile_template') %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= Gon::Base.render_data %>
</head>


<input type="hidden" id="idioma_app" value="<%= I18n.locale %>">
<% if current_user %>
  <% if is_active_controller('clients') || is_active_controller('cards') || is_active_controller('ptlfs') %>
    <body class="pace-done mini-navbar">
    <!-- Wrapper-->
    <div id="wrapper">
      <%= render 'layouts/navigation' %>


      <input type="hidden" value="<%= I18n.locale %>" id="idiomalocale">
      <input type="hidden" value="<%= I18n.locale %>" id="idioma_app">
      <!-- Navigation -->

      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <!-- Main view  -->
        <% if notice %>
          <p class="alert alert-success alert-dismissible" id="mensaje1">
            <label><%= notice %></label></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger alert-dismissible" id="mensaje2">
            <label id="msj"><%= alert %></label></p>
        <% end %>
        <%= yield %>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

      </div>
      <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    </body>
  <% else %>
    <body class="pace-done">
    <!-- Wrapper-->
    <div id="wrapper">
      <%= render 'layouts/navigation' %>

      <!-- Navigation -->

      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <!-- Main view  -->
        <% if notice %>
          <p class="alert alert-success alert-dismissible" id="mensaje3">
            <label><%= notice %></label></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger alert-dismissible" id="mensaje4">
            <label id="msj"><%= alert %></label></p>
        <% end %>
        <%= yield %>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

      </div>
      <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    </body>
  <% end %>
<% else %>

  <body style="background-color: #f3f3f4;">

  <%#= current_user.name %>

  <% if notice %>
    <div class="container">
      <div class="alert alert-success alert-dismissable" id="mensaje5">
        <label><%= notice %></label>
      </div>
    </div>
  <% elsif alert %>
    <!--<<div class="ibox-content ">-->
    <div class="container">
      <div class="alert alert-danger alert-dismissable" id="mensaje6">
        <label id="msj"><%= alert %></label>
      </div>
    </div>


  <% end %>
  <div>
    <div class="row">

      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= yield %>
      </div>
      <div class="col-md-3">
        <p><br><br><br><br></p>
        <%= link_to t('views.sessions_new.reactivation'), expired_accounts_new_path, :class => 'btn btn-danger', :id => "activarCuenta", :style => "display:none" %>
      </div>

    </div>
  </div>
<% end %>
<input type="hidden" id="dan" value="<%= t('all.Requerido')%>">
<input type="hidden" id="war" value="<%= t('all.Rango')%>">
</body>
<%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
<%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
<%= yield :stylesheet %>
<%= yield :javascript %>
</html>

<script type="text/javascript" charset="utf-8">
    $("#mensaje1,#mensaje2,#mensaje3,#mensaje4,#mensaje5,#mensaje6,#mensaje7,#mensaje8,#mensaje9").fadeTo(3500, 500).slideUp(500, function () {
        $("#mensaje2").slideUp(500);
    });
</script>